/* ========================================= */
/*     02) COMPONENTS                        */
/* ========================================= */
/*
 * 01. TIMELINE
 */
.timeline {
  width: 100%;
  position: relative;
  padding: 1px 0;
  list-style: none;
  font-weight: 500;
}

.timeline .timeline-item {
  padding-left: 0;
  padding-right: 30px;
}

.timeline .timeline-item.timeline-item-right,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
  padding-left: 30px;
  padding-right: 0;
}

.timeline .timeline-item .timeline-event {
  width: 100%;
}

.timeline:before {
  border-right-style: solid;
}

.timeline:before,
.timeline:after {
  content: " ";
  display: block;
}

.timeline:after {
  clear: both;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 100% !important;
  margin-left: 2px;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: rgba(52, 40, 104, 0.1);
}

.timeline .timeline-label .label {
  background-color: #e76c90;
  border-radius: 35px;
  color: #fff;
  display: inline;
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 1;
  padding: 0.65rem 1.4rem;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.timeline.timeline-line-solid:before {
  border-right-style: solid;
}

.timeline.timeline-line-dotted:before {
  border-right-style: dotted;
}

.timeline.timeline-line-dashed:before {
  border-right-style: dashed;
}

.timeline .timeline-item {
  position: relative;
  float: left;
  clear: left;
  width: 50%;
  margin-bottom: 20px;
}

.timeline .timeline-item:before,
.timeline .timeline-item:after {
  content: "";
  display: table;
}

.timeline .timeline-item:after {
  clear: both;
}

.timeline .timeline-item:last-child {
  margin-bottom: 0 !important;
}

.timeline .timeline-item.timeline-item-right > .timeline-event,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-event {
  float: right !important;
}

.timeline .timeline-item.timeline-item-right > .timeline-event:before,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-event:before,
.timeline .timeline-item.timeline-item-right > .timeline-event:after,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-event:after {
  right: auto !important;
  border-left-width: 0 !important;
}

.timeline .timeline-item.timeline-item-right > .timeline-event:before,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-event:before {
  left: -15px !important;
  border-right-width: 15px !important;
}

.timeline .timeline-item.timeline-item-right > .timeline-event:after,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-event:after {
  left: -14px !important;
  border-right-width: 14px !important;
}

.timeline .timeline-item > .timeline-event:before {
  top: 10px;
  right: -15px;
  border-top: 15px solid transparent;
  border-left-width: 15px;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-bottom: 15px solid transparent;
}

.timeline .timeline-item > .timeline-event:after {
  top: 11px;
  right: -14px;
  border-top: 14px solid transparent;
  border-left-width: 14px;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-bottom: 14px solid transparent;
}

.timeline .timeline-item > .timeline-point {
  top: 25px;
}

.timeline .timeline-item:nth-of-type(2) {
  margin-top: 40px;
}

.timeline .timeline-item.timeline-item-left,
.timeline .timeline-item.timeline-item-right {
  clear: both !important;
}

.timeline .timeline-item.timeline-item-right,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
  float: right;
  clear: right;
}

.timeline .timeline-item.timeline-item-right > .timeline-point,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-point {
  left: -14px;
}

.timeline .timeline-item > .timeline-event {
  position: relative;
  float: left;
}

.timeline .timeline-item > .timeline-event:before {
  border-left-color: rgba(52, 40, 104, 0.04);
  border-right-color: rgba(52, 40, 104, 0.04);
}

.timeline .timeline-item > .timeline-event:after {
  border-left-color: rgba(52, 40, 104, 0.04);
  border-right-color: rgba(52, 40, 104, 0.04);
}

.timeline .timeline-item > .timeline-event:before,
.timeline .timeline-item > .timeline-event:after {
  content: "";
  display: inline-block;
  position: absolute;
}

.timeline .timeline-item > .timeline-point {
  color: #5d5386;
  background: #5d5386;
  right: -14px;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  margin-left: 8px;
  margin-right: 8px;
  position: absolute;
  z-index: 100;
  border-width: 3px;
  border-style: solid;
  border-radius: 100%;
  line-height: 20px;
  text-align: center;
  box-shadow: 0 0 0 5px #f2f3f8;
}

.timeline .timeline-label {
  position: relative;
  float: left;
  clear: left;
  width: 50%;
  margin-bottom: 20px;
  top: 1px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
}

.timeline .timeline-label:before,
.timeline .timeline-label:after {
  content: "";
  display: table;
}

.timeline .timeline-label:after {
  clear: both;
}

.timeline .timeline-label:last-child {
  margin-bottom: 0 !important;
}

.timeline .timeline-label + .timeline-item {
  margin-top: 0;
}

.timeline .timeline-label + .timeline-item + .timeline-item {
  margin-top: 40px;
}

.timeline .time-right {
  color: rgba(52, 40, 104, 0.5);
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.85rem;
  font-weight: 500;
}

.timeline .time-left {
  color: rgba(52, 40, 104, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.85rem;
  font-weight: 500;
}

.timeline .widget-header .user-image {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.07rem;
}

.timeline .widget-header .user-image img {
  width: 50px;
}

.timeline .widget-header .title {
  color: #2c304d;
  font-size: 1rem;
}

.timeline .widget-header .username {
  color: #e76c90;
}

.timeline .widget-header .time {
  font-size: 0.85rem;
}

.timeline .widget-body {
  padding: 1rem 1.4rem;
}

.timeline .widget-footer {
  border-top: 1px solid #eee;
  margin: 0 1.4rem;
  padding: 1.07rem 0;
}

.timeline .users-like {
  padding: 0;
}

.timeline .users-like a {
  margin: 0 -1.6rem 0 0;
  transition: all 0.4s ease;
}

.timeline .users-like a:hover {
  margin-right: -0.3rem;
}

.timeline .users-like img {
  width: 40px;
  border: 0.25rem solid #fff;
}

.timeline .users-like a.view-more {
  background: #5d5386;
  color: #fff;
  width: 40px;
  height: 40px;
  border: 0.25rem solid #fff;
  border-radius: 50%;
  vertical-align: middle;
  font-size: 0.85rem;
  text-align: center;
  line-height: 30px;
  margin-right: 0;
}

.timeline .widget-footer .meta li {
  display: inline-block;
  margin-right: 0.5rem;
}

.timeline .widget-footer .meta li:last-child {
  margin-right: 0;
}

.timeline .widget-footer .meta li a {
  color: rgba(52, 40, 104, 0.3);
}

.timeline .widget-footer .meta li a:hover {
  color: rgba(52, 40, 104, 0.9);
}

.timeline .widget-footer .meta li i {
  font-size: 1.8rem;
  vertical-align: middle;
  margin-right: 0.3rem;
}

.timeline .widget-footer .meta li .numb {
  vertical-align: middle;
}

@media screen and (max-width: 768px){
  .timeline.timeline {
    width: 100%;
    max-width: 100%;
  }

  .timeline.timeline .timeline-item {
    padding-left: 72px;
    padding-right: 0;
  }

  .timeline.timeline .timeline-item.timeline-item-right,
  .timeline.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
    padding-left: 72px;
    padding-right: 0;
  }

  .timeline.timeline .timeline-item .timeline-event {
    width: 100%;
  }

  .timeline.timeline:before {
    left: 42px;
    width: 0;
    margin-left: -1px;
  }

  .timeline.timeline .timeline-item {
    width: 100%;
    margin-bottom: 20px;
  }

  .timeline.timeline .timeline-item:nth-of-type(even) {
    margin-top: 0;
  }

  .timeline.timeline .timeline-item > .timeline-event {
    float: right !important;
  }

  .timeline.timeline .timeline-item > .timeline-event:before,
  .timeline.timeline .timeline-item > .timeline-event:after {
    right: auto !important;
    border-left-width: 0 !important;
  }

  .timeline.timeline .timeline-item > .timeline-event:before {
    left: -15px !important;
    border-right-width: 15px !important;
  }

  .timeline.timeline .timeline-item > .timeline-event:after {
    left: -14px !important;
    border-right-width: 14px !important;
  }

  .timeline.timeline .timeline-item > .timeline-point {
    transform: translateX(-50%);
    left: 42px !important;
    margin-left: 0;
  }

  .timeline.timeline .timeline-label {
    transform: translateX(-50%);
    margin: 0 0 20px 42px;
  }

  .timeline.timeline .timeline-label + .timeline-item + .timeline-item {
    margin-top: 0;
  }

  .timeline .time-right {
    left: 0;
  }
}
/*
 * 02. TABS
 */
.nav-tabs {
  border-bottom: 2px solid #eee;
}

.nav-tabs .nav-item {
  position: relative;
}

.nav-link {
  display: block;
  padding: 0.7rem 1rem;
}

.nav-tabs .nav-link {
  border: 0 none;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #e76c90;
  background-color: #fff;
  border-bottom: 2px solid #5d5386 !important;
  margin-bottom: -1px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: 0 none;
}

.nav-tabs .nav-link i {
  color: #aea9c3;
}

.nav-tabs > li > a {
  border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
  border: none;
  color: #5d5386 !important;
  background: transparent;
}

.nav-tabs > li > a::after {
  content: "";
  background: #5d5386;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  transition: all 0.2s ease 0s;
  transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
  transform: scale(1);
}

.nav-tabs .nav-link.disabled {
  color: #98a8b4;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.nav-tabs .dropdown-toggle::after {
  border: 0 none;
}

.nav-tabs .dropdown-item {
  color: #5d5386;
  padding: 0.65rem 1.5rem;
}

.nav-tabs .dropdown-item.active,
.nav-tabs .dropdown-item:active {
  color: #fff !important;
  background-color: #5d5386;
}

.nav-left.nav-tabs {
  float: left;
  border-bottom: 0;
  border-radius: 0;
  display: table;
  padding: 0.65rem 1.07rem;
}

.nav-left.nav-tabs .nav-item {
  text-align: center;
}

.nav-link i {
  color: #aea9c3;
}
/*
 * 03. ALERTS
 */
.alert {
  color: #fff;
  position: relative;
  padding: 0.85rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-lg {
  padding: 1.25rem;
}

.alert i {
  font-size: 2rem;
  vertical-align: middle;
}

.alert .close::before {
  content: "\f129";
}

.alert .close {
  font-family: "ionicons";
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  font-size: 1rem;
  outline: none !important;
  text-shadow: none;
  cursor: pointer;
}

.alert .close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  padding-right: 1.25rem;
  color: inherit;
  opacity: 1;
}

.alert-primary .close,
.alert-succes .close,
.alert-info .close,
.alert-warning .close,
.alert-danger .close {
  color: #fff;
}

.alert-secondary .close {
  color: #2c304d;
}

.alert-shadow {
  color: #2c304d;
  background-color: #fff;
  border-color: #eee;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.15);
}

.alert-primary {
  color: #fff;
  background-color: #5d5386;
  border-color: #5d5386;
}

.alert-secondary {
  color: #2c304d;
  background-color: #e4e8f0;
  border-color: #e4e8f0;
}

.alert-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.alert-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.alert-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.alert-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #c9302c;
}

.alert-outline-primary.dashed,
.alert-outline-secondary.dashed,
.alert-outline-success.dashed,
.alert-outline-info.dashed,
.alert-outline-warning.dashed,
.alert-outline-danger.dashed {
  border-style: dashed;
}

.alert-outline-primary.dotted,
.alert-outline-secondary.dotted,
.alert-outline-success.dotted,
.alert-outline-info.dotted,
.alert-outline-warning.dotted,
.alert-outline-danger.dotted {
  border-style: dotted;
}

.alert-outline-primary {
  color: #5d5386;
  border-color: #5d5386;
  border-width: 2px;
}

.alert-outline-secondary {
  color: #2c304d;
  border-color: #e4e8f0;
  border-width: 2px;
}

.alert-outline-success {
  color: #5cb85c;
  border-color: #5cb85c;
  border-width: 2px;
}

.alert-outline-info {
  color: #5bc0de;
  border-color: #5bc0de;
  border-width: 2px;
}

.alert-outline-warning {
  color: #f0ad4e;
  border-color: #f0ad4e;
  border-width: 2px;
}

.alert-outline-danger {
  color: #c9302c;
  border-color: #c9302c;
  border-width: 2px;
}

.alert-primary-bordered {
  color: #5d5386;
  border: 1px solid #eee;
  box-shadow: 7px 0 0 0 #5d5386 inset;
}

.alert-secondary-bordered {
  color: #2c304d;
  border: 1px solid #eee;
  box-shadow: 7px 0 0 0 #2c304d inset;
}

.alert-success-bordered {
  color: #5cb85c;
  border: 1px solid #eee;
  box-shadow: 7px 0 0 0 #5cb85c inset;
}

.alert-info-bordered {
  color: #5bc0de;
  border: 1px solid #eee;
  box-shadow: 7px 0 0 0 #5bc0de inset;
}

.alert-warning-bordered {
  color: #f0ad4e;
  border: 1px solid #eee;
  box-shadow: 7px 0 0 0 #f0ad4e inset;
}

.alert-danger-bordered {
  color: #c9302c;
  border: 1px solid #eee;
  box-shadow: 7px 0 0 0 #c9302c inset;
}
/*
 * 04. ACCORDION
 */
.accordion .card-header{
  padding: 1.6rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0 none;
}

.accordion-icon .card-header {
  padding: 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0 none;
}

.accordion-icon.icon-01 .card-header:before {
  font-family: 'lineAwesome';
  content: "\f113";
  display: inline-block;
  font-size: 1.4rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.accordion-icon.icon-01 .card-header.collapsed:before {
  content: "\f110";
}

.accordion-icon.icon-02 .card-header:before {
  font-family: 'lineAwesome';
  content: "\f28e";
  display: inline-block;
  font-size: 1.4rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.accordion-icon.icon-02 .card-header.collapsed:before {
  content: "\f2c2";
}

.accordion .card-title,
.accordion-icon .card-title {
  margin-bottom: 0;
  display: inline-block;
}

.accordion .card-body,
.accordion-icon .card-body {
  border-bottom: 0.07rem solid #eee;
}
/*
 * 05. POPOVER
 */
.popover {
  border-color: #eee;
  padding: 0;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.18);
}

.popover .popover-header {
  background-color: #fff;
  border-color: #eee;
  color: #5d5386;
  padding: 0.85rem 1.07rem;
}

.popover-body {
  padding: 0.85rem 1.07rem;
  color: #2c304d;
}

.bs-popover-top .arrow::before,
.bs-popover-auto[x-placement^="top"] .arrow::before {
  right: 0;
  border-top-color: #eee;
}

.bs-popover-right .arrow::before,
.bs-popover-auto[x-placement^="right"] .arrow::before {
  right: 0;
  border-right-color: #eee;
}

.bs-popover-bottom .arrow::before,
.bs-popover-auto[x-placement^="bottom"] .arrow::before {
  right: 0;
  border-bottom-color: #eee;
}

.bs-popover-left .arrow::before,
.bs-popover-auto[x-placement^="left"] .arrow::before {
  right: 0;
  border-left-color: #eee;
}
/*
 * 06. TOOLTIP
 */
.tooltip-inner {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  max-width: 200px;
  color: #98a8b4;
  text-align: center;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.18);
  border-radius: 35px;
  padding: 0.65rem 1.07rem;
}

.tooltip.show {
  opacity: 1;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before,
.tooltip.bs-tooltip-top .arrow::before {
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #fff;
}

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before,
.tooltip.bs-tooltip-right .arrow::before {
  left: -5px;
  top: 50%;
  border-width: 5px 5px 5px 0;
  border-right-color: #fff;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.tooltip.bs-tooltip-bottom .arrow::before {
  top: -5px;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #fff;
}

.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before,
.tooltip.bs-tooltip-left .arrow::before {
  right: -5px;
  top: 50%;
  border-width: 5px 0 5px 5px;
  border-left-color: #fff;
}
/*
 * 07. NOTIFICATIONS
 */
.noty_layout_mixin,
#noty_layout__top,
#noty_layout__topLeft,
#noty_layout__topCenter,
#noty_layout__topRight,
#noty_layout__bottom,
#noty_layout__bottomLeft,
#noty_layout__bottomCenter,
#noty_layout__bottomRight,
#noty_layout__center,
#noty_layout__centerLeft,
#noty_layout__centerRight {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999999;
  border-radius: 4px;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  filter: blur(0);
  -webkit-filter: blur(0);
  max-width: 90%;
}

#noty_layout__top {
  top: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__topLeft {
  top: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__topCenter {
  top: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(-webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__topRight {
  top: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__bottom {
  bottom: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__bottomLeft {
  bottom: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__bottomCenter {
  bottom: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(-webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__bottomRight {
  bottom: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__center {
  top: 50%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(-webkit-calc(-50% - .5px), -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(calc(-50% - .5px), calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerLeft {
  top: 50%;
  left: 20px;
  width: 325px;
  -webkit-transform: translate(0, -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerRight {
  top: 50%;
  right: 20px;
  width: 325px;
  -webkit-transform: translate(0, -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

.noty_progressbar {
  display: none;
}

.noty_has_timeout.noty_has_progressbar .noty_progressbar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0 0 4px 4px;
  opacity: 0.3;
  filter: alpha(opacity=10);
}

.noty_bar {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate(0, 0) translateZ(0) scale(1, 1);
  -ms-transform: translate(0, 0) scale(1, 1);
  transform: translate(0, 0) scale(1, 1);
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
}

.noty_effects_open {
  opacity: 0;
  -webkit-transform: translate(50%);
  -ms-transform: translate(50%);
  transform: translate(50%);
  -webkit-animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.noty_effects_close {
  -webkit-animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.noty_fix_effects_height {
  -webkit-animation: noty_anim_height 75ms ease-out;
  animation: noty_anim_height 75ms ease-out;
}

.noty_close_with_click {
  cursor: pointer;
}

.noty_close_button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.noty_close_button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.noty_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
  opacity: .3;
  left: 0;
  top: 0;
}

.noty_modal.noty_modal_open {
  opacity: 0;
  -webkit-animation: noty_modal_in .3s ease-out;
  animation: noty_modal_in .3s ease-out;
}

.noty_modal.noty_modal_close {
  -webkit-animation: noty_modal_out .3s ease-out;
  animation: noty_modal_out .3s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes noty_modal_in {
  100% {
    opacity: .3;
  }
}

@keyframes noty_modal_in {
  100% {
    opacity: .3;
  }
}

@-webkit-keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}

@keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}

@keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes noty_anim_in {
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes noty_anim_in {
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
  }
}

@-webkit-keyframes noty_anim_out {
  100% {
    -webkit-transform: translate(50%);
    transform: translate(50%);
    opacity: 0;
  }
}

@keyframes noty_anim_out {
  100% {
    -webkit-transform: translate(50%);
    transform: translate(50%);
    opacity: 0;
  }
}

@-webkit-keyframes noty_anim_height {
  100% {
    height: 0;
  }
}

@keyframes noty_anim_height {
  100% {
    height: 0;
  }
}

.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  position: relative;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.noty_bar .noty_body {
  font-weight: 600;
  padding: 1.07rem 1.25rem;
}

.noty_bar .noty_buttons {
  padding: 1.07rem;
}

.noty_bar .noty_close_button {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  filter: alpha(opacity=20);
  opacity: .5;
  background: transparent;
}

.noty_bar .noty_close_button:hover {
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .75;
}

.noty_type__alert,
.noty_type__notification {
  background-color: rgba(44, 48, 77, 0.8);
  color: #fff;
}

.noty_type__notification.noty_has_timeout.noty_has_progressbar .noty_progressbar {
  background-color: #e76c90;
  opacity: 0.5;
}

.noty_type__warning {
  background-color: #f0ad4e;
  color: #fff;
  border-color: #f0ad4e;
}

.noty_type__error {
  background-color: #fe195e;
  color: #fff;
  border-color: #fe195e;
}

.noty_type__info,
.noty_type__information {
  background-color: #5bc0de;
  color: #fff;
  border-color: #5bc0de;
}

.noty_type__success {
  background-color: #5cb85c;
  color: #fff;
  border-color: #5cb85c;
}
/*
 * 08. DATEPICKER
 */
.daterangepicker .btn-primary, .daterangepicker .btn-primary:hover, .daterangepicker .btn-primary:focus,
.daterangepicker .btn-primary.disabled, .daterangepicker .btn-primary:disabled{
  background-color: #5d5386;
  border-color: #5d5386;
}
.input-daterange input {
  text-align: center
}

.input-daterange input:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px
}
.input-daterange input:last-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px
}
.daterangepicker {
  position: absolute;
  left: 0;
  margin-top: 5px;
  width: auto;
  padding: 0
}
.daterangepicker.dropdown-menu {
  max-width: none;
  background-color: transparent;
  border: 0;
  z-index: 1000;
  -webkit-box-shadow: none;
  box-shadow: none
}
.daterangepicker.dropup {
  margin-top: -7px
}

.daterangepicker .calendar,
.daterangepicker .ranges {
  float: left
}

.daterangepicker.opensleft .calendars {
  float: left
}

.daterangepicker.opensright .calendars {
  float: right
}

.daterangepicker.single .calendar {
  float: none;
  margin-left: 0;
  margin-right: 0
}

.daterangepicker.single .ranges {
  display: none
}

.daterangepicker.show-calendar .calendar {
  display: block
}

.daterangepicker .calendar {
  display: none;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  margin: 7px;
  padding: 14px;
  -webkit-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08);
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08)
}

.daterangepicker table {
  width: 100%;
  margin: 0
}

.daterangepicker table tbody td,
.daterangepicker table tbody th {
  cursor: pointer
}

.daterangepicker td,
.daterangepicker th {
  white-space: nowrap;
  text-align: center
}

.daterangepicker td.week,
.daterangepicker th.week {
  font-size: 80%;
  color: #ccc
}

.daterangepicker th {
  color: #2c304d;
  font-weight: 500;
  font-size: 1rem;
}

.daterangepicker th>i {
  top: 0
}

.daterangepicker th.next,
.daterangepicker th.prev {
  cursor: pointer
}
.daterangepicker th.next i,
.daterangepicker th.prev i{
  font-size: 20px;
}

.daterangepicker th.available:focus,
.daterangepicker th.available:hover {
  color: #333
}

.daterangepicker td.available:focus,
.daterangepicker td.available:hover {
  background-color: rgba(200, 200, 200, 0.2);
  border-radius: 3px;
}

.daterangepicker td.disabled,
.daterangepicker td.off {
  color: #aea9c3 !important;
}

.daterangepicker td.available {
  color: #2c304d;
}

.daterangepicker td.disabled {
  cursor: not-allowed
}

.daterangepicker td.in-range {
  background-color: rgba(200, 200, 200, 0.2);
}

.daterangepicker td.active,
.daterangepicker td.active:focus,
.daterangepicker td.active:hover {
  background-color: #5d5386;
  color: #fff;
  border-radius: 4px;
}

.daterangepicker .table-condensed tr>td,
.daterangepicker .table-condensed tr>th {
  padding: 10px;
  line-height: 1.2
}

.daterangepicker .table-condensed thead tr:last-child th {
  padding-top: 14px
}

.daterangepicker .table-condensed .month {
  font-size: 1.07rem;
  line-height: 1;
  color: #e76c90;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500
}

.daterangepicker select {
  display: inline-block
}

.daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%
}

.daterangepicker select.yearselect {
  width: 40%
}

.daterangepicker select.ampmselect,
.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect {
  width: 60px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.daterangepicker .daterangepicker_input {
  position: relative
}

.daterangepicker .daterangepicker_input i {
  position: absolute;
  right: 11px;
  top: auto;
  bottom: 2px;
  color: #999;
  font-size: 24px;
}

.daterangepicker .daterangepicker_input input {
  padding-left: 11px;
  padding-right: 34px
}

.daterangepicker .calendar-time {
  text-align: center;
  margin: 12px 0
}

.daterangepicker .calendar-time select.disabled {
  color: #ccc;
  cursor: not-allowed
}

.ranges {
  background-color: #fff;
  position: relative;
  border: 1px solid #eee;
  border-radius: 4px;
  width: 200px;
  margin-top: 7px;
  -webkit-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08);
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08)
}

.opensright .ranges {
  margin-left: 0
}

.opensleft .ranges {
  margin-right: 0
}

.ranges ul {
  list-style: none;
  margin: 0;
  padding: 7px 0
}

.ranges ul+.daterangepicker-inputs {
  border-top: 1px solid #e5e5e5
}

.ranges ul li {
  color: #333;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 1px
}

.ranges ul li:first-child {
  margin-top: 0
}

.ranges ul li:focus,
.ranges ul li:hover {
  background-color: rgba(200, 200, 200, 0.2)
}

.ranges ul li.active {
  color: #fff;
  background-color: #6200ea
}

.ranges .daterangepicker-inputs {
  padding: 12px;
  padding-top: 19px
}

.ranges .daterangepicker-inputs .daterangepicker_input+.daterangepicker_input {
  margin-top: 19px
}

.ranges .daterangepicker-inputs .daterangepicker_input>span {
  display: block;
  font-size: 12px;
  margin-bottom: 7px;
  color: #999
}

.ranges .daterangepicker-inputs+.range_inputs {
  border-top: 1px solid #e5e5e5
}

.ranges .range_inputs {
  padding: 12px
}

.ranges .range_inputs .btn {
  display: block;
  width: 100%
}

.ranges .range_inputs .btn+.btn {
  margin-top: 12px
}

@media (min-width:769px) {
  .ranges {
    margin: 7px
  }
}

.daterange-custom {
  cursor: pointer
}

.daterange-custom:after {
  content: '';
  display: table;
  clear: both
}

.daterange-custom .badge,
.daterange-custom .label {
  margin: 4px 0 0 7px;
  vertical-align: top
}

.daterange-custom .label-icon {
  margin-top: 0;
  margin-right: 5px
}

.daterange-custom-display {
  display: inline-block;
  position: relative;
  padding-left: 21px;
  line-height: 1
}

.daterange-custom-display:after {
  content: '\e9c9';
  font-family: icomoon;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all ease-in-out .2s;
  -o-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s
}

.daterange-custom.is-opened .daterange-custom-display:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg)
}

.daterange-custom-display>i {
  display: inline-block;
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -.015em
}

.daterange-custom-display b {
  display: inline-block;
  margin-left: 4px;
  font-weight: 400
}

.daterange-custom-display b>i {
  font-size: 11px;
  display: block;
  line-height: 12px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400
}

.daterange-custom-display em {
  line-height: 30px;
  vertical-align: top;
  margin: 0 4px
}

@media (max-width:769px) {
  .opensleft,
  .opensright {
    left: 0!important;
    right: 0
  }
  .opensleft .calendars,
  .opensright .calendars {
    float: none
  }
  .daterangepicker.opensleft .calendar,
  .daterangepicker.opensleft .calendars,
  .daterangepicker.opensleft .ranges,
  .daterangepicker.opensright .calendar,
  .daterangepicker.opensright .calendars,
  .daterangepicker.opensright .ranges {
    float: none
  }
  .daterangepicker {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px
  }
  .daterangepicker .calendar {
    margin-left: 0;
    margin-right: 0
  }
  .daterangepicker .ranges {
    width: 100%
  }
}
/*
 * 09. HOVER
 */
/*
 * 01
 */
.img-hover-01 {
  background: #2c304d;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 4px;
  margin: 0;
}

.img-hover-01 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.img-hover-01 img {
  max-width: 100%;
  border-radius: 4px;
}

.img-hover-01 > div {
  width: 100%;
  bottom: 0;
  position: absolute;
  padding: 8px;
  color: #fff;
  text-align: right;
  overflow: hidden;
}

.img-hover-01 > div a i {
  font-size: 1.8rem;
  color: #fff;
  padding: 0px 5px;
  position: relative;
  bottom: -50px;
}

.img-hover-01 > div a span {
  font-size: 1.07rem;
  color: #fff;
  padding: 0px;
  position: relative;
  bottom: -50px;
}

.img-hover-01 a {
  opacity: 0.8;
  transition: all 0.1s;
}

.img-hover-01 a:hover {
  opacity: 1;
}

.img-hover-01:hover img,
.img-hover-01.hover img {
  opacity: 0.2;
  bottom: 0;
}

.img-hover-01:hover > div,
.img-hover-01.hover > div {
  bottom: 5px;
}

.img-hover-01:hover > div a i,
.img-hover-01.hover > div a i {
  bottom: 5px;
}

.img-hover-01:hover > div a span,
.img-hover-01.hover > div a span {
  bottom: 8px;
}

.img-hover-01:hover a span,
.img-hover-01.hover a span {
  transition-delay: 0.4s;
}

.img-hover-01:hover a:first-child i,
.img-hover-01.hover a:first-child i {
  transition-delay: 0.1s;
}

.img-hover-01:hover a:nth-child(2) i,
.img-hover-01.hover a:nth-child(2) i {
  transition-delay: 0.2s;
}
/*
 * 02
 */
.img-hover-02 {
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
  background: #2c304d;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.img-hover-02 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.img-hover-02 img {
  max-width: 100%;
  vertical-align: top;
}

.img-hover-02 i {
  position: absolute;
  top: 100%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #e76c90;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #fff;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.25);
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.img-hover-02 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.img-hover-02:hover img,
.img-hover-02.hover img {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.img-hover-02:hover i,
.img-hover-02.hover i {
  top: 50%;
  transition: all 500ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 1;
}
