/* ========================================= */
/*     01) GLOBALS                           */
/* ========================================= */
html {
  font-size: 14px;
}

body,html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #98a8b4;
  background-color: #f2f3f8;
}

a {
  color: #5d5386;
  text-decoration: none;
  transition: all 0.5s ease;
}

a:focus, a:hover {
  color: #e76c90;
  text-decoration: underline;
}

*[class*="icon-"] {
  transform: translateY(3px);
}

body {
  overflow-x: hidden;
}

a, i, span {
  display: inline-block;
  text-decoration: none;
}

a:hover, a:focus, i:hover, i:focus, span:hover, span:focus {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ol, ul, li{
  list-style:none;
}

section {
  padding: 35px 0;
}

.section {
  padding: 35px 0;
}

canvas {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.1;
  color: #2c304d;
}

h1, .h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

h2, .h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h3, .h3 {
  font-size: 1.35rem;
  font-weight: 500;
}

h4, .h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

h5, .h5 {
  font-size: 1rem;
  font-weight: 500;
}

h6, .h6 {
  font-size: 0.85rem;
  font-weight: 500;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.1;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
}

.canvas {
  position: absolute;
  margin: auto;
  top: 50%; left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.loader-logo {
  display: block;
  width: 120px;
  margin-bottom: 25px;
}

.spinner {
  animation: spinner 1s linear infinite;
  border: solid 5px transparent;
  border-top: solid 5px #5d5386;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.blockquote {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 0.85rem;
  border-left: 0.25rem solid #eceeef;
}

.blockquote-footer {
  color: #636c72;
}

.blockquote-footer::before {
  content: "\2014 \00A0";
}

.blockquote-reverse {
  padding-right: 1rem;
  padding-left: 0;
  text-align: right;
  border-right: 0.25rem solid #eceeef;
  border-left: 0;
}

.page-header {
  position: relative;
  z-index: 99;
  padding: 0 15px 30px 15px;
  width: 100%;
}

.page-header-2 {
  background: #fff;
  border-bottom: 1px solid #eee;
  position: relative;
  z-index: 99;
  padding: 25px 30px;
  margin-bottom: 10px;
  width: 100%;
}

.page-header-title {
  color: #2c304d;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  margin-right: auto !important;
}

.page-header-tools {
  display: inline-block;
}

.container-fluid {
  padding: 30px 30px;
}

@media (max-width: 576px) {
  .container-fluid {
    padding: 15px;
  }

  .content-inner {
    margin-left: 0!important;
  }

  .page-header, .page-header-2 {
    padding: 20px 15px;
  }
}

header.page-header {
  padding: 30px 0;
}

table {
  font-size: 1rem;
  color: #98a8b4;
}

.content-inner {
  width: calc(100% - 240px);
  margin-left: 240px;
  transition: all 0.3s ease;
}

.content-inner.active {
  width: calc(100% - 90px);
  margin-left: 90px;
  transition: all 0.3s ease;
}

.content-inner.compact {
  width: calc(100% - 90px);
  margin-left: 90px;
  transition: all 0.3s ease;
}

.content-inner.compact.active {
  width: calc(100% - 0px);
  margin-left: 0px;
  transition: all 0.3s ease;
}

.content-inner.boxed {
  width: calc(100% - 0px);
  margin-left: 0;
}

button, input {
  outline: none !important;
}

.flex-row {
  display: flex;
}

.flex-row>[class*='col-'] {
  display: flex;
  flex-direction: column;
}

.flex-row>[class*='col-'] > .widget {
  background: #fff;
  height: 100%;
}

.flex-row>[class*='col-'] > .widget-image {
  height: 100%;
}

.flex-row.row:after,
.flex-row.row:before {
  display: flex;
}

.box-scroll {
  overflow-x: auto!important;
}

.go-top {
  background: #fff;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #2c304d;
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  display: none;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.15);
  z-index: 10000;
}

.go-top:hover,
.go-top:focus {
  color: #5d5386;
}

.c-icon {
  display: block;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
}

.c-icon i {
  color: #2c304d;
  font-size: 3rem;
  vertical-align: middle;
}

.c-class {
  color: #98a8b4;
  font-size: 0.85rem;
  font-weight: 500;
  width: 100%;
  display: block;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
}
/*
 * ANIMATION
 */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  transform-origin: top center;
  animation-name: swing;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}
/*
 * LOGO
 */
.logo-centered {
  width: 140px;
  margin: 0 auto;
}

.logo-centered img {
  width: 140px;
  margin-bottom: 50px;
}
/*
 * PHOTO
 */
.photo-profil {
  position: relative;
  width: 100px;
  margin: 0 auto 35px;
}

.photo-profil img {
  width: 100px;
  height: 100px;
}

.photo-profil .icon {
  position: absolute;
  background: #fff;
  font-size: 2rem;
  border-radius: 50%;
  right: -15px;
  bottom: -10px;
  box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  padding: 0;
}
/*
 * ICON
 */
.animated-icon {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  margin: 0 auto 30px;
}

.animated-icon .icon {
  background: #fff;
  font-size: 3.5rem;
  text-align: center;
  color: #2c304d;
  position: absolute;
  top: 7px;
  left: 7px;
}

.animated-icon .icon {
  width: 85px;
  height: 85px;
}

.animated-icon .icon i {
  position: relative;
  top: 5px;
}

.animated-icon .gradient, .animated-icon .gradient:after {
  display: block;
  content: "";
  width: 400px;
  height: 100px;
  background: #5d5386;
  background: linear-gradient(135deg, #5d5386 0%,#5d5386 20%,#e23f82 40%,#e23f82 60%,#5d5386 80%,#5d5386 100%);
}

.animated-icon .gradient {
  animation: 8s anim linear infinite;
}

.animated-icon .gradient:after {
  transform: translateX(400px);
}

@keyframes anim{
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-400px);
  }
}
/*
 * BACKGROUND & OVERLAY
 */
.elisyam-bg {
  height: 100vh;
  width: 100%;
}

.elisyam-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.elisyam-overlay.overlay-01 {
  background: linear-gradient(135deg, rgba(46,52,81,0.4) 0%,rgba(52,40,104,0.95) 100%);
}

.elisyam-overlay.overlay-02 {
  background: linear-gradient(135deg, rgba(255,195,113,0.4) 0%,rgba(205,95,109,0.95) 100%);
}

.elisyam-overlay.overlay-03 {
  background: linear-gradient(135deg, rgba(46,52,81,0.4) 0%,rgba(205,95,109,0.95) 100%);
}

.elisyam-overlay.overlay-04 {
  background: linear-gradient(135deg, rgba(66,39,90,0.4) 0%,rgba(115,75,109,0.95) 100%);
}

.elisyam-overlay.overlay-05 {
  background: linear-gradient(135deg, rgba(0,201,255,0.4) 0%,rgba(146,254,157,0.95) 100%);
}

.elisyam-overlay.overlay-06 {
  background: linear-gradient(135deg, rgba(46,52,81,0.2) 0%,rgba(46,52,81,0.95) 100%);
}

.elisyam-overlay.overlay-07 {
  background: linear-gradient(135deg, rgba(46,52,81,0.5) 0%,rgba(46,52,81,0.95) 100%);
}

.elisyam-overlay.overlay-08 {
  background: linear-gradient(135deg, rgba(46,52,81,0.85) 0%,rgba(46,52,81,0.85) 100%);
}

.elisyam-bg.background-01 {
  background: url('../../img/background/01.jpg') no-repeat;
  background-size: cover;
}

.elisyam-bg.background-02 {
  background: url('../../img/background/02.jpg') no-repeat;
  background-size: cover;
}

.elisyam-bg.background-03 {
  background: url('../../img/background/03.jpg') no-repeat;
  background-size: cover;
}

.elisyam-bg.background-04 {
  background: url('../../img/background/04.jpg') no-repeat;
  background-size: cover;
}

.elisyam-bg.background-05 {
  background: url('../../img/background/05.jpg') no-repeat;
  background-size: cover;
}

.elisyam-bg.background-06 {
  background: url('../../img/background/06.jpg') no-repeat;
  background-size: cover;
}

.bg-fixed-01 {
  background: linear-gradient(135deg, rgba(46,52,81,0.4) 0%,rgba(205,95,109,0.95) 100%),
  url('../../img/background/01.jpg') no-repeat center center;
}

.bg-fixed-02 {
  background: linear-gradient(135deg, rgba(46,52,81,0.4) 0%,rgba(205,95,109,0.95) 100%),
  url('../../img/background/02.jpg') no-repeat center center;
}

.bg-fixed-03 {
  background: linear-gradient(135deg, rgba(255,195,113,0.4) 0%,rgba(205,95,109,0.95) 100%),
  url('../../img/background/03.jpg') no-repeat center center;
}

.bg-fixed-04 {
  background: linear-gradient(135deg, rgba(46,52,81,0.5) 0%,rgba(46,52,81,0.95) 100%),
  url('../../img/background/04.jpg') no-repeat center center;
}

.bg-fixed-05 {
  background: linear-gradient(135deg, rgba(0,201,255,0.4) 0%,rgba(146,254,157,0.95) 100%),
  url('../../img/background/05.jpg') no-repeat center center;
}

.bg-fixed-06 {
  background: linear-gradient(135deg, rgba(66,39,90,0.4) 0%,rgba(115,75,109,0.95) 100%),
  url('../../img/background/06.jpg') no-repeat center center;
}

.bg-fixed-01,
.bg-fixed-02,
.bg-fixed-03,
.bg-fixed-04,
.bg-fixed-05,
.bg-fixed-06 {
  overflow: auto;
}

.full-screen {
  height: 100vh !important;
}
/*
 * BUTTON
 */
.btn {
  font-weight: 600 !important;
  line-height: 1.25;
  border: 2px solid transparent;
  padding: 10px 20px;
  font-size: 0.85rem;
  border-radius: 60px;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}

.ripple {
  background-position: center;
  transition: background 0.6s;
}

.ripple:hover {
  background: rgba(255, 255, 255, 0.15) radial-gradient(circle, transparent 1%, rgba(255, 255, 255, 0.15) 1%) center/15000%;
}

.ripple:active {
  background-color: rgba(255, 255, 255, 0.15);
  background-size: 100%;
  transition: background 0s;
}

.btn:focus, .btn.focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn:active, .btn.active {
  background-image: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.dropdown-menu {
  border-color: #eee;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.15);
}

.btn-shadow, .btn-shadow a {
  color: #5d5386;
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.15);
}

.btn-shadow i, .btn-shadow a i {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.btn-shadow:hover, .btn-shadow a:hover {
  color: #5d5386;
  box-shadow: 0 1px 20px 1px rgba(52, 40, 104, 0.2);
}

.btn-shadow:active {
  color: #5d5386;
  background-color: #fff;
  border-color: #fff;
}

.btn-shadow:focus, .btn-shadow.focus {
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.15) !important;
}

.btn-shadow.disabled, .btn-shadow:disabled {
  color: #9c90d0;
  background-color: #fff;
  border-color: #fff;
}

.btn-shadow:active, .btn-shadow.active,
.show > .btn-shadow.dropdown-toggle {
  color: #5d5386;
  background-color: #fff;
  background-image: none;
}

.btn-gradient-01, .btn-gradient-01 a {
  background: #e23f83;
  background: linear-gradient(to right, #e23f83 0%, #ea5844 100%);
  background-size: 200% auto;
  font-weight: 600;
  transition: 0.5s;
  color: #fff;
  border: 0 none;
  padding: 12px 20px;
}

.btn-gradient-01 i, .btn-gradient-01 a i {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.btn-gradient-01:hover, .btn-gradient-01 a:hover {
  color: #fff;
  background-position: right center;
}

.btn-gradient-01:active {
  color: #fff;
  background-color: #e23f83;
  border-color: #e23f83;
}

.btn-gradient-01:focus, .btn-gradient-01.focus {
  color: #fff;
  box-shadow: none;
}

.btn-gradient-01.disabled, .btn-gradient-01:disabled {
  background-color: none;
  opacity: 0.3;
}

.btn-gradient-01:active, .btn-gradient-01.active,
.show > .btn-gradient-01.dropdown-toggle {
  color: #fff;
  background-color: #e23f83;
  background-image: none;
}

.btn-gradient-02, .btn-gradient-02 a {
  background: #5d5386;
  background: linear-gradient(to right, #5d5386 0%, #5d5386 100%);
  background-size: 200% auto;
  font-weight: 600;
  transition: 0.5s;
  color: #fff;
  border: 0 none;
  padding: 12px 20px;
}

.btn-gradient-02 i, .btn-gradient-02 a i {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2rem;
  margin-right: 0.4rem;
}

.btn-gradient-02:hover, .btn-gradient-02 a:hover {
  color: #fff;
  background-position: right center;
}

.btn-gradient-02:active {
  color: #fff;
  background-color: #5d5386;
  border-color: #5d5386;
}

.btn-gradient-02:focus, .btn-gradient-02.focus {
  color: #fff;
  box-shadow: none;
}

.btn-gradient-02.disabled, .btn-gradient-02:disabled {
  background-color: none;
  opacity: 0.3;
}

.btn-gradient-02:active, .btn-gradient-02.active,
.show > .btn-gradient-02.dropdown-toggle {
  color: #fff;
  background-color: #5d5386;
  background-image: none;
}

.btn-gradient-03, .btn-gradient-03 a {
  background: #6859ea;
  background: linear-gradient(to right, #6859ea 0%, #6acbe0 100%);
  background-size: 200% auto;
  font-weight: 600;
  transition: 0.5s;
  color: #fff;
  border: 0 none;
  padding: 12px 20px;
}

.btn-gradient-03 i, .btn-gradient-03 a i {
  display: inline-block;
  font-size: 1.2rem;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.btn-gradient-03:hover, .btn-gradient-03 a:hover {
  color: #fff;
  background-position: right center;
}

.btn-gradient-03:active {
  color: #fff;
  background-color: #e23f83;
  border-color: #e23f83;
}

.btn-gradient-03:focus, .btn-gradient-03.focus {
  color: #fff;
  box-shadow: none;
}

.btn-gradient-03.disabled, .btn-gradient-03:disabled {
  background-color: none;
  opacity: 0.3;
}

.btn-gradient-03:active, .btn-gradient-03.active,
.show > .btn-gradient-03.dropdown-toggle {
  color: #fff;
  background-color: #e23f83;
  background-image: none;
}

.btn-gradient-04, .btn-gradient-04 a {
  background: #41c7af;
  background: linear-gradient(to right, #41c7af 0%, #54e38e 100%);
  background-size: 200% auto;
  font-weight: 600;
  transition: 0.5s;
  color: #fff;
  border: 0 none;
  padding: 12px 20px;
}

.btn-gradient-04 i, .btn-gradient-04 a i {
  display: inline-block;
  font-size: 1.2rem;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.btn-gradient-04:hover, .btn-gradient-04 a:hover {
  color: #fff;
  background-position: right center;
}

.btn-gradient-04:active {
  color: #fff;
  background-color: #e23f83;
  border-color: #e23f83;
}

.btn-gradient-04:focus, .btn-gradient-04.focus {
  color: #fff;
  box-shadow: none;
}

.btn-gradient-04.disabled, .btn-gradient-04:disabled {
  background-color: none;
  opacity: 0.3;
}

.btn-gradient-04:active, .btn-gradient-04.active,
.show > .btn-gradient-04.dropdown-toggle {
  color: #fff;
  background-color: #e23f83;
  background-image: none;
}

.btn-gradient-05, .btn-gradient-05 a {
  background: #bc0056;
  background: linear-gradient(to right, #bc0056 0%, #730062 100%);
  background-size: 200% auto;
  font-weight: 600;
  transition: 0.5s;
  color: #fff;
  border: 0 none;
  padding: 12px 20px;
}

.btn-gradient-05 i, .btn-gradient-05 a i {
  display: inline-block;
  font-size: 1.2rem;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.btn-gradient-05:hover, .btn-gradient-05 a:hover {
  color: #fff;
  background-position: right center;
}

.btn-gradient-05:active {
  color: #fff;
  background-color: #e23f83;
  border-color: #e23f83;
}

.btn-gradient-05:focus, .btn-gradient-05.focus {
  color: #fff;
  box-shadow: none;
}

.btn-gradient-05.disabled, .btn-gradient-05:disabled {
  background-color: none;
  opacity: 0.3;
}

.btn-gradient-05:active, .btn-gradient-05.active,
.show > .btn-gradient-05.dropdown-toggle {
  color: #fff;
  background-color: #e23f83;
  background-image: none;
}

.btn-primary {
  color: #fff;
  background-color: #5d5386;
  border-color: #5d5386;
}

.btn-primary i {
  color: #fff;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.btn-primary:hover {
  color: #fff;
  background-color: #5d5386;
  border-color: #5d5386;
}

.btn-primary:active {
  color: #fff;
  background-color: #5d5386;
  border-color: #5d5386;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: none;
  outline: none;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #9086b9;
  border-color: #9086b9;
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #594f82;
  border-color: #5d5386;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #5d5386;
  border-color: #5d5386;
}

.btn-secondary {
  color: #2c304d;
  background-color: #e4e8f0;
  border: 2px solid #e4e8f0;
}

.btn-secondary i {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #2c304d;
  border-color: #2c304d;
}

.btn-secondary:focus, .btn-secondary.focus {
  border-color: transparent;
  box-shadow: none;
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #9e9ead;
  background-color: #edf0f5;
  border-color: #edf0f5;
}

.btn-secondary:active, .btn-secondary.active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #2c304d;
  background-image: none;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
}

.btn-info i {
  color: #fff;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #31b0d5;
}

.btn-info:focus, .btn-info.focus {
  box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
}

.btn-info.disabled, .btn-info:disabled {
  background-color: #5bc0de;
}

.btn-info:active, .btn-info.active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #31b0d5;
  border-color: #31b0d5;
  background-image: none;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
}

.btn-success i {
  color: #fff;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #449d44;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
  background-color: #5cb85c;
}

.btn-success:active, .btn-success.active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #449d44;
  border-color: #449d44;
  background-image: none;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
}

.btn-warning i {
  color: #fff;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #ec971f;
}

.btn-warning:focus, .btn-warning.focus {
  box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
}

.btn-warning.disabled, .btn-warning:disabled {
  background-color: #f0ad4e;
}

.btn-warning:active, .btn-warning.active,
.show > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #ec971f;
  border-color: #ec971f;
  background-image: none;
}

.btn-danger {
  color: #fff;
  background-color: #fe195e;
}

.btn-danger i {
  color: #fff;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #c9302c;
}

.btn-danger:focus, .btn-danger.focus {
  box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
  background-color: #fe195e;
}

.btn-danger:active, .btn-danger.active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #c9302c;
  border-color: #c9302c;
  background-image: none;
}

.btn-light {
  color: #2c304d;
  background-color: #f8f9fa;
}

.btn-light i {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.btn-light:hover {
  color: #2c304d;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:focus, .btn-light.focus {
  box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
}

.btn-light.disabled, .btn-light:disabled {
  background-color: #fe195e;
}

.btn-light:active, .btn-light.active,
.show > .btn-light.dropdown-toggle {
  color: #2c304d;
  background-color: #f8f8f8;
  border-color: #f8f8f8;
  background-image: none;
}

.btn-dark {
  color: #fff;
  background-color: #2c304d;
}

.btn-dark i {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.btn-dark:hover {
  color: #fff;
  background-color: #2c304d;
  border-color: #2c304d;
}

.btn-dark:focus, .btn-dark.focus {
  box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
}

.btn-dark.disabled, .btn-dark:disabled {
  background-color: #fe195e;
}

.btn-dark:active, .btn-dark.active,
.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #2e324f;
  border-color: #2e324f;
  background-image: none;
}

.btn-outline-primary {
  color: #5d5386;
  border-color: #5d5386;
  background-image: none;
  background-color: transparent;
}

.btn-outline-primary i {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #5d5386;
  border-color: #5d5386;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 2px rgba(121, 106, 238, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #796aee;
  background-color: transparent;
}

.btn-outline-primary:active, .btn-outline-primary.active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #5d5386;
  border-color: #5d5386;
}

.btn-outline-secondary {
  color: #2c304d;
  border-color: #e4e8f0;
  background-image: none;
  background-color: transparent;
}

.btn-outline-secondary i {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #2c304d;
  border-color: #2c304d;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #afaeae;
  background-color: transparent;
}

.btn-outline-secondary:active, .btn-outline-secondary.active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #2c304d;
  border-color: #2c304d;
}

.btn-outline-info {
  color: #5bc0de;
  border-color: #5bc0de;
  background-image: none;
  background-color: transparent;
}

.btn-outline-info i {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.btn-outline-info:focus, .btn-outline-info.focus {
  box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #5bc0de;
  background-color: transparent;
}

.btn-outline-info:active, .btn-outline-info.active,
.show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #5bc0de;
}

.btn-outline-success {
  color: #5cb85c;
  border-color: #5cb85c;
  background-image: none;
  background-color: transparent;
}

.btn-outline-success i {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #5cb85c;
  background-color: transparent;
}

.btn-outline-success:active, .btn-outline-success.active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #5cb85c;
}

.btn-outline-warning {
  color: #f0ad4e;
  border-color: #f0ad4e;
  background-image: none;
  background-color: transparent;
}

.btn-outline-warning i {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.btn-outline-warning:hover {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
  box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #f0ad4e;
  background-color: transparent;
}

.btn-outline-warning:active, .btn-outline-warning.active,
.show > .btn-outline-warning.dropdown-toggle {
  color: #fff;
  background-color: #f0ad4e;
}

.btn-outline-danger {
  color: #fe195e;
  border-color: #fe195e;
  background-image: none;
  background-color: transparent;
}

.btn-outline-danger i {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #fe195e;
  border-color: #fe195e;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
  box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #fe195e;
  background-color: transparent;
}

.btn-outline-danger:active, .btn-outline-danger.active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #fe195e;
}

.btn-outline-light {
  color: #2c304d;
  border-color: #f3f4f5;
  background-image: none;
  background-color: transparent;
}

.btn-outline-light i {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.btn-outline-light:hover {
  color: #2c304d;
  background-color: #f3f4f5;
  border-color: #f3f4f5;
}

.btn-outline-light:focus, .btn-outline-light.focus {
  box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: #f3f4f5;
  background-color: transparent;
}

.btn-outline-light:active, .btn-outline-light.active,
.show > .btn-outline-light.dropdown-toggle {
  color: #2c304d;
  background-color: #f3f4f5;
}

.btn-outline-dark {
  color: #2c304d;
  border-color: #2c304d;
  background-image: none;
  background-color: transparent;
}

.btn-outline-dark i {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #2c304d;
  border-color: #2c304d;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
  box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #2c304d;
  background-color: transparent;
}

.btn-outline-dark:active, .btn-outline-dark.active,
.show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #2c304d;
}

.btn-lg {
  padding: 0.75rem 2.5rem;
  font-size: 1rem;
  border-radius: 4.2rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.85rem;
}

.btn-square {
  border-radius: 0;
}

.btn-circle {
  border-radius: 50%;
  padding: 10px;
  text-align: center;
}

.btn-circle i {
  font-size: 1.6rem;
}

.button-nav {
  font-weight: 500;
}

.button-nav.nav-tabs {
  border: 0 none;
}

.button-nav.nav-tabs > li > a::after {
  display: none;
}

.button-nav * {
  transition: all 0.35s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.button-nav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 0.5rem;
  padding: 0;
}

.button-nav li:first-child {
  margin-left: 0;
}

.button-nav li:last-child {
  margin-right: 0;
}

.button-nav a {
  padding: 0.5rem 0;
  color: #2c304d;
  text-decoration: none;
  display: inline-block;
}

.button-nav a.active {
  background: #5d5386;
  padding: 0.5rem 1.07rem;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  border-radius: 35px;
}

.button-nav a.active:hover {
  color: #fff !important;
}

.button-nav a:hover {
  background: #5d5386 !important;
  padding: 0.5rem 1.07rem;
  text-decoration: none;
  display: inline-block;
  border-radius: 35px;
}

.button-nav.nav-tabs > li > a:hover {
  color: #fff !important;
}

.button-nav a:before {
  bottom: 0;
  left: 0;
}

.rounded-button {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 50%;
}

a.rounded-button {
  color: #fff;
}

a:hover.rounded-button {
  opacity: 0.8;
}
/*
 * BACKGROUND COLORS
 */
.bg-gradient-01 {
  background: #fd584c;
  background: linear-gradient(135deg, #fd584c 0%, #f84271 80%) !important;
}

.bg-gradient-02 {
  background: #5d5386;
  background: linear-gradient(135deg, #5d5386 0%, #4c4275 80%) !important;
}

.bg-gradient-03 {
  background: #6859ea;
  background: linear-gradient(135deg, #6859ea 0%, #6acbe0 80%) !important;
}

.bg-gradient-04 {
  background: #00b7ff;
  background: linear-gradient(135deg, #00b7ff 0%, #ffffc7 100%) !important;
}

.bg-gradient-05 {
  background: #662d8c;
  background: linear-gradient(135deg, #662d8c 0%, #ed1e79 80%) !important;
}

.bg-primary, .bg-violet {
  background-color: #5d5386 !important;
  color: #fff;
}

.bg-danger, .bg-red {
  background-color: #fe195e !important;
  color: #fff;
}

.bg-info, .bg-blue {
  background-color: #08a6c3 !important;
  color: #fff;
}

.bg-yellow {
  background-color: #eef157 !important;
  color: #fff;
}

.bg-success, .bg-green {
  background-color: #69cd00 !important;
  color: #fff;
}

.bg-warning, .bg-orange {
  background-color: #f7b733 !important;
  color: #fff;
}

.bg-grey {
  background-color: #f6f6f6 !important;
}

.bg-white {
  background-color: #fff !important;
}
/*
 * TEXT COLORS
 */
.text-gradient-01 {
  background: #fd584c;
  background: linear-gradient(135deg, #fd584c 0%, #f84271 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-02 {
  background: #5d5386;
  background: linear-gradient(135deg, #5d5386 0%, #5d5386 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-03 {
  background: #6859ea;
  background: linear-gradient(135deg, #6859ea 0%, #6acbe0 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-04 {
  background: #00b7ff;
  background: linear-gradient(135deg, #00b7ff 0%, #ffffc7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-05 {
  background: #662d8c;
  background: linear-gradient(135deg, #662d8c 0%, #ed1e79 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-dark {
  color: #2c304d !important;
}

.text-primary {
  color: #5d5386 !important;
}

a.text-primary:focus, a.text-primary:hover {
  color: #5d5386 !important;
}

.text-secondary {
  color: #e76c90 !important;
}

.text-red {
  color: #fe195e !important;
}

.text-yellow {
  color: #eef157 !important;
}

.text-green {
  color: #60c400 !important;
}

.text-orange {
  color: #f7b733 !important;
}

.text-violet {
  color: #796aee !important;
}

.text-blue {
  color: #08a6c3 !important;
}

.text-grey-light {
  color: #e6e8e9 !important;
}

.text-grey-dark {
  color: #50525b !important;
}

.text-facebook {
  color: #3b5998 !important;
}

.text-twitter {
  color: #1da1f2 !important;
}

.text-linkedin {
  color:#007bb7 !important;
}

.text-youtube {
  color:#cd201f !important;
}
/*
 * PROGRESS
 */
.progress {
  background-color: rgba(52, 40, 104, 0.07);
  font-size: 0.85rem;
  font-weight: 600;
}

.progress-sm {
  height: 6px;
}

.progress-lg {
  height: 18px;
}
/*
 * BADGES
 */
span.badge-pulse {
  background: #fe195e;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(254, 25, 94, 0.4);
  animation: BadgePulse 1.8s infinite;
}

@-webkit-keyframes BadgePulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(254, 25, 94, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(254, 25, 94, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(254, 25, 94, 0);
  }
}

@keyframes BadgePulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(254, 25, 94, 0.4);
    box-shadow: 0 0 0 0 rgba(254, 25, 94, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(254, 25, 94, 0);
    box-shadow: 0 0 0 10px rgba(254, 25, 94, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 20px rgba(254, 25, 94, 0);
    box-shadow: 0 0 0 20px rgba(254, 25, 94, 0);
  }
}

span.badge-pulse-green {
  background: #60c400;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(105, 205, 0, 0.4);
  animation: BadgePulseGreen 1.8s infinite;
}

@-webkit-keyframes BadgePulseGreen {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(105, 205, 0, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(105, 205, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(105, 205, 0, 0);
  }
}

@keyframes BadgePulseGreen {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(105, 205, 0, 0.4);
    box-shadow: 0 0 0 0 rgba(105, 205, 0, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(105, 205, 0, 0);
    box-shadow: 0 0 0 10px rgba(105, 205, 0, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 20px rgba(105, 205, 0, 0);
    box-shadow: 0 0 0 20px rgba(105, 205, 0, 0);
  }
}

span.badge-pulse-blue {
  background: #08a6c3;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(8, 166, 195, 0.4);
  animation: BadgePulseBlue 1.8s infinite;
}

@-webkit-keyframes BadgePulseBlue {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(8, 166, 195, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(8, 166, 195, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(8, 166, 195, 0);
  }
}

@keyframes BadgePulseBlue {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(8, 166, 195, 0.4);
    box-shadow: 0 0 0 0 rgba(8, 166, 195, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(8, 166, 195, 0);
    box-shadow: 0 0 0 10px rgba(8, 166, 195, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 20px rgba(8, 166, 195, 0);
    box-shadow: 0 0 0 20px rgba(8, 166, 195, 0);
  }
}

span.badge-pulse-orange {
  background: #f7b733;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(247, 183, 51, 0.4);
  animation: BadgePulseOrange 1.8s infinite;
}

@-webkit-keyframes BadgePulseOrange {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(278, 832,541, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(247, 183, 51, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(247, 183, 51, 0);
  }
}

@keyframes BadgePulseOrange {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(247, 183, 51, 0.4);
    box-shadow: 0 0 0 0 rgba(247, 183, 51, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(247, 183, 51, 0);
    box-shadow: 0 0 0 10px rgba(247, 183, 51, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 20px rgba(247, 183, 51, 0);
    box-shadow: 0 0 0 20px rgba(247, 183, 51, 0);
  }
}

.badge {
  font-weight: 500;
}

.badge-text {
  background: #e4e8f0;
  color: #fff;
  padding: 0.4rem 0.7rem;
  border-radius: 50px;
  font-size: 0.9rem;
  text-align: center;
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  vertical-align: middle;
}

.badge-text.badge-text-small {
  padding: 0.1rem 0.9rem;
}

.badge-text.badge-text-wide {
  padding: 0.3rem 1.4rem;
}

.badge-text.success {
  background:#60c400;
}

.badge-text.info {
  background:#08a6c3;
}

.badge-text.danger {
  background:#fe195e;
}

.badge-rounded {
  background: #5d5386;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
}

.badge-rounded.badge-rounded-small {
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.badge-rounded.success {
  background:#60c400;
}

.badge-rounded.info {
  background:#08a6c3;
}

.badge-rounded.danger {
  background:#fe195e;
}
/*
 * HELPERS CLASS
 */
.page {
  background: #f9f9f9;
}

.page.bg-2 {
  background: #fbfbfc;
}

.page .text-white {
  color: #fff;
}

.no-bg {
  background: none !important;
}

.no-shadow {
  box-shadow: none !important;
}

.no-border {
  border: 0 none !important;
}

.square {
  border-radius: 0;
}

.hide {
  display: none;
}

.hidden {
  overflow: hidden;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.padding-b-50 {
  padding-bottom: 50px !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-top-15 {
  padding-top: 15px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.padding-top-25 {
  padding-top: 25px !important;
}

.padding-right-5 {
  padding-right: 5px !important;
}

.padding-right-10 {
  padding-right: 10px !important;
}

.padding-right-15 {
  padding-right: 15px !important;
}

.padding-right-20 {
  padding-right: 20px !important;
}

.padding-right-25 {
  padding-right: 25px !important;
}

.padding-bottom-5 {
  padding-bottom: 5px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-bottom-15 {
  padding-bottom: 15px !important;
}

.padding-bottom-20 {
  padding-bottom: 20px !important;
}

.padding-bottom-25 {
  padding-bottom: 25px !important;
}

.padding-left-5 {
  padding-left: 5px !important;
}

.padding-left-10 {
  padding-left: 10px !important;
}

.padding-left-15 {
  padding-left: 15px !important;
}

.padding-left-20 {
  padding-left: 20px !important;
}

.padding-left-25 {
  padding-left: 25px !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-top-25 {
  margin-top: 25px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.margin-right-20 {
  margin-right: 20px !important;
}

.margin-right-25 {
  margin-right: 25px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-25 {
  margin-bottom: 25px !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.margin-left-25 {
  margin-left: 25px !important;
}

.page {
  overflow-x: hidden;
}

.overflow-y {
  overflow-y: auto;
}

.has-shadow {
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08);
}

.max-width-100 {
  max-width: 100px !important;
}

.max-width-150 {
  max-width: 150px !important;
}

.max-width-200 {
  max-width: 200px !important;
}

.max-width-250 {
  max-width: 250px !important;
}

.max-width-300 {
  max-width: 300px !important;
}

.max-width-350 {
  max-width: 350px !important;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}
/*
 * EM SEPARATOR
 */
.em-separator {
  height: 0;
  margin: 20px 0;
}

.em-separator.separator-solid {
  border: 1px solid #eee;
}

.em-separator.separator-dashed {
  border: 1px dashed #eee;
}

.em-separator.separator-dotted {
  border: 1px dotted #eee;
}

.em-separator.separator-double {
  border: 1px double #eee;
}
/*
 * ACTIONS
 */
.widget-options {
  z-index: 999;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  float: right;
}

.widget-options .dropdown-toggle {
  color: #98a8b4;
  background: none;
  border: none;
  padding: 0;
  font-size: 1.7rem;
}

.widget-options .dropdown-toggle:after {
  display: none;
}

.widget-options .dropdown-menu {
  border: none;
  min-width: auto;
  font-size: 1rem;
  border-radius: 4px;
  padding: 1.4rem 1.8rem;
  text-align: left;
  transform: translateX(calc(-100% + 5px));
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.15);
}

.widget-options .dropdown-menu .dropdown-item {
  padding: 0.5rem 0;
}

.widget-options .dropdown-menu .dropdown-item:hover,
.widget-options .dropdown-menu .dropdown-item:focus {
  background: none;
}

.widget-options .dropdown-menu a {
  color: #2c304d;
  font-weight: 500;
}

.widget-options .dropdown-menu a:hover,
.widget-options .dropdown-menu a:hover i {
  background: transparent;
  color: #5d5386;
}

.widget-options .dropdown-menu a i {
  font-size: 1.6rem;
  vertical-align: middle;
  color: #aea9c3;
  margin-right: 0.7rem;
  transition: all 0.4s ease;
}

.widget-options .btn {
  padding: 8px 15px;
}

.quick-actions {
  z-index: 999;
  position: absolute;
  top: 10px;
  right: 20px;
}

.quick-actions.hover {
  z-index: 999;
  position: absolute;
  top: 10px;
  right: 20px;
  display: none;
}

.widget-image:hover .quick-actions.hover {
  display: block;
}

.quick-actions.light .dropdown-toggle {
  color: #fff;
}

.quick-actions.dark .dropdown-toggle {
  color: #2c304d;
}

.quick-actions .dropdown-toggle {
  color: #98a8b4;
  background: none;
  border: none;
  padding: 0;
  font-size: 1.7rem;
}

.quick-actions .dropdown-toggle:after {
  display: none;
}

.quick-actions .dropdown-menu {
  border: none;
  min-width: auto;
  font-size: 1rem;
  border-radius: 4px;
  padding: 1.4rem 1.8rem;
  text-align: left;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.15);
}

.quick-actions .dropdown-menu .dropdown-item {
  padding: 0.5rem 0;
}

.quick-actions .dropdown-menu .dropdown-item:hover,
.quick-actions .dropdown-menu .dropdown-item:focus {
  background: none;
}

.quick-actions .dropdown-menu a {
  color: #2c304d;
  font-weight: 500;
}

.quick-actions .dropdown-menu a:hover,
.quick-actions .dropdown-menu a:hover i {
  background: transparent;
  color: #5d5386;
}

.quick-actions .dropdown-menu a i {
  font-size: 1.4rem;
  vertical-align: -2px;
  color: #2c304d;
  margin-right: 0.7rem;
  transition: all 0.4s ease;
}

.actions {
  z-index: 999;
  display: block;
}

.actions.light .dropdown-toggle {
  color: #fff;
}

.actions.dark .dropdown-toggle {
  color: #2c304d;
}

.actions .dropdown-toggle {
  color: #98a8b4;
  background: none;
  border: none;
  padding: 0;
  font-size: 1.7rem;
}

.actions .dropdown-toggle:after {
  display: none;
}

.actions .dropdown-menu {
  border: none;
  min-width: auto;
  font-size: 1rem;
  border-radius: 4px;
  padding: 1.4rem 1.8rem;
  text-align: left;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.15);
}

.actions .dropdown-menu .dropdown-item {
  padding: 0.5rem 0;
}

.actions .dropdown-menu .dropdown-item:hover,
.actions .dropdown-menu .dropdown-item:focus {
  background: none;
}

.actions .dropdown-menu a {
  color: #2c304d;
  font-weight: 500;
}

.actions .dropdown-menu a:hover,
.actions .dropdown-menu a:hover i {
  background: transparent;
  color: #5d5386;
}

.actions .dropdown-menu a i {
  font-size: 1.4rem;
  vertical-align: -2px;
  color: #2c304d;
  margin-right: 0.7rem;
  transition: all 0.4s ease;
}
/*
 * WIDGET
 */

.rounded-widget .widget {
  border-radius: 4px;
}

.rounded-widget .widget-image {
  border-radius: 4px;
}

.rounded-widget .widget-header {
  border-radius: 4px 4px 0 0;
}

.rounded-widget .widget-footer {
  border-radius: 0 0 4px 4px;
}

.widget {
  background: #fff;
  border-radius: 0;
  border: none;
  margin-bottom: 30px;
}

.widget-image {
  background: #fff;
  border-radius: 0;
  border: none;
  margin-bottom: 30px;
  position: relative;
}

.widget-header {
  background: #fff;
  padding: 0.85rem 1.4rem;
  position: relative;
  width: 100%;
}

.widget-header.bordered {
  border-bottom: 0.07rem solid #eee;
}

.widget-header.no-actions {
  padding: 1.49rem;
}

.widget-header h1,
.widget-header h2,
.widget-header h3,
.widget-header h4,
.widget-header h5,
.widget-header h6 {
  color: #2c304d;
  margin-bottom: 0;
}

.section-title h1,
.section-title h2,
.section-title h3,
.section-title h4,
.section-title h5,
.section-title h6 {
  color: #2c304d;
  font-weight: 600;
  margin-bottom: 0;
}

.widget-header h2 {
  color: #2c304d;
  font-size: 1.2rem;
  display: table-cell;
  vertical-align: middle;
  margin-right: auto;
}

.widget-header h2 i {
  color: #aea9c3;
  font-size: 1.8rem;
  padding-right: 0.5rem;
  vertical-align: middle;
}

.widget-body {
  padding: 1.4rem;
}

.widget-image-footer {
  background: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.2rem 0;
  z-index: 1;
}

.widget-footer {
  background: #fff;
  padding: 1rem 1.07rem;
  position: relative;
}

.widget-footer.big {
  padding: 2.1rem 1.07rem;
}
/*
 * SOCIAL LINK
 */
ul.social-network {
  list-style: none;
  margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0;
}

.social-network a.ico-facebook:hover {
  color:#3b5998;
}

.social-network a.ico-linkedin:hover {
  color:#007bb7;
}

.social-network a.ico-rss:hover {
  color:#f26522;
}

.social-network a.ico-twitter:hover {
  color:#33ccff;
}

.social-network a.ico-youtube:hover {
  color:#cd201f;
}

.social-network li a {
  color: #aea9c3;
  display: inline-block;
  position: relative;
  font-size: 2rem;
  width: 45px;
  text-align: center;
  transition: all 0.4s;
}

.social-network li i {
  margin:0;
  line-height: 50px;
  text-align: center;
}

.social-network li a:hover i {
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  transition: all 0.4s;
}

.social-network i {
  transition: all 0.4s;
}
/*
 * TABLES
 */
.table thead {
  background-color: rgba(52, 40, 104, 0.05);
  border-radius: 4px;
}

.table thead th {
  vertical-align: middle;
  border: 0 none;
  padding: 20px 12px 20px 12px;
  color: #5d5386;
  font-weight: 600;
}

.table td {
  border-top: 0;
  padding: 0.85rem;
  vertical-align: middle;
  font-weight: 500;
}

.table-hover tbody tr:hover {
  background: rgba(52, 40, 104, 0.04);
}

.table-bordered th, .table-bordered td {
  border: 0.07rem solid #eee;
}

.table .td-actions a i {
  background: transparent;
  color: rgba(52, 40, 104, 0.4);
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.table .td-actions a i.edit:hover,
.table .td-actions a i.more:hover {
  background: rgba(52, 40, 104, 0.8);
  color: #fff;
}

.table .td-actions a i.delete:hover {
  background: #e76c90;
  color: #fff;
}

.table > thead > tr > td.danger, .table > tbody > tr > td.danger, .table > tfoot > tr > td.danger, .table > thead > tr > th.danger, .table > tbody > tr > th.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > tbody > tr.danger > td, .table > tfoot > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr.danger > th, .table > tfoot > tr.danger > th {
  background-color: rgba(52, 40, 104, 0.02);
  color: #5d5386;
}
/*
 * DATATABLES
 */
.dataTables_wrapper.container-fluid {
  padding: 0 1.07rem;
}

.dt-buttons {
  float: left;
}
/*
 * PAGES NAV
 */
.page-item:first-child .page-link {
  margin-left: 0;
  border-radius: 50%;
  font-size: 1rem;
  margin-right: 5px;
}

.page-item:last-child .page-link {
  border-radius: 50%;
  font-size: 1rem;
  margin-left: 5px;
}

.page-item.active .page-link {
  z-index: 2;
  color: #5d5386;
  background-color: transparent;
  font-weight: 600;
}

.page-item.disabled .page-link {
  color: rgba(52, 40, 104, 0.15);
  pointer-events: none;
  cursor: not-allowed;
}

.page-link {
  padding: 0.5rem;
  line-height: 1rem;
  text-align: center;
  color: #aea9c3;
  margin: 0 0.3rem;
  background-color: transparent;
  border: 0 none;
  font-size: 1rem;
}

.page-link:focus, .page-link:hover {
  color: #5d5386;
  text-decoration: none;
  background-color: transparent;
  box-shadow: none;
}
/*
 * BREADCRUMB
 */
.breadcrumb {
  background: none;
  z-index: 50;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.breadcrumb li.breadcrumb-item {
  color: #94a4b0;
  font-weight: 500;
}

.breadcrumb li.breadcrumb-item i {
  font-size: 1.2rem;
  vertical-align: middle;
  display: inline-block;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #94a4b0;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "-";
}
/*
 * MODAL
 */
.modal {
  z-index: 1200;
}

.modal-top .modal-dialog {
  margin-top: 0 !important;
}

.modal-header {
  color: #2c304d;
  border-bottom: 0.07rem solid #eee;
}

.modal-header .close {
  font-size: 2rem;
}

.close {
  color: #d2d1d5;
  opacity: 0.8;
}

.modal-content {
  border: 0 none;
}

.modal-backdrop.show {
  opacity: 1;
}

.modal-backdrop {
  background: rgba(46, 52, 81, 0.8);
}

.modal-dialog-centered .modal-content {
  border-radius: 4px;
}
/*
 * FORM
 */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="city"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select,
textarea {
  outline: none;
  box-shadow:none !important;
}

.form-control {
  font-size: 1rem;
  line-height: 1.25;
  color: #2c304d;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 0.75rem 1.07rem;
}

.form-control::-moz-placeholder {
  font-size: 0.85rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #94a4b0;
}

.form-control::-webkit-input-placeholder {
  font-size: 0.85rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #94a4b0;
}

.form-control:-ms-input-placeholder {
  font-size: 0.85rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #94a4b0;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.85rem + 2px);
}

.form-control:focus,
.has-success .form-control:focus,
.has-danger .form-control:focus,
.has-warning .form-control:focus,
.has-info .form-control:focus {
  border-color: #5d5386;
}

.has-success .form-control {
  border-color: #5cb85c;
}

.has-danger .form-control {
  border-color: #fe195e;
}

.has-warning .form-control {
  border-color: #f0ad4e;
}

.has-info .form-control {
  border-color: #31b0d5;
}

.form-control-label {
  color: #2c304d;
  font-weight: 500;
}

.form-control-plaintext {
  color: #2c304d;
  font-weight: 300;
  display: block;
  width: 100%;
  padding-top: .375rem;
  padding-bottom: .375rem;
  margin-bottom: 0;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}

.invalid-feedback {
  margin: 0;
  font-size: 0.95rem;
  color: #fe195e;
}

button, input[type='submit'] {
  cursor: pointer;
  font-family: inherit;
  font-weight: 300 !important;
}

form label {
  color: #2c304d;
  font-weight: 500;
}

.input-group span.input-group-addon {
  font-weight: 500;
  border-radius: 0;
  border: 0 none;
  padding: 0.75rem 1.07rem;
  text-align: center;
}

.input-group span.input-group-addon i {
  font-size: 1.4rem;
}

.input-group span.input-group-addon.addon-primary {
  background-color: #5d5386;
  color: #fff;
}

.input-group span.input-group-addon.addon-secondary {
  background-color: #e4e8f0;
  color: #2c304d;
}

.input-group span.input-group-addon.addon-orange {
  background-color: #e76c90;
  color: #fff;
}

.input-group .input-group-btn .btn {
  padding: 0.9rem 1.07rem;
  border-radius: 0;
  font-weight: 500;
}

.input-group .input-group-btn .btn i {
  font-size: 1.4rem;
}

.input-group .dropdown-toggle {
  background: #f5f5f5;
  color: #94a4b0;
}

.input-group ul.dropdown-menu {
  padding: 15px;
  color: #94a4b0;
  border-radius: 0;
}

.input-group ul.dropdown-menu a {
  padding: 5px 0;
  color: inherit;
  text-decoration: none;
}

.input-group ul.dropdown-menu a:hover {
  color: #5d5386;
}

.material-input input {
  font-size:1rem;
  padding:10px 10px 10px 5px;
  display:block;
  width: 100%;
  border:none;
  border-bottom:1px solid #e4e8f0;
}

.material-input input:focus {
  outline:none;
}

.material-input label {
  color:#98a8b4;
  font-size:0.9rem;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.material-input input:focus ~ label, .material-input input:valid ~ label {
  top:-20px;
  font-size:0.8rem;
  color:#5d5386;
}

.material-input .bar  {
  position:relative;
  display:block;
  width:100%;
}

.material-input .bar:before, .material-input .bar:after {
  content:'';
  height:1px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5d5386;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.material-input .bar:before {
  left:50%;
}

.material-input .bar:after {
  right:50%;
}

.material-input input:focus ~ .bar:before, .material-input input:focus ~ .bar:after {
  width:50%;
}

.material-input .highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

.material-input input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background:#5264AE;
  }
  to  {
    width:0;
    background:transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background:#5264AE;
  }
  to  {
    width:0;
    background:transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background:#5264AE;
  }
  to  {
    width:0;
    background:transparent;
  }
}

.modal-content {
  border-radius: 0;
}

.i-checks {
  display: flex;
}

section.forms p {
  font-size: 0.9rem;
  color: #555;
}

section.forms form span, section.forms form small {
  font-size: 0.85rem;
  color: #999;
  font-weight: 300;
}

.styled-radio {
  position: relative;
  padding-left: 35px;
  text-align: left;
}

.styled-radio label {
  cursor: pointer;
}

.styled-radio label:before,
.styled-radio label:after {
  content: '';
  position: absolute;
  top: 50%;
  border-radius: 50%;
}

.styled-radio label:before {
  left: 0;
  width: 20px;
  height: 20px;
  margin: -15px 0 0;
  background: rgba(52, 40, 104, 0.1);
  box-shadow: 0 0 1px #eee;
}

.styled-radio label:after {
  left: 5px;
  width: 10px;
  height: 10px;
  margin: -10px 0 0;
  opacity: 0;
  background: #5d5386;
  -webkit-transform: translate3d(-15px, 0, 0) scale(0.5);
  transform: translate3d(-15px, 0, 0) scale(0.5);
  -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.styled-radio input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
  visibility: hidden;
}

.radio-disabled,
.radio-disabled.styled-radio label  {
  cursor: not-allowed;
  opacity: 0.8;
}

.styled-radio input[type="radio"]:checked + label:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.styled-checkbox {
  position: relative;
  padding-left: 35px;
  text-align: left;
}

.styled-checkbox label {
  cursor: pointer;
}

.styled-checkbox label:before,
.styled-checkbox label:after {
  content: '';
  position: absolute;
  top: 50%;
  border-radius: 4px;
}

.styled-checkbox label:before {
  left: 0;
  width: 20px;
  height: 20px;
  margin: -15px 0 0;
  background: rgba(52, 40, 104, 0.1);
  box-shadow: 0 0 1px #eee;
}

.styled-checkbox label:after {
  font-family: 'Ionicons';
  content: "\f383";
  font-size: 1rem;
  left: 5px;
  margin: -15px 0 0;
  opacity: 0;
  color: #5d5386;
  -webkit-transform: translate3d(-15px, 0, 0) rotate(90deg);
  transform: translate3d(-15px, 0, 0) rotate(90deg);
  -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.styled-checkbox input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: -9999px;
  visibility: hidden;
}

.checkbox-disabled,
.checkbox-disabled.styled-checkbox label  {
  cursor: not-allowed;
  opacity: 0.8;
}

.styled-checkbox input[type="checkbox"]:checked + label:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.checkbox {
  cursor: pointer;
  border-radius: 50%;
  display: block;
  color: rgba(52, 40, 104, 0.3);
  transition: color 0.8s ease;
}

.checkbox:hover:after {
  color: rgba(52, 40, 104, 0.4);
}

.checkbox:after {
  line-height: 40px;
  font-family: "Ionicons";
  display: block;
  content: "";
  text-align: center;
  font-size: 1.4rem;
  transition: color 0.5s ease;
}

.check:after {
  content: "\f383";
}

.check.is-checked:after {
  color: #60c400;
}

.heart:after {
  content: "\f141";
}

.heart.is-checked:after {
  color: #f14c38;
}

.star:after {
  content: "\f24e";
}

.star.is-checked:after {
  color: #fcc525;
}

.toggle-checkbox {
  display: none;
}

.toggle-checkbox + span {
  width: 60px;
  height: 30px;
  border-radius: 35px;
  background-color: #dfdde7;
  transition-duration: 0.3s;
  transition-property: background-color;
  cursor: pointer;
}

.toggle-checkbox:checked + span {
  background-color: #5d5386;
}

.toggle-checkbox + span > span {
  float: left;
  width: 26px;
  height: 26px;
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 50%;
  background-color: white;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-property: transform;
  pointer-events: none;
}

.toggle-checkbox:checked + span > span {
  transform: translateX(30px);
}

.toggle-checkbox-sm {
  display: none;
}

.toggle-checkbox-sm + span {
  width: 50px;
  height: 25px;
  border-radius: 35px;
  background-color: #dfdde7;
  transition-duration: 0.3s;
  transition-property: background-color;
  cursor: pointer;
}

.toggle-checkbox-sm:checked + span {
  background-color: #5d5386;
}

.toggle-checkbox-sm + span > span {
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 50%;
  background-color: white;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-property: transform;
  pointer-events: none;
}

.toggle-checkbox-sm:checked + span > span {
  transform: translateX(25px);
}

.step-container {
  position: relative;
  min-height: 100px;
  display: block;
  margin-bottom: 2rem;
}

.step-wizard {
  display: inline-block;
  position: relative;
  width: 100%;
}

.step-wizard .progress {
  position: absolute;
  top: 23px;
  height: 8px;
  left: 0;
  width: 100%;
}

.step-wizard .progressbar {
  position: absolute;
  background-color: #5d5386;
  height: 8px;
  border: 0 none;
  width: 0%;
  transition: width 0.6s ease;
}

.step-wizard ul {
  position: absolute;
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.step-wizard li {
  display: inline-block;
  text-align: center;
  width: 30%;
}

.step-wizard li .step {
  position: absolute;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 42px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 6px solid;
  border-color: #5d5386;
  background: #fff;
  transition: background-color 0.6s ease, border-color 0.6s ease;
}

.step-wizard li .title {
  position: absolute;
  width: 100%;
  left: 28px;
  padding-top: 60px;
  color: rgba(52, 40, 104, 0.4);
  transition: color 0.6s ease;
}

.step-wizard .active .step {
  color: #fff;
  background-color: #5d5386;
  border-color: #5d5386;
}

.step-wizard .active .title {
  color: #e76c90;
  font-weight: 500;
}

.step-wizard li > a {
  display: block;
  width: 100%;
  color: #2c304d;
  position: relative;
  text-align: center;
}

.step-wizard a:hover .step {
  color: #fff;
  background-color: #5d5386;
}

.step-wizard a:hover .title {
  color: #5d5386;
}

@media only screen and (max-width: 1200px) {
  .step-wizard li {
    width: 30%;
  }
}

@media only screen and (max-width: 578px) {
  .step-wizard li {
    width: 25%;
  }
}

.sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box;
}

.sa-icon.sa-success .sa-line {
  height: 5px;
  background-color: #e76c90;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
}

.sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(228, 232, 240, 0.8);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2;
}

.sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  background-color: #fff;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sa-icon.sa-success {
  border-color: #5d5386;
}

.sa-icon.sa-success {
  border-color: transparent\9;
}

.sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9;
}

.sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9;
}

.sa-icon.sa-success:before,
.sa-icon.sa-success:after {
  content: '';
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sa-icon.sa-success::before {
  -webkit-border-radius: 120px 0 0 120px;
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
}

.sa-icon.sa-success:after {
  -webkit-border-radius: 0 120px 120px 0;
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0px 60px;
  transform-origin: 0px 60px;
}

@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}

@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}

.animateSuccessTip {
  -webkit-animation: animateSuccessTip 1s;
  animation: animateSuccessTip 1s;
}

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 1.4s;
  animation: animateSuccessLong 1.4s;
}

.sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 8s ease-in;
  animation: rotatePlaceholder 8s ease-in;
}
