/* ========================================= */
/*     03) LAYOUT                            */
/* ========================================= */
/*
 * 01. DASHBOARD
 *
/*
 * SOCIAL
 */
.db-social .jumbotron {
  margin: 0;
  background: url('../../../../assets/img/background/05.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom center;
  color: #fff !important;
  height: 300px;
  position: relative;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 0;
}

.db-social .profile-overlay {
  background: linear-gradient(to bottom, rgba(242,243,248,0) 0%,rgba(242,243,248,1) 100%);
}

.db-social .head-profile li {
  display: inline-block;
  text-align: center;
  padding: 0 1rem;
}

.db-social .head-profile li:first-child {
  padding-left: 0;
}

.db-social .head-profile li:last-child {
  padding-right: 0;
}

.db-social .head-profile li i {
  font-size: 3rem;
}

.db-social .head-profile li .heading {
  color: #aea9c3;
  font-size: 1rem;
}

.db-social .head-profile li .counter {
  color: #2c304d;
  font-size: 1.4rem;
  font-weight: 600;
}

.db-social .head-profile {
  margin-top: -120px;
  border-radius: 4px;
  position: relative;
}

.db-social .head-profile:before {
  content: "";
  background: rgba(255, 255, 255, 0.6);
  height: 20px;
  width: 90%;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4px 4px 0 0;
}

.db-social .head-profile:after {
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 20px;
  width: 80%;
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4px 4px 0 0;
}

.db-social .image-default img {
  width: 120px;
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 0 0 6px rgba(255, 255, 255, 1);
  z-index: 10;
}

.db-social .infos {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
  line-height: 1.8rem;
}

.db-social h2 {
  color: #2c304d;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.db-social .location {
  color: #aea9c3;
  font-size: 1rem;
}

.db-social .follow .btn {
  padding: 10px 30px;
}

.db-social .head-profile .actions {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem;
}

.db-social .head-nav {
  font-weight: 500;
}

.db-social .nav-tabs {
  border: 0 none;
}

.db-social .head-nav * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.35s ease;
}

.db-social .head-nav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.4rem;
  padding: 0;
}

.db-social .head-nav li:first-child {
  margin-left: 0;
}

.db-social .head-nav li:last-child {
  margin-right: 0;
}

.db-social .head-nav a {
  padding: 1.07rem 0;
  color: #2c304d;
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.db-social .head-nav a:after {
  height: 2px;
  position: absolute;
  content: '';
  background-color: rgba(52, 40, 104, 0.8);
  width: 0;
  transition: all 0.35s ease;
}

.db-social .head-nav a:after {
  bottom: 0;
  left: 0;
}

.db-social .head-nav a:hover,
.db-social .head-nav .current a {
  color: #2c304d;
}

.db-social .head-nav a:hover:before,
.db-social .head-nav .current a:before,
.db-social .head-nav a:hover:after,
.db-social .head-nav .current a:after {
  width: 100%;
}

.db-social .widget-header .user-image {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.07rem;
}

.db-social .widget-header .user-image img {
  width: 50px;
}

.db-social .widget-header .title {
  color: #2c304d;
  font-size: 1rem;
}

.db-social .widget-header .username {
  color: #e76c90;
  font-weight: 600;
}

.db-social .widget-header .time {
  color: #aea9c3;
  font-size: 0.85rem;
}

.db-social .widget-body {
  padding: 1rem 1.4rem;
}

.db-social .widget-footer {
  border-top: 1px solid #eee;
  margin: 0 1.4rem;
  padding: 1.07rem 0;
}

.db-social .users-like {
  padding: 0;
}

.db-social .users-like a {
  margin: 0 -1.6rem 0 0;
  transition: all 0.4s ease;
}

.db-social .users-like a:hover {
  margin-right: -0.3rem;
}

.db-social .users-like img {
  width: 35px;
  border: 0.25rem solid #fff;
}

.db-social .users-like a.view-more {
  background: #5d5386;
  color: #fff;
  width: 35px;
  height: 35px;
  border: 0.25rem solid #fff;
  border-radius: 50%;
  vertical-align: middle;
  font-size: 0.85rem;
  text-align: center;
  line-height: 30px;
  margin-right: 0;
}

.db-social .widget-footer .meta li {
  display: inline-block;
  margin-right: 0.5rem;
}

.db-social .widget-footer .meta li:last-child {
  margin-right: 0;
}

.db-social .widget-footer .meta li a {
  color: #aea9c3;
}

.db-social .widget-footer .meta li a:hover {
  color: #5d5386;
}

.db-social .widget-footer .meta li i {
  font-size: 1.8rem;
  vertical-align: middle;
  margin-right: 0.3rem;
}

.db-social .widget-footer .meta li .numb {
  vertical-align: middle;
}

.db-social .comments {
  background: #f5f6fb;
}

.db-social .comments-header {
  border-top: 0.07rem solid #eee;
  padding: 0.85rem 1.4rem;
  position: relative;
  width: 100%;
}

.db-social .comments-header .user-image {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.07rem;
}

.db-social .comments-header .user-image img {
  width: 40px;
}

.db-social .comments-header .title {
  color: #2c304d;
  font-size: 1rem;
}

.db-social .comments-header .username {
  color: #2c304d;
  font-weight: 600;
}

.db-social .comments-header .time {
  font-size: 0.85rem;
}

.db-social .comments-body {
  padding: 1rem 1.4rem;
}

.db-social .comments-footer {
  padding: 0 1.4rem 1rem 1.4rem;
}

.db-social .comments-footer .meta li {
  display: inline-block;
  margin-right: 0.3rem;
}

.db-social .comments-footer .meta li a {
  color: rgba(52, 40, 104, 0.3);
}

.db-social .comments-footer .meta li a:hover {
  color: rgba(52, 40, 104, 0.9);
}

.db-social .comments-footer .meta li i {
  font-size: 1.2rem;
  vertical-align: middle;
}

.db-social .comments-footer .meta li .rep {
  font-size: 0.85rem;
  vertical-align: middle;
}

.db-social .reply:before {
  position: absolute;
  display: block;
  left: 30px;
  width: 4px;
  height: 100%;
  border-radius: 4px;
  background-color: #e4e8f0;
  content: ' ';
}

.db-social .reply:after {
  display: block;
  position: absolute;
  top: 25px;
  left: 25px;
  width: 15px;
  height: 15px;
  border: 3px solid #f5f6fb;
  border-radius: 50%;
  background-color: rgba(52, 40, 104, 0.2);
  content: ' ';
}

.db-social .reply {
  background: #f5f6fb;
  position: relative;
}

.db-social .reply-header {
  border-top: 0.07rem solid #eee;
  padding: 0.85rem 1.4rem 0 4rem;
  position: relative;
  width: 100%;
}

.db-social .reply-header .user-image {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.07rem;
}

.db-social .reply-header .user-image img {
  width: 40px;
}

.db-social .reply-header .title {
  color: #2c304d;
  font-size: 1rem;
}

.db-social .reply-header .username {
  color: #2c304d;
  font-weight: 600;
}

.db-social .reply-header .time {
  font-size: 0.85rem;
}

.db-social .reply-body {
  padding: 1rem 1.4rem 1rem 4rem;
}

.db-social .reply-footer {
  padding: 0 1.4rem 1rem 4rem;
}

.db-social .reply-footer .meta li {
  display: inline-block;
  margin-right: 0.3rem;
}

.db-social .reply-footer .meta li a {
  color: rgba(52, 40, 104, 0.3);
}

.db-social .reply-footer .meta li a:hover {
  color: rgba(52, 40, 104, 0.9);
}

.db-social .reply-footer .meta li i {
  font-size: 1.2rem;
  vertical-align: middle;
}

.db-social .reply-footer .meta li .rep {
  font-size: 0.85rem;
  vertical-align: middle;
}

.db-social .publisher {
  border-top: 0.07rem solid #eee;
  position: relative;
  padding: 1rem;
  background: #f5f6fb;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.db-social .publisher>* {
  margin: 0 8px;
}

.db-social .publisher>*:first-child {
  margin-left: 0;
}

.db-social .publisher>*:last-child {
  margin-right: 0;
}

.db-social .publisher-multi {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: flex-start;
}

.db-social .publisher-multi>* {
  margin: 0;
  width: 100%;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.db-social .publisher-multi .publisher-input {
  padding: 1rem;
  border-radius: 4px;
  color: #98a8b4;
}

.db-social .publisher-input {
  border: 0 none;
  outline: none !important;
  background-color: #fff;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.db-social .publisher-bottom {
  padding: 1rem 0 0;
}

.db-social .publisher-btn {
  background-color: transparent;
  border: 0 none;
  color: #98a8b4;
  font-size: 1.8rem;
  margin-right: 0.5rem;
}

.db-social .publisher-btn:hover {
  color: #5d5386;
}

.db-social h5, .db-social .column h5 {
  color: #2c304d;
  font-weight: 600;
}

.db-social .column .list-group-item {
  padding: 1.07rem 1.25rem;
  border-top: 0 none;
  border-right: 0 none;
  border-bottom: 0.07rem solid #eee;
  border-left: 0 none;
  margin-bottom: 0;
}

.db-social .column .list-group-item:last-child {
  border-bottom: 0 none;
}

.db-social .column .list-group-item .media i {
  font-size: 2rem;
}

.db-social .column .list-group-item .media p {
  font-size: 0.85rem;
}

.db-social .column .new-badge {
  background: #2c304d;
  padding: 0.5rem 0;
  position: relative;
}

.db-social .column .new-badge .badge-img {
  display: inline-block;
  vertical-align: middle;
}

.db-social .column .new-badge .title {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
}

.db-social .column .new-badge .heading {
  color: #fff;
  font-size: 1.4rem
}

.db-social .column .new-badge .text {
  font-size: 0.9rem;
}

.db-social .column .new-badge i {
  color: #e76c90;
  font-size: 5rem;
  vertical-align: middle;
}

.db-social .column .friends-list {
  padding: 0;
}

.db-social .column .friends-list a {
  transition: all 0.4s ease;
}

.db-social .column .friends-list img {
  width: 45px;
}

.db-social .column .friends-list a.view-more {
  background: #5d5386;
  color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  vertical-align: middle;
  font-size: 0.85rem;
  text-align: center;
  line-height: 45px;
  margin-right: 0;
}

@media (max-width: 1200px) {
  .db-social .jumbotron {
    background-attachment: scroll;
  }

  .db-social .head-profile li {
    padding: 0 0.5rem;
  }

  .db-social .rang {
    top: 15px;
  }
}

@media (max-width: 991px) {
  .db-social .jumbotron {
    background-attachment: scroll;
  }

  .db-social .head-profile li {
    padding: 0 0.5rem;
  }

  .db-social .rang {
    top: 15px;
  }

  .db-social .image-default img {
    top: -165px;
  }

  .db-social .head-profile ul {
    margin-top: 3rem;
  }
}

@media (max-width: 576px) {

  .db-social .jumbotron {
    background-attachment: scroll;
  }

  .db-social .head-nav li {
    margin: 0;
  }

  .db-social .head-profile .widget-body {
    padding: 10px;
  }

  .db-social .head-profile li {
    padding: 0 0.4rem;
  }

  .db-social .image-default img {
    top: -205px;
  }

  .db-social .head-profile ul {
    margin-top: 6rem;
  }

  .db-social .infos {
    margin-top: 2rem;
  }

  .db-social .follow {
    margin: 1.4rem;
  }

  .db-social .rang {
    top: 15px;
  }

  .db-social .widget-footer {
    margin: 0 0.8rem;
  }

  .db-social .users-like a {
    margin-right: -1.8rem;
  }

  .db-social .users-like a:hover {
    margin-right: -1.8rem;
  }

  .db-social .input-group-addon .btn {
    padding: 18px 10px;
  }

  .db-social .hobbies {
    margin-right: 2rem;
  }
}
/*
 * SMARTHOME
 */
.db-smarthome.page {
  background-color: #f2f3f8;
  background: url('../../../../assets/img/background/db-smarthome.jpg');
  background-position: bottom right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.db-smarthome nav.navbar {
  background: transparent;
  padding: 0;
  box-shadow: none;
}

.db-smarthome nav.navbar .nav-item > a span {
  border-color: #f2f3f8;
}

.db-smarthome nav.navbar .avatar {
  border-color: transparent;
}

.room-details .room-image {
  position: relative;
  overflow: hidden;
}

.room-details .room-image .overlay {
  background: linear-gradient(to bottom, rgba(63,76,107,0) 30%,rgba(63,76,107,0.8) 90%);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  border-radius: 0 0 4px 4px;
}

.room-details .room-image .live {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 2;
}

.room-details .room-image .live .badge-rounded {
  display: inline-block;
}

.room-details .room-image .live p {
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
  text-transform: uppercase;
}

.room-details .main-room-info .temperature {
  color: #2c304d;
  font-size: 3rem;
}

.room-details .main-room-info .temperature i {
  color: #aea9c3;
  font-size: 2rem;
  vertical-align: middle;
}

.room-details .global-room-info .title {
  color: #2c304d;
}

.room-details .global-room-info .setgs {
  color: #2c304d;
}

@media (max-width: 576px) {
  .db-smarthome.page {
    background-image: none;
  }

  .db-smarthome .page-header-title {
    margin-bottom: 1.07rem;
  }
}
/*
 * 02. HEADER
 */
.header {
  min-height: 70px;
  position: relative;
}

.navbar-header .logo-big {
  width: 170px;
}

.navbar-header .logo-small {
  width: 70px;
}

.navbar-holder {
  width: 100%;
}

nav.navbar {
  background: #fff;
  padding: 0 15px;
  color: #aea9c3;
  border-radius: 0;
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
  z-index: 1000;
  width: 100%;
}

nav.navbar .badge {
  display: block;
  width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

nav.navbar .navbar-brand .brand-small {
  display: none;
}

nav.navbar a {
  color: inherit;
}

nav.navbar .container-fluid {
  width: 100%;
}

nav.navbar .menu-btn {
  margin-right: 0;
  font-size: 1.2em;
  vertical-align: middle;
  padding: 0;
}

nav.navbar .menu-btn span {
  background: #aea9c3;
  width: 20px;
  height: 2px;
  display: block;
  margin: 7px 0;
  border-radius: 35px;
  transition: all 0.3s cubic-bezier(0.81, -0.33, 0.345, 1.375);
}

nav.navbar .menu-btn span:nth-of-type(2) {
  position: relative;
  width: 30px;
}

nav.navbar .menu-btn span:last-of-type {
  position: relative;
  width: 15px;
  margin-top: 0;
}

nav.navbar .menu-btn span:first-of-type {
  margin-top: 0;
  transition: all 0.6s;
}

nav.navbar .menu-btn.active span:first-of-type {
  transform: translateX(10px);
  margin-top: 0;
}

nav.navbar .menu-btn.active span:nth-of-type(2) {
  transform: none;
}

nav.navbar .menu-btn span:last-of-type {
  margin-top: 0;
  transition: all 0.3s;
}

nav.navbar .menu-btn.active span:last-of-type {
  transform: translateX(15px);
  margin-top: 0;
}

nav.navbar .nav-item > a {
  position: relative;
  font-size: 1.8rem;
  padding: 0;
  width: 50px;
  text-align: center;
  line-height: 70px;
}

nav.navbar .nav-item > a span {
  position: absolute;
  top: 20px;
  right: 10px;
  border: 3px solid #fff;
}

nav.navbar .nav-item > a.logout i {
  margin-left: 10px;
}

nav.navbar .search-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  background: #fff;
  z-index: 9999;
  border-radius: 0;
  display: none;
}

nav.navbar .search-box .dismiss {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #5d5386;
}

nav.navbar .search-box form {
  height: 100%;
}

nav.navbar .search-box form input {
  height: 100%;
  border: none;
  padding: 20px;
  color: #5d5386;
}

nav.navbar .search-box form input::placeholder {
  color: #2a2c3d;
  font-weight: 500;
}
/*
 * MODERN DASHBOARD (Search)
 */
.db-modern nav.navbar .search-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  background: #2c304d;
  z-index: 9999;
  border-radius: 0;
  display: none;
}

.db-modern nav.navbar .search-box .dismiss {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #aea9c3;
}

.db-modern nav.navbar .search-box form {
  height: 100%;
}

.db-modern nav.navbar .search-box form input {
  background: #2c304d;
  height: 100%;
  border: none;
  padding: 20px;
  color: #fff;
}

.db-modern nav.navbar .search-box form input::placeholder {
  color: #aea9c3;
  font-weight: 500;
}

nav.navbar .dropdown-menu {
  right: 0;
  min-width: 300px;
  left: auto;
  margin-top: 0;
  padding: 0;
  max-width: 400px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

nav.navbar .dropdown-menu.notification .notifications-header {
  position: relative;
}

nav.navbar .dropdown-menu.notification .notifications-header .notifications-overlay {
  background: rgba(93, 83, 134, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px 4px 0 0;
}

nav.navbar .dropdown-menu.notification .notifications-header img {
  border-radius: 4px 4px 0 0;
}

nav.navbar .dropdown-menu.notification .notifications-header .title {
  color: #fff;
  font-size: 1.2rem;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: 0;
  z-index: 1;
}

nav.navbar .dropdown-menu.notification .notifications-header-2 {
  position: relative;
  padding: 1.2rem 0;
  border-bottom: 0.07rem solid #eee;
}

nav.navbar .dropdown-menu.notification .notifications-header-2 .title {
  color: #5d5386;
  font-size: 1.2rem;
  text-align: center;
}

nav.navbar .dropdown-menu.notification li a:hover i {
  color: #5d5386;
  transition: all 0.4s ease;
}

.dropdown-menu.notification .message-icon {
  display: table-cell;
  vertical-align: bottom;
}

.dropdown-menu.notification .message-icon i {
  color: #aea9c3;
  font-size: 2.8rem;
}

.dropdown-menu.notification .message-body {
  display: table-cell;
  vertical-align: top;
  padding: 0.7rem 0 0 1rem;
  color:#98a8b4;
}

.dropdown-menu.notification .message-body-heading {
  font-size: 0.85rem;
  font-weight: 600;
  color:#5d5386;
  margin: 0;
  padding: 0;
}

.dropdown-menu.notification .message-body span.date {
  color:#98a8b4;
  font-size: 0.7rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

nav.navbar .dropdown-menu a {
  padding: 1rem 0 1rem 1rem;
  font-size: 0.85rem;
  color: #5d5386;
  width: 100%;
  position: relative;
  z-index: 2;
}

nav.navbar .dropdown-menu a:hover {
  color: #5d5386;
}

nav.navbar .dropdown-menu a.all-notifications {
  color: #5d5386;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 1.4rem 0;
  border-top: 0.07rem solid rgba(0, 0, 0, 0.05);
  background: transparent;
}

nav.navbar .dropdown-menu a.all-notifications:hover {
  color: #e76c90;
}

nav.navbar .dropdown-menu a small {
  color: #98a8b4;
}

nav.navbar .dropdown-menu h3 {
  font-weight: 500;
}

nav.navbar .dropdown-menu.dropdown-grid {
  min-width: 300px;
}

nav.navbar .dropdown-menu.dropdown-grid li {
  width: 50%;
  float: left;
  text-align: center;
}

nav.navbar .dropdown-menu.dropdown-grid a {
  padding: 25px 15px;
  border-bottom: 0 none;
  position: relative;
}

nav.navbar .dropdown-menu.dropdown-grid a:hover .icon {
  color: #5d5386;
}

nav.navbar .dropdown-menu .dropdown-grid span {
  position: absolute;
  left: 10px;
  top: 9px;
  border: 3px solid #fff;
}

nav.navbar .dropdown-menu.dropdown-grid .icon {
  font-size: 2.4rem;
  color: #98a8b4;
}

nav.navbar .dropdown-menu.dropdown-grid .title {
  font-size: 1rem;
  margin-top: -5px;
}

nav.navbar .avatar {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border: 0.2rem solid #fff;
}

nav.navbar .user-size.dropdown-menu {
  min-width: 250px;
  overflow: hidden;
}

nav.navbar .user-size.dropdown-menu a {
  font-weight: 600;
  padding: 0.5rem 1.4rem;
  border-bottom: 0 none;
  position: relative;
}

nav.navbar .user-size.dropdown-menu a:hover {
  background: none;
}

nav.navbar .user-size.dropdown-menu .separator {
  margin: 1.4rem 0;
  border-bottom: 0.07rem solid rgba(0, 0, 0, 0.05)!important;
}

nav.navbar .user-size.dropdown-menu li.welcome {
  width: 150px;
  margin: 0 auto;
  padding: 1.4rem 0;
  position: relative;
}

nav.navbar .user-size.dropdown-menu li.welcome a.edit-profil {
  position: absolute;
  background: #fff;
  font-size: 1.6rem;
  border-radius: 50%;
  right: 20px;
  bottom: 10px;
  box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  padding: 0;
}

nav.navbar .user-size.dropdown-menu li.welcome img {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto 10px;
}

nav.navbar .user-size.dropdown-menu h2 {
  color: #5d5386;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

nav.navbar .user-size.dropdown-menu a h6 {
  transition: all 0.4s ease;
}

nav.navbar .user-size.dropdown-menu a:hover h6 {
  margin-left: 5px;
}

nav.navbar .dropdown-menu .user-body h6 {
  font-size: 1rem;
  display: inline-block;
  margin-bottom: 0;
}

nav.navbar .user-size.dropdown-menu a.logout {
  background: #5d5386;
  width: 70px;
  height: 70px;
  color: #fff;
  border-radius: 50%;
  text-align: center !important;
  padding: 0;
  line-height: 55px;
  position: relative;
  bottom: -20px;
  font-size: 1.8rem;
  margin: 10px auto 0;
}

nav.navbar .user-size.dropdown-menu a.logout:hover {
  background: #e76c90;
}

.navbar {
  padding: 0.5rem 1rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: 1rem;
  font-size: 1.25rem;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler-left {
  left: 1rem;
}

.navbar-toggler-right {
  right: 1rem;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-toggler:focus,
.navbar-light .navbar-toggler:hover {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .open > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-toggler {
  color: white;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-toggler:focus,
.navbar-inverse .navbar-toggler:hover {
  color: white;
}

.navbar-inverse .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-inverse .navbar-nav .nav-link:focus,
.navbar-inverse .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-inverse .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}

.navbar-inverse .navbar-nav .open > .nav-link,
.navbar-inverse .navbar-nav .active > .nav-link,
.navbar-inverse .navbar-nav .nav-link.open,
.navbar-inverse .navbar-nav .nav-link.active {
  color: white;
}

.navbar-inverse .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-inverse .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-inverse .navbar-text {
  color: rgba(255, 255, 255, 0.5);
}
/*
 * MODERN DASHBOARD
 */
.db-modern .header {
  background: #2c304d;
}

.db-modern .navbar {
  background: transparent;
}
.db-modern nav.navbar {
  box-shadow: none;
}

.db-modern .menu-area {
  background: #2c304d;
}

.db-modern nav.navbar .avatar {
  border: 0.2rem solid #2c304d;
}

.db-modern nav.navbar .nav-item > a span {
  border: 3px solid #2c304d;
}
/*
 * SOCIAL DASHBOARD
 */
.db-social nav.navbar {
  background: #2c304d;
  box-shadow: none;
}

.db-social .menu-area {
  background: #2c304d;
}

.db-social nav.navbar .avatar {
  border: 0.2rem solid #2c304d;
}

.db-social nav.navbar .nav-item > a span {
  border: 3px solid #2c304d;
}
/*
 * 03. SIDEBAR
 */
/*
 * DEFAULT
 */
.default-sidebar {
  background: #2c304d;
  position: fixed;
  height: 100%;
  top: 0;
  z-index: 999;
  transition: all 0.2s ease;
}

.default-sidebar .sidebar-separator {
  background: rgba(255, 255, 255, 0.05);
  height: 1px;
  width: 90%;
  margin: 1.07rem auto;
}

.default-sidebar > .side-navbar {
  min-width: 240px;
  max-width: 240px;
  color: #fff;
  z-index: 999;
  position: relative;
  height: 100%;
  padding: 80px 0;
  display: block;
}

.default-sidebar > .side-navbar a {
  color: inherit;
  position: relative;
  font-size: 1rem;
}

.default-sidebar > .side-navbar a[data-toggle="collapse"]::before {
  color: #aea9c3;
  font-size: 0.85rem;
  content: '\f124';
  display: inline-block;
  transform: translateY(-50%);
  font-family: 'ionicons';
  position: absolute;
  top: 50%;
  right: 20px;
  opacity: 0.5;
}

.default-sidebar > .side-navbar a[aria-expanded="true"] {
  background: #252946;
  margin: 0 10px 0 10px;
  border-radius: 4px 4px 0 0;
}

.default-sidebar > .side-navbar a[aria-expanded="true"] i {
  color: #e76c90;
}

.default-sidebar > .side-navbar a[aria-expanded="true"]::before {
  content: '\f123';
}

.default-sidebar > .side-navbar a i {
  font-size: 1.6rem;
  margin-right: 10px;
  transition: none;
  vertical-align: -4px;
  color: #98a8b4;
}

.default-sidebar > .side-navbar .sidebar-header {
  padding: 30px 15px;
}

.default-sidebar > .side-navbar span.heading {
  font-weight: 600;
  margin-left: 10px;
  color: #aea9c3;
  font-size: 0.85rem;
  text-transform: uppercase;
}

.default-sidebar > .side-navbar ul {
  padding: 10px 0;
}

.default-sidebar > .side-navbar ul a {
  color: #aea9c3;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  font-weight: 500;
}

.default-sidebar > .side-navbar ul a:hover i {
  color: #e76c90;
}

.default-sidebar > .side-navbar ul li.active i,
.default-sidebar > .side-navbar li ul li a.active {
  color: #e76c90;
}

.default-sidebar > .side-navbar ul ul {
  margin: 0 10px 0 10px;
}

.default-sidebar > .side-navbar ul ul {
  background: #252946;
  border-radius: 0 0 4px 4px;
}

.default-sidebar > .side-navbar ul ul a {
  font-size: 0.85rem;
  padding-left: 40px;
  color: #aea9c3;
}

.default-sidebar > .side-navbar ul ul a:hover {
  color: #e76c90;
}

.default-sidebar > .side-navbar ul ul a:focus {
  color: #aea9c3;
}

.default-sidebar > .side-navbar.shrinked ul.end-sidebar {
  padding-bottom: 0;
}

.default-sidebar > .side-navbar.shrinked .sidebar-gradient {
  display: none;
}

.default-sidebar > .side-navbar.shrinked {
  min-width: 90px;
  max-width: 90px;
  text-align: center;
}

.default-sidebar > .side-navbar.shrinked span.heading {
  font-size: 0.7rem;
  margin: 0;
}

.default-sidebar > .side-navbar.shrinked a {
  padding: 15px 10px;
  border: none;
  font-size: 0.7rem;
  transition: color 0.3s, background 0.3s;
}

.default-sidebar > .side-navbar.shrinked a[data-toggle="collapse"]::before {
  content: '\f123';
  transform: translateX(50%);
  position: absolute;
  top: auto;
  right: 50%;
  bottom: 0;
  left: auto;
}

.default-sidebar > .side-navbar.shrinked a[data-toggle="collapse"][aria-expanded="true"]::before {
  content: '\f126';
}

.default-sidebar > .side-navbar.shrinked a:hover {
  border: none;
}

.default-sidebar > .side-navbar.shrinked a {
  padding: 10px 0;
}

.default-sidebar > .side-navbar.shrinked a i {
  margin-right: 0;
  margin-bottom: 5px;
  display: block;
  font-size: 1.7rem;
  transition: color 0.3s;
}

.default-sidebar > .side-navbar.shrinked a span {
  display: none;
}

.default-sidebar > .side-navbar.shrinked .sidebar-header .title {
  display: none;
}
/*
 * COMPACT
 */
.compact-sidebar {
  background: #2c304d;
  position: fixed;
  height: 100%;
  top: 0;
  z-index: 999;
  transition: all 0.2s ease;
}

.compact-sidebar .sidebar-separator {
  background: rgba(255, 255, 255, 0.05);
  height: 1px;
  width: 90%;
  margin: 1.07rem auto;
}

.compact-sidebar > .side-navbar.shrinked {
  margin-left: -90px;
  min-width: 90px;
  max-width: 90px;
  text-align: center;
}

.compact-sidebar > .side-navbar a {
  color: inherit;
  position: relative;
  font-size: 1rem;
}

.compact-sidebar > .side-navbar a[data-toggle="collapse"]::before {
  font-size: 0.85rem;
  content: '\f124';
  display: inline-block;
  transform: translateY(-50%);
  font-family: 'ionicons';
  position: absolute;
  top: 50%;
  right: 20px;
}

.compact-sidebar > .side-navbar a[aria-expanded="true"] {
  background: #252946;
  margin: 0 10px 0 10px;
  border-radius: 4px 4px 0 0;
}

.compact-sidebar > .side-navbar a[aria-expanded="true"] i {
  color: #e76c90;
}

.compact-sidebar > .side-navbar a[aria-expanded="true"]::before {
  content: '\f123';
}

.compact-sidebar > .side-navbar a i {
  font-size: 1.4rem;
  margin-right: 10px;
  transition: none;
  vertical-align: -2px;
  color: #fff;
}

.compact-sidebar > .side-navbar .sidebar-header {
  padding: 30px 15px;
}

.compact-sidebar > .side-navbar span.heading {
  font-weight: 600;
  margin-left: 10px;
  color: #aea9c3;
  font-size: 0.85rem;
  text-transform: uppercase;
}

.compact-sidebar > .side-navbar ul {
  padding: 10px 0;
}

.compact-sidebar > .side-navbar ul a {
  color: #98a8b4;
  padding: 10px 2px;
  text-decoration: none;
  display: block;
  font-weight: 500;
  text-align: center;
  position: relative;
}

.compact-sidebar > .side-navbar ul a:hover i {
  color: #e76c90;
}

.compact-sidebar > .side-navbar ul li.active i,
.compact-sidebar > .side-navbar li ul li a.active {
  color: #e76c90;
}

.compact-sidebar > .side-navbar ul a:hover span {
  opacity: 1;
  bottom: 0;
}

.compact-sidebar > .side-navbar ul a span {
  position: absolute;
  right: 0;
  bottom: -5px;
  left: 0;
  z-index: 20;
  opacity: 0;
  text-align: center;
  transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.compact-sidebar > .side-navbar ul ul {
  margin: 0 10px 0 10px;
}

.compact-sidebar > .side-navbar ul ul {
  background: #252946;
  border-radius: 0 0 4px 4px;
}

.compact-sidebar > .side-navbar ul ul a:hover {
  color: #e76c90;
}

.compact-sidebar > .side-navbar ul ul a:focus {
  color: #aea9c3;
}

.compact-sidebar > .side-navbar.shrinked ul.end-sidebar {
  padding-bottom: 0;
}

.compact-sidebar > .side-navbar {
  min-width: 90px;
  max-width: 90px;
  text-align: center;
  z-index: 999;
  position: relative;
  height: 100%;
  padding: 80px 0;
}

.compact-sidebar > .side-navbar span.heading {
  font-size: 0.7rem;
  margin: 0;
}

.compact-sidebar > .side-navbar a {
  padding: 15px 10px;
  border: none;
  font-size: 0.75rem;
  transition: color 0.3s, background 0.3s;
}

.compact-sidebar > .side-navbar a[data-toggle="collapse"]::before {
  content: '\f123';
  transform: translateX(50%);
  position: absolute;
  top: auto;
  right: 50%;
  bottom: 0;
  left: auto;
}

.compact-sidebar > .side-navbar a[data-toggle="collapse"][aria-expanded="true"]::before {
  content: '\f126';
}

.compact-sidebar > .side-navbar a:hover {
  border: none;
}

.compact-sidebar > .side-navbar a {
  padding: 10px 0;
}

.compact-sidebar > .side-navbar a i {
  margin-right: 0;
  margin-bottom: 5px;
  display: block;
  font-size: 1.7rem;
  transition: color 0.3s;
}

.compact-sidebar > .side-navbar .sidebar-header .title {
  display: none;
}

.compact-light-sidebar {
  background: #fff;
  position: fixed;
  height: 100%;
  top: 0;
  z-index: 999;
  transition: all 0.2s ease;
}

.compact-light-sidebar .sidebar-separator {
  background: #aea9c3;
  height: 2px;
  width: 50%;
  margin: 0.65rem auto;
  opacity: 0.3;
}

.compact-light-sidebar > .side-navbar.shrinked {
  margin-left: -90px;
  min-width: 90px;
  max-width: 90px;
  text-align: center;
}

.compact-light-sidebar > .side-navbar a {
  color: inherit;
  position: relative;
  font-size: 1rem;
}

.compact-light-sidebar > .side-navbar a[data-toggle="collapse"]::before {
  color: #aea9c3;
  font-size: 0.85rem;
  content: '\f124';
  display: inline-block;
  transform: translateY(-50%);
  font-family: 'ionicons';
  position: absolute;
  top: 50%;
  right: 20px;
}

.compact-light-sidebar > .side-navbar a[aria-expanded="true"] {
  background: #fff;
  margin: 0 10px 0 10px;
  border-radius: 4px 4px 0 0;
}

.compact-light-sidebar > .side-navbar a[aria-expanded="true"] i {
  color: #e76c90;
}

.compact-light-sidebar > .side-navbar a[aria-expanded="true"]::before {
  content: '\f123';
}

.compact-light-sidebar > .side-navbar a i {
  font-size: 1.4rem;
  margin-right: 10px;
  transition: none;
  vertical-align: -2px;
  color: #5d5386;
}

.compact-light-sidebar > .side-navbar .sidebar-header {
  padding: 30px 15px;
}

.compact-light-sidebar > .side-navbar span.heading {
  font-weight: 600;
  margin-left: 10px;
  color: #e76c90;
  font-size: 0.85rem;
  text-transform: uppercase;
}

.compact-light-sidebar > .side-navbar ul {
  padding: 10px 0;
}

.compact-light-sidebar > .side-navbar ul a {
  color: #5d5386;
  padding: 10px 2px;
  text-decoration: none;
  display: block;
  font-weight: 600;
  text-align: center;
  position: relative;
}

.compact-light-sidebar > .side-navbar ul a:hover i {
  color: #e76c90;
}

.compact-light-sidebar > .side-navbar ul li.active i,
.compact-light-sidebar > .side-navbar li ul li a.active {
  color: #e76c90;
}

.compact-light-sidebar > .side-navbar ul a:hover span {
  opacity: 1;
  bottom: 0;
}

.compact-light-sidebar > .side-navbar ul a span {
  position: absolute;
  right: 0;
  bottom: -5px;
  left: 0;
  z-index: 20;
  opacity: 0;
  text-align: center;
  transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.compact-light-sidebar > .side-navbar ul ul {
  margin: 0 10px 0 10px;
}

.compact-light-sidebar > .side-navbar ul ul {
  background: #fff;
  border-radius: 0 0 4px 4px;
}

.compact-light-sidebar > .side-navbar ul ul a:hover {
  color: #e76c90;
}

.compact-light-sidebar > .side-navbar ul ul a:focus {
  color: #aea9c3;
}

.compact-light-sidebar > .side-navbar.shrinked ul.end-sidebar {
  padding-bottom: 0;
}

.compact-light-sidebar > .side-navbar {
  min-width: 90px;
  max-width: 90px;
  text-align: center;
  z-index: 999;
  position: relative;
  height: 100%;
  padding: 80px 0;
}

.compact-light-sidebar > .side-navbar span.heading {
  font-size: 0.7rem;
  margin: 0;
}

.compact-light-sidebar > .side-navbar a {
  padding: 15px 10px;
  border: none;
  font-size: 0.8rem;
  transition: color 0.3s, background 0.3s;
}

.compact-light-sidebar > .side-navbar a[data-toggle="collapse"]::before {
  content: '\f123';
  transform: translateX(50%);
  position: absolute;
  top: auto;
  right: 50%;
  bottom: 0;
  left: auto;
}

.compact-light-sidebar > .side-navbar a[data-toggle="collapse"][aria-expanded="true"]::before {
  content: '\f126';
}

.compact-light-sidebar > .side-navbar a:hover {
  border: none;
}

.compact-light-sidebar > .side-navbar a {
  padding: 10px 0;
}

.compact-light-sidebar > .side-navbar a i {
  margin-right: 0;
  margin-bottom: 5px;
  display: block;
  font-size: 2rem;
  transition: color 0.3s;
}

.compact-light-sidebar > .side-navbar .sidebar-header .title {
  display: none;
}
/*
 * SOCIAL DASHBOARD
 */
.db-social .compact-sidebar > .side-navbar ul a {
  padding: 18px 0;
}
/*
 * HORIZONTAL MENU (Modern Dashboard)
 */
.horizontal-menu {
  background: #2c304d;
  padding: 0 30px;
}

.navbar-light .navbar-toggler {
  color: #aea9c3;
  border-color: transparent;
  padding: 1.2rem 1.07rem;
}

.navbar-toggler span {
  background: #aea9c3;
  width: 20px;
  height: 1px;
  display: block;
  margin: 6px 0 0;
  transition: all 0.3s cubic-bezier(0.81, -0.33, 0.345, 1.375);
}

.navbar-toggler span:nth-of-type(2) {
  position: relative;
  width: 30px;
}

.horizontal-menu .dropdown-menu {
  padding: 0;
  margin: 0;
  border: 0 solid transition!important;
  border: 0 solid rgba(0, 0, 0, .15);
  border-radius: 0;
}

.horizontal-menu .main-menu a,
.navbar-default .navbar-nav > li > a,
.horizontal-menu .main-menu ul li a,
.navbar-expand-lg .navbar-nav .nav-link {
  color: #aea9c3;
  font-size: 1rem;
  padding: 1.2rem 1.07rem;
  font-family: 'Montserrat', sans-serif;
  display: block !important;
}

.horizontal-menu .main-menu .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.5rem;
  vertical-align: top;
  content: "\f123";
  font-family: "Ionicons";
  border: 0 none;
}

.horizontal-menu .main-menu .active a,
.horizontal-menu .main-menu .active a:focus,
.horizontal-menu .main-menu .active a:hover {
  color: #e76c90;
  outline: 0;
}

.horizontal-menu .main-menu li a:hover,
.horizontal-menu .main-menu li a:focus {
  color: #aea9c3;
  outline: 0;
}

.horizontal-menu .navbar-default .navbar-nav > .show > a,
.horizontal-menu .navbar-default .navbar-nav > .show > a:focus,
.horizontal-menu .navbar-default .navbar-nav > .show > a:hover {
  color: #aea9c3;
  outline: 0;
}

.horizontal-menu .main-menu .dropdown-menu {
  min-width: 180px;
}

.horizontal-menu .main-menu .navbar-nav ul.dropdown-menu li a {
  font-size: 0.9rem;
}

.horizontal-menu .main-menu .navbar-nav ul.dropdown-menu li a i {
  color: #aea9c3;
  font-size: 1.6rem;
  vertical-align: middle;
  margin-right: 0.3rem;
}

.horizontal-menu .main-menu .collapse ul > li:hover > a {
  color: #e76c90;
}

.horizontal-menu .main-menu .collapse ul ul > li > a {
  color: #2c304d;
}

.horizontal-menu .main-menu .collapse ul ul > li:hover > a,
.horizontal-menu .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus,
.horizontal-menu .navbar-default .navbar-nav .show .dropdown-menu > li > a:hover {
  color: #e76c90;
}

.horizontal-menu .main-menu .collapse ul ul ul > li:hover > a {
  color: #e76c90;
}

.horizontal-menu .main-menu .collapse ul ul,
.horizontal-menu .main-menu .collapse ul ul.dropdown-menu {
  background: #fff;
  color: #2c304d;
  border-radius: 4px;
}

.horizontal-menu .main-menu .collapse ul ul ul,
.menu-area .main-menu .collapse ul ul ul.dropdown-menu {
  background: #fff;
  border-radius: 4px;
}

.horizontal-menu .main-menu {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  min-height: 20px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .horizontal-menu .main-menu .collapse ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 180px;
    display: none
  }

  .horizontal-menu .main-menu .collapse ul ul li {
    position: relative
  }

  .horizontal-menu .main-menu .collapse ul ul li:hover > ul {
    display: block
  }

  .horizontal-menu .main-menu .collapse ul ul ul {
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 250px;
    display: none
  }

  .horizontal-menu .main-menu .collapse ul ul ul li {
    position: relative
  }

  .horizontal-menu .main-menu .collapse ul ul ul li:hover ul {
    display: block
  }

  .horizontal-menu .main-menu .collapse ul ul ul ul {
    position: absolute;
    top: 0;
    left: -100%;
    min-width: 250px;
    display: none;
    z-index: 1
  }
}

@media only screen and (max-width: 768px) {
  .horizontal-menu nav.navbar .dropdown-menu {
    right: 0;
    left: 0;
    transform: none;
  }

  .horizontal-menu .main-menu .collapse ul ul,
  .horizontal-menu .main-menu .collapse ul ul.dropdown-menu {
    background: transparent;
    color: #aea9c3;
  }

  .horizontal-menu .main-menu .collapse ul ul > li > a {
    color: #aea9c3;
  }

  .horizontal-menu .main-menu .collapse ul ul ul.dropdown-menu {
    box-shadow: none;
  }

  .horizontal-menu .navbar-nav .show .dropdown-menu .dropdown-menu > li > a {
    padding: 16px 15px 16px 35px
  }

  .horizontal-menu .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a {
    padding: 16px 15px 16px 45px
  }
}
/*
 * LIGHT SIDEBAR
 */
.light-sidebar {
  background: #fff;
}

.light-sidebar .side-navbar span.heading {
  color: #5d5386;
}

.light-sidebar .side-navbar ul a,
.light-sidebar .side-navbar ul a i {
  color: #aea9c3;
}
/*
 * 04. OFF SIDEBAR
 */
.off-sidebar {
  background: rgba(46, 52, 81, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  z-index: 99999;
  transition: visibility 0s 0.6s;
}

.off-sidebar::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  transition: background 0.3s 0.3s;
}

.off-sidebar.is-visible {
  visibility: visible;
  transition: visibility 0s 0s;
}

.off-sidebar.is-visible::after {
  background: rgba(0, 0, 0, 0.6);
  transition: background 0.3s 0s;
}

.off-sidebar-header {
  background: #fff;
  width: 100%;
  height: 60px;
  z-index: 2;
}

.off-sidebar-header h2 {
  font-family: "Montserrat", sans-serif;
  color: #5d5386;
  padding: 25px 0 0 15px;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0;
}

.off-sidebar-close:before {
  color: #aea9c3;
  content: "\f191";
  font-family: "LineAwesome";
  position: absolute;
  top: 15px;
  right: 15px;
  height: 35px;
  width: 35px;
  line-height: 30px;
  display: inline-block;
  border: 2px solid #aea9c3;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.4;
}

.off-sidebar-container {
  background: #fff;
  position: fixed;
  width: 430px;
  height: 100%;
  top: 0;
  z-index: 1;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-delay: 0.3s;
}

.off-sidebar-container.mini {
  width: 150px;
}

.from-right .off-sidebar-container {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.from-left .off-sidebar-container {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.is-visible .off-sidebar-container {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-delay: 0s;
}

.off-sidebar-content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 1.07rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.off-sidebar-content .date {
  color: #e76c90;
  font-size: 0.9rem;
  text-align: center;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 0;
}

.messenger-image {
  float: left;
  border-radius: 50%;
}

.messenger-image.messenger-image-default {
  width: 50px;
  height: 50px;
}

.messenger-message {
  margin-bottom: 35px;
  width: 100%;
  display: table;
  overflow: hidden;
}

.messenger-message:before {
  content: " ";
  display: block;
}

.messenger-message:last-of-type {
  margin-bottom: 0;
}

.messenger-message.messenger-message-sender .messenger-message-wrapper {
  max-width: 80%;
  display: table;
  padding: 5px 15px 0;
  position: relative;
}

.messenger-message.messenger-message-sender .messenger-message-wrapper:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  top: 12px;
  position: absolute;
}

.messenger-message.messenger-message-sender .messenger-message-wrapper span {
  color: #aea9c3;
  display: block;
  font-size: 0.85rem;
}

.messenger-message.messenger-message-sender .messenger-message-wrapper p {
  background-color: #f0f2f7;
  border-top-color: #f0f2f7;
  font-size: 0.95rem;
  padding: 1.2rem 1.4rem;
  margin-bottom: 0.85rem;
  color: #2a2c3d;
  border-top: 1px solid;
  border-radius: 4px;
}

.messenger-message.messenger-message-sender .messenger-message-wrapper p:first-of-type {
  border-top: 0 !important;
}

.messenger-message.messenger-message-sender .messenger-message-wrapper,
.messenger-message.messenger-message-sender .messenger-message-content {
  float: left;
}

.messenger-message.messenger-message-sender .messenger-message-wrapper:before {
  left: -5px;
  border-right-color: #f0f2f7;
}

.messenger-message.messenger-message-sender p {
  color: #2c304d;
  background-color: #e4e8f0;
  border-top-color: #e4e8f0;
}

.messenger-message.messenger-message-sender p span {
  font-size: 21px;
  vertical-align: middle;
}

.messenger-message.messenger-message-sender .messenger-details {
  clear: both;
  width: 100%;
  display: table;
  overflow: hidden;
}

.messenger-message.messenger-message-sender .messenger-details:before {
  content: " ";
  display: block;
}

.messenger-message.messenger-message-sender .messenger-details span {
  color: #aea9c3;
  font-size: 0.70rem;
  font-weight: 600;
}

.messenger-message.messenger-message-recipient .messenger-message-wrapper {
  max-width: 90%;
  display: table;
  padding: 0 10px 0;
  position: relative;
}

.messenger-message.messenger-message-recipient .messenger-message-wrapper:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  top: 14px;
  position: absolute;
}

.messenger-message.messenger-message-recipient .messenger-message-wrapper p {
  font-size: 0.95rem;
  padding: 1.2rem 1.4rem;
  margin-bottom: 0.85rem;
  color: #fff;
  border-top: 1px solid;
  border-radius: 4px;
}

.messenger-message.messenger-message-recipient .messenger-message-wrapper p:first-of-type {
  border-top: 0 !important;
}

.messenger-message.messenger-message-recipient .messenger-message-wrapper,
.messenger-message.messenger-message-recipient .messenger-message-content {
  float: right;
}

.messenger-message.messenger-message-recipient .messenger-message-wrapper:before {
  right: -10px;
  border-left-color: rgba(52, 40, 104, 0.8);
}

.messenger-message.messenger-message-recipient p {
  color: #fff;
  background: #5d5386;
  border-top-color: #5d5386;
}

.messenger-message.messenger-message-recipient p span {
  font-size: 21px;
  vertical-align: middle;
}

.messenger-message.messenger-message-recipient .messenger-details {
  clear: both;
  float: right;
  display: table;
  overflow: hidden;
}

.messenger-message.messenger-message-recipient .messenger-details:before {
  content: " ";
  display: block;
}

.messenger-message.messenger-message-recipient .messenger-details span {
  color: #aea9c3;
  font-size: 0.70rem;
  font-weight: 600;
}

.messenger-message .messenger-message-content {
  display: table;
  overflow: hidden;
}

.messenger-message .messenger-message-content:before {
  content: " ";
  display: block;
}

.enter-message {
  padding: 10px 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.enter-message-form {
  display: table-cell;
  width: 100%;
}

.enter-message-button {
  display: table-cell;
  vertical-align: middle;
  padding: 0;
}

.enter-message input {
  border: 0 none;
  padding: 10px 15px;
  background: #e4e8f0;
  color: #2c304d;
  width: 100%;
  border-radius: 20px;
  font-weight: 500;
}

.enter-message input::placeholder {
  color: #2a2c3d;
  font-weight: 500;
}

.enter-message a.send {
  padding: 0 15px;
  border-radius: 20px;
}

.enter-message a.send i {
  font-size: 2rem;
}

.off-sidebar-content .sidebar-heading {
  color: #5d5386;
  font-size: 1rem;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1.07rem 0;
}

.off-sidebar-content .today-stats i {
  color: #aea9c3;
  font-size: 2.4rem;
}

.off-sidebar-content .today-stats .heading {
  color: #98a8b4;
  font-size: 1rem;
}

.off-sidebar-content .today-stats .counter {
  color: #2c304d;
  font-size: 1.2rem;
  font-weight: 700;
}

.off-sidebar-content .list-group-item {
  border: 0 none;
}

.off-sidebar-content .quick-friends .list-group-item i {
  font-size: 2rem;
}
/*
 * 05. WIDGETS
 */
.widget-01 h3 {
  color: #2c304d;
  font-size: 1.2rem;
  padding: 1.4rem 0 1rem;
  margin-bottom: 0;
  text-align: center;
}

.widget-01 h3 span {
  font-weight: 500;
}

.widget-01 .circle {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 1.4rem;
  position: relative;
  text-align: center;
}

.widget-01 .circle canvas {
  max-width: 100%;
  max-height: 100%;
}

.widget-01 .circle .percent {
  color: #2c304d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.widget-01 .circle .percent i {
  font-style: normal;
  font-size: 2rem;
  font-weight: normal;
}

.widget-01 .other-stats {
  padding: 0;
  margin: 0;
}

.widget-01 .today-sales .text {
  text-align: center;
  margin-top: -20px;
  padding-bottom: 20px;
}

.widget-01 .today-sales .text .heading {
  color: #98a8b4;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: -0.5rem;
}

.widget-01 .today-sales .text .number {
  color: #2c304d;
  display: block;
  font-size: 2.4rem;
  font-weight: 600;
}

.widget-01 .today-sales .graph {
  position: relative;
  overflow: hidden;
}

.widget-01 .today-sales .value {
  font-weight: 600;
}

.widget-01 .elisyam-version {
  text-align: center;
  padding: 0 0 2rem;
}

.widget-01 .elisyam-version p {
  color: #5d5386;
  font-size: 0.85rem;
  margin-bottom: 0;
}
/*
 * 02
 */
.widget-02 .chart {
  padding: 0;
}

.widget-02 .more-charts {
  padding: 2.5rem 0;
}
/*
 * 03
 */
.widget-03.blog-image {
  background: url("../../../../assets/img/blog/blog-01.jpg");
  display: block;
  background-position: 50% 0%;
  background-size: cover;
}

.widget-03 h3 {
  margin-bottom: 0;
}

.widget-03 .blog-title a {
  color: #fff;
  display: inline-block;
  font-size: 3rem;
  font-weight: 600;
  text-decoration: none;
}

.widget-03 .author {
  color: #fff;
  font-size: 1rem;
}

.widget-03 .blog-overlay {
  background: rgba(46, 52, 81, 0.4);
  content: "";
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.widget-03 .blog-content {
  position: absolute;
  padding: 0 2rem;
  bottom: 10%;
  z-index: 2;
}

.widget-03 .widget-body {
  position: relative;
}

.widget-03 .blog-category {
  padding-top: 1.4rem;
}

.widget-03 .blog-category a {
  background: rgb(226,63,131);
  background: linear-gradient(to right, rgba(226,63,131,1) 0%,rgba(234,88,68,1) 100%);
  background-size: 250% auto;
  font-weight: 500;
  transition: 0.5s;
  color: #fff;
  padding: 0.7rem 1.4rem;
  border-radius: 50px;
  font-size: 0.85rem;
}

.widget-03 .blog-category a:hover {
  background-position: right center;
}

.widget-03 .meta {
  padding-top: 0.5rem;
}

.widget-03 li {
  display: inline-block;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.widget-03 li i {
  font-size: 1.4rem;
  margin-right: 5px;
  vertical-align: middle;
}
/*
 * 04
 */
.widget-04 .post-container {
  position: relative;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
  padding: 1.07rem;
  margin: 1.4rem;
}

.widget-04 .post-container img {
  border-radius: 4px;
}

.widget-04 .user img {
  width: 40px;
}

.widget-04 .user {
  position: relative;
  display: inline-block;
}

.widget-04 .title {
  color: #2c304d;
  font-size: 1rem;
}

.widget-04 .username {
  color: #e76c90;
}

.widget-04 .time {
  font-size: 0.85rem;
}

.widget-04 .meta li {
  display: inline-block;
  margin-right: 0.5rem;
}

.widget-04 .meta li:last-child {
  margin-right: 0;
}

.widget-04 .meta li a {
  color: rgba(52, 40, 104, 0.3);
}

.widget-04 .meta li a:hover {
  color: rgba(52, 40, 104, 0.9);
}

.widget-04 .meta li i {
  font-size: 1.8rem;
  vertical-align: middle;
  margin-right: 0.3rem;
}

.widget-04 .meta li .numb {
  vertical-align: middle;
}

.widget-04 .input-group input {
  border: 0 none;
  border-top: 1px solid #eee;
}

.widget-04 .input-group input::placeholder {
  color: rgba(52, 40, 104, 0.3);
  font-weight: 500;
}

.widget-04 .input-group-addon {
  border: 0 !important;
  border-top: 1px solid #eee !important;
  padding: 0.75rem 0 !important;
}

.widget-04 .input-group-addon .btn {
  background: #fff;
  color: rgba(52, 40, 104, 0.3);
  padding: 0 5px;
  border-radius: 0;
  border: 0;
}
/*
 * 05
 */
.widget-05 .author-avatar {
  width: 80px;
  height: 80px;
  margin: 50px auto 0;
  position: relative;
}

.widget-05 .author-avatar:before {
  content: "";
  height: 140px;
  width: 140px;
  border-radius: 100%;
  border: 2px dashed rgba(52, 40, 104, 0.08);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.widget-05 .author-avatar:after {
  content: "";
  height: 205px;
  width: 205px;
  border-radius: 100%;
  border: 2px dashed rgba(52, 40, 104, 0.07);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.widget-05 .author-avatar span {
  position: absolute;
  right: 0;
  top: 8px;
  border: 3px solid #fff;
}

.widget-05 .author-name {
  color: #5d5386;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  padding-top: 0.8rem;
  position: relative;
  text-shadow: 0 1px 0 #fff;
}

.widget-05 .author-name span {
  font-size: 1rem;
  color: #98a8b4;
  display: block;
}

.widget-05 .chart {
  padding: 0.8rem 1.4rem 0 1.4rem;
}

.widget-05 .chart-text .heading {
  color: #98a8b4;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: -0.5rem;
}

.widget-05 .chart-text .number {
  color: #2c304d;
  display: block;
  font-size: 2rem;
  font-weight: 600;
}

.widget-05 .chart-graph {
  position: relative;
}

.widget-05 .chart-text .cxg {
  font-weight: 700;
}

.widget-05 .social-stats {
  margin: 1.07rem 0 1.8rem;
  padding: 0 3rem;
}

.widget-05 .social-stats i {
  font-size: 2.4rem;
}

.widget-05 .social-stats i.followers {
  color: rgba(52, 40, 104, 0.3);
}

.widget-05 .social-stats i.dribbble {
  color: rgba(52, 40, 104, 0.3);
}

.widget-05 .social-stats i.behance {
  color: rgba(52, 40, 104, 0.3);
}

.widget-05 .social-stats .heading {
  color: #98a8b4;
  font-size: 1rem;
}

.widget-05 .social-stats .counter {
  color: #2c304d;
  font-size: 1.2rem;
  font-weight: 700;
}

.widget-05 .actions {
  margin-bottom: 1.8rem;
}
/*
 * 06
 */
.widget-06 .reviews img {
  width: 40px;
}

.widget-06 .reviews .user-img {
  position: relative;
  display: inline-block;
}

.widget-06 .reviews .list-group-item {
  display: block;
  margin: 0;
  padding: 1.8rem 1.07rem;
  border: 0 none;
  border-bottom: 0.07rem solid #eee !important;
  background: transparent;
}

.widget-06 .reviews .list-group-item:first-child {
  border-top: 0;
  border-radius: 0 !important;
}

.widget-06 .reviews .list-group-item:last-child {
  border-bottom: 0;
  border-radius: 0 !important;
}

.widget-06 .media h4 {
  font-size: 1.2rem;
  color: #2c304d;
  margin-bottom: 0.3rem;
}

.widget-06 .media .stars i {
  color: rgba(52, 40, 104, 0.4);
  font-size: normal;
}

.widget-06 .media .media-body {
  padding: 0 0.8rem;
}

.widget-06 .media p {
  font-size: 0.95rem;
  color: #94a4b0;
  margin: 0;
}

.widget-06 .media .meta {
  font-size: 0.85rem;
  padding-top: 0.8rem;
  font-weight: 600;
}

.widget-06 .media .meta a {
  font-style: italic;
}

.widget-06 .like {
  color: #e76c90;
}

.widget-06 .media .like i {
  display: block;
  font-size: 1.4rem;
}

.widget-06 .media .like span {
  font-weight: 600;
}
/*
 * 07
 */
.widget-07 .display-items {
  font-size: 0.85rem;
  margin-top: 0.3rem;
}
/*
 * 08
 */
.widget-08 .widget-body {
  position: relative;
  overflow: hidden;
}

.widget-08 .today {
  line-height: 1;
  padding: 1.07rem 0;
}

.widget-08 .today .title {
  color: #5d5386;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.widget-08 .today .new-tasks .nb {
  color: #e76c90;
  font-size: 2.4rem;
  font-weight: 600;
}

.widget-08 input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: rgba(52, 40, 104, 0.4);
}

.widget-08 .list {
  list-style: none;
  padding: 0;
  color: #2c304d;
}

.widget-08 .list li {
  width: 100%;
  margin: 0.8rem 0;
  border-radius: 4px;
  padding: 1.07rem 1rem;
  position: relative;
}

.widget-08 .list li.task-color:before {
  content: "";
  height: 100%;
  width: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -5px;
}

.widget-08 .list li.task-violet:before {
  background: rgba(52, 40, 104, 0.8);
}

.widget-08 .list li.task-blue:before {
  background: #17a2b8;
}

.widget-08 .list li.task-red:before {
  background: #dc3545;
}

.widget-08 .description {
  margin-top: 1rem;
  display: block;
}
/*
 * 09
 */
.widget-09 .some-stats {
  line-height: 1.2;
}

.widget-09 .some-stats .title {
  font-size: 1rem;
  color: #2c304d;
}

.widget-09 .some-stats .number {
  font-size: 1.8rem;
  font-weight: 600;
}

.widget-09 .new-orders .title {
  font-size: 1.2rem;
  margin-bottom: 0.85rem;
  color: #2c304d;
}

.widget-09 .circle-orders {
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.widget-09 .circle-orders canvas {
  max-width: 100%;
  max-height: 100%;
}

.widget-09 .circle-orders .percent-orders {
  color: #2c304d;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  font-size: 2.4rem;
}

.widget-09 .circle-orders .percent-orders i {
  font-style: normal;
  font-size: 1.4rem;
  font-weight: 600;
}

@media (max-width: 576px) {
  .widget-09 .new-orders .title {
    margin-top: 1.07rem;
  }
}
/*
 * 10
 */
.widget-10 .ticket img {
  width: 50px;
}

.widget-10 .ticket .user-img {
  position: relative;
  display: inline-block;
}

.widget-10 .ticket .list-group-item {
  display: block;
  margin: 0;
  padding: 1.4rem 1.4rem;
  border: 0 none;
  border-bottom: 0.07rem solid #eee !important;
  background: transparent;
}

.widget-10 .ticket .list-group-item:first-child {
  border-top: 0;
  border-radius: 0 !important;
}

.widget-10 .ticket .list-group-item:last-child {
  border-bottom: 0 !important;
  border-radius: 0 !important;
}

.widget-10 .media h4 {
  font-size: 1.2rem;
  color: #2c304d;
  margin-bottom: 0.3rem;
}

.widget-10 .media .status {
  color: rgba(52, 40, 104, 0.5);
  font-size: 0.9rem;
}

.widget-10 .media p {
  color: #94a4b0;
  margin: 0;
}

.widget-10 span {
  color: #fff;
  font-style: normal;
  font-weight: 600;
  padding: 0.5rem 0;
}

.widget-10 span.open {
  color:#60c400;
}

.widget-10 span.pending {
  color:#08a6c3;
}

.widget-10 span.closed {
  color:#fe195e;
}
/*
 * 10
 */
.widget-11 .timeline:before {
  position: absolute;
  display: block;
  left: 28px;
  width: 4px;
  height: 100%;
  background-color: rgba(52, 40, 104, 0.08);
  content: ' ';
}

.widget-11 .timeline:after {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #fff;
  content: ' ';
}

.widget-11 .timeline.violet:after {
  background: #5d5386;
}

.widget-11 .timeline.red:after {
  background: #fe195e;
}

.widget-11 .timeline.blue:after {
  background: #08a6c3;
}

.widget-11 .timeline.green:after {
  background: #60c400;
}

.widget-11 .timeline {
  position: relative;
}

.widget-11 .timeline-content {
  padding: 1.07rem 1.4rem 1.07rem 4rem;
  position: relative;
  width: 100%;
}

.widget-11 .timeline-content .user-image {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.07rem;
}

.widget-11 .timeline-content .user-image img {
  width: 40px;
}

.widget-11 .timeline-content .timeline-icon {
  color: rgba(52, 40, 104, 0.4);
  font-size: 2.4rem;
  width: 40px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.07rem;
}

.widget-11 .timeline-content .title {
  color: #2c304d;
  font-size: 1rem;
}

.widget-11 .timeline-content .username {
  color: #e76c90;
}

.widget-11 .timeline-content .time {
  font-size: 0.85rem;
}

.widget-11 .users-like {
  padding: 0.4rem 0;
}

.widget-11 .users-like a {
  margin: 0 -1.6rem 0 0;
  transition: all 0.4s ease;
}

.widget-11 .users-like a:hover {
  margin-right: -0.3rem;
}

.widget-11 .users-like img {
  width: 40px;
  border: 0.25rem solid #fff;
}
/*
 * 12
 */
.widget-12 .widget-body {
  position: relative;
  overflow: hidden;
}

.widget-12 i {
  font-size: 4rem;
}

.widget-12 .title {
  color: #2c304d;
  font-size: 1.2rem;
}

.widget-12 .number {
  font-size: 1rem;
}
/*
 * 13
 */
.widget-13 .widget-body {
  position: relative;
  overflow: hidden;
}

.widget-13 .author-avatar {
  width: 100px;
  height: 100px;
  margin: 50px auto 0;
  position: relative;
}

.widget-13 .author-avatar img {
  z-index: 1;
}

.widget-13 .author-avatar:before {
  content: "";
  height: 130px;
  width: 130px;
  border-radius: 100%;
  background: rgba(52, 40, 104, 0.05);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.widget-13 .author-avatar:after {
  content: "";
  height: 160px;
  width: 160px;
  border-radius: 100%;
  background: rgba(52, 40, 104, 0.05);
  position: absolute;
  left: 50%;
  top: 50%;
  box-shadow: 0 0 0 15px rgba(52, 40, 104, 0.025);
  transform: translate(-50%,-50%);
}

.widget-13 .author-avatar span {
  position: absolute;
  right: 0;
  top: 8px;
  border: 3px solid #fff;
}

.widget-13 .author-name {
  color: #5d5386;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  margin-top: 2.6rem;
  position: relative;
  text-shadow: 0 1px 0 #fff;
}

.widget-13 .author-name span {
  font-size: 1rem;
  color: #98a8b4;
  display: block;
}

.widget-13 .social-stats {
  margin-bottom: 150px;
}

.widget-13 .social-stats i {
  font-size: 2.4rem;
}

.widget-13 .social-stats i.followers {
  color: rgba(52, 40, 104, 0.3);
}

.widget-13 .social-stats i.dribbble {
  color: rgba(52, 40, 104, 0.3);
}

.widget-13 .social-stats i.behance {
  color: rgba(52, 40, 104, 0.3);
}

.widget-13 .social-stats .heading {
  color: #98a8b4;
  font-size: 1rem;
}

.widget-13 .social-stats .counter {
  color: #2c304d;
  font-size: 1.2rem;
  font-weight: 700;
}

.widget-13 .follow-btn .btn {
  padding: 10px 30px;
}

.shape-container {
  position: relative;
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}

.widget-13 .wavy {
  position: absolute;
  bottom: -30px;
  width: 130%;
  left: -20%;
}
/*
 * 14
 */
.widget-14 .owl-item .item {
  margin: 1.07rem;
  padding: 2rem 1.07rem;
  border-radius: 4px;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.15);
  text-align: center;
}

.widget-14 .item-projects .month {
  color: #2c304d;
  font-size: 1.4rem;
  font-weight: 600;
}

.widget-14 .item-projects .year {
  font-size: 0.95rem;
}

.widget-14 .owl-item.active.center .item {
  background: #e76c90;
  color: #fff;
  padding: 2.6rem 1.07rem;
  margin: 0;
}

.widget-14 .owl-item.active.center .item .month {
  color: #fff;
  font-size: 1.4rem;
}

.widget-14 .owl-item.active.center .item .year {
  font-size: 1.1rem;
}

.widget-14 .owl-dots {
  float: left;
  display: block;
  margin-top: 1.8rem;
  text-align: center;
  width: 100%;
}

.widget-14 .owl-dots .owl-dot {
  border: 2px solid #98a8b4;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  margin: 0 0.30rem;
  width: 12px;
  transition: all 0.3s ease 0s;
}

.widget-14 .owl-dots .owl-dot:hover {
  border-color: #5d5386;
}

.widget-14 .owl-dots .owl-dot.active {
  border: 2px solid #5d5386;
}

.widget-14 .owl-carousel .owl-nav {
  margin-top: 1.4rem;
  text-align: center !important;
}

.widget-14 .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
  display: inline;
  margin: 0 5px;
}

.widget-14 .owl-prev, .owl-next {
  color: rgba(52, 40, 104, 0.4);
  font-size: 1.6rem;
  -webkit-transition: ease .6s;
  -moz-transition: ease .6s;
  -ms-transition: ease .6s;
  -o-transition: ease .6s;
  transition: ease .6s;
}

.widget-14 .owl-prev:hover, .owl-next:hover {
  color: #5d5386;
}

.widget-14 .list-group-item {
  border: 0 none;
}

.widget-14 .list-group-item .event-date {
  color: #2c304d;
  font-size: 2rem;
  font-weight: 600;
}

.widget-14 .list-group-item .event-title {
  color: #2c304d;
  font-weight: 600;
}

.widget-14 .list-group-item .event-desc {
  display: inline-block;
}

.widget-14 .list-group-item .event-desc i {
  font-size: 1.3rem;
  vertical-align: middle;
}

.widget-14 .list-group-item .event-desc span {
  color: #2c304d;
  font-size: 0.85rem;
}
/*
 * 15
 */
.widget-15 .weather-infos {
  line-height: 1.2;
}

.widget-15 .weather-infos .temp {
  color: #2c304d;
  font-size: 4rem;
}

.widget-15 .weather-infos .city {
  color: #5d5386;
  font-size: 2rem;
}

.widget-15 .weather-infos i {
  color: rgba(52, 40, 104, 0.4);
  font-size: 2rem;
  vertical-align: middle;
}

.widget-15 .weather-infos,
.widget-15 .weather-icon {
  padding: 1.07rem 0;
}

.widget-15 .weather-icon i {
  color: #2c304d;
  font-size: 10rem;
}

.widget-15 .time-nav {
  font-weight: 500;
}

.widget-15 .nav-tabs {
  border: 0 none;
}

.widget-15 .nav-tabs > li > a::after {
  display: none;
}

.widget-15 .time-nav * {
  transition: all 0.35s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.widget-15 .time-nav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 0.5rem;
  padding: 0;
}

.widget-15 .time-nav li:first-child {
  margin-left: 0;
}

.widget-15 .time-nav li:last-child {
  margin-right: 0;
}

.widget-15 .time-nav a {
  padding: 0.65rem 0;
  color: #2c304d;
  text-decoration: none;
  display: inline-block;
}

.widget-15 .time-nav a.active {
  background: #5d5386;
  padding: 0.65rem 1.07rem;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  border-radius: 35px;
}

.widget-15 .time-nav a.active:hover {
  color: #fff !important;
}

.widget-15 .time-nav a:hover {
  color: #5d5386;
}

.widget-15 .time-nav a:before {
  bottom: 0;
  left: 0;
}

.widget-15 .owl-item .item {
  text-align: center;
}

.widget-15 .owl-item .item .weather-mini-icon i {
  color: rgba(52, 40, 104, 0.4);
  font-size: 4rem;
}

.widget-15 .owl-item .item .day {
  color: #2c304d;
  font-size: 1.2rem;
}

.widget-15 .owl-item .item .weather-temp {
  color: #2c304d;
  font-size: 2.6rem;
  margin-top: 0.35rem;
  font-weight: 600;
}

.widget-15 .owl-item .item .rain i {
  color: rgba(52, 40, 104, 0.4);
  font-size: 1.2rem;
  vertical-align: middle;
}

.widget-15 .owl-dots {
  float: left;
  display: block;
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.widget-15 .owl-dots .owl-dot {
  background: rgba(52, 40, 104, 0.2);
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin: 0 0.30rem;
  width: 10px;
  transition: all 0.3s ease 0s;
}

.widget-15 .owl-dots .owl-dot:hover {
  background: #5d5386;
}

.widget-15 .owl-dots .owl-dot.active {
  background: #5d5386;
}

.widget-15 .owl-carousel .owl-nav {
  margin-top: 2rem;
  text-align: center !important;
}

.widget-15 .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
  display: inline;
  margin: 0 5px;
}

.widget-15 .owl-prev, .owl-next {
  color: rgba(52, 40, 104, 0.4);
  font-size: 1.6rem;
  -webkit-transition: ease .6s;
  -moz-transition: ease .6s;
  -ms-transition: ease .6s;
  -o-transition: ease .6s;
  transition: ease .6s;
}

.widget-15 .owl-prev:hover, .owl-next:hover {
  color: #5d5386;
}

@media (max-width: 1200px) {
  .widget-15 .owl-dots,
  .widget-15 .owl-carousel .owl-nav {
    margin-bottom: 1.07rem;
  }
}

@media (max-width: 991px) {
  .widget-15 .owl-dots,
  .widget-15 .owl-carousel .owl-nav {
    margin-bottom: 1.07rem;
  }
}

@media (max-width: 576px) {
  .widget-15 .owl-dots,
  .widget-15 .owl-carousel .owl-nav {
    margin-bottom: 1.07rem;
  }
}
/*
 * 16
 */
.widget-16 .counter {
  color: #2c304d;
  font-size: 2.6rem;
}

.widget-16 .total-views {
  display: block;
  font-size: 1.2rem;
}

.widget-16 .pages-views {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
}

.widget-16 .pages-views canvas {
  max-width: 100%;
  max-height: 100%;
}

.widget-16 .pages-views .percent {
  color: #2c304d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.widget-16 .pages-views .percent i {
  font-style: normal;
  font-size: 1.4rem;
  font-weight: normal;
}
/*
 * 17
 */
.widget-17 .counter {
  color: #2c304d;
  font-size: 2.6rem;
}

.widget-17 .total-visitors {
  display: block;
  font-size: 1.2rem;
}

.widget-17 .chart {
  overflow: hidden;
}

.widget-17 .visitors {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
}

.widget-17 .visitors canvas {
  max-width: 100%;
  max-height: 100%;
}

.widget-17 .visitors .percent {
  color: #2c304d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.widget-17 .visitors .percent i {
  font-style: normal;
  font-size: 1.4rem;
  font-weight: normal;
}
/*
 * 18
 */
.widget-18 .input-group input {
  border: 0 none;
  border-bottom: 1px solid #eee;
  padding-left: 15px !important;
}

.widget-18 .input-group input::placeholder {
  color: #2a2c3d;
}

.widget-18 .input-group-addon {
  border: 0 none !important;
}

.widget-18 .input-group-addon {
  background: none;
}

.widget-18 .input-group-addon .btn {
  background: #fff;
  color: #5d5386;
  padding: 0 0 5px 0;
  border-radius: 0;
  border: 0;
}

.widget-18 .new-message {
  background: #6859ea;
  background: linear-gradient(135deg, #6859ea 0%, #6acbe0 60%);
  padding: 1.07rem;
  border-radius: 4px;
  width: 100%;
  margin: 1.07rem auto 0;
  position: relative;
}

.widget-18 .new-message-sender {
  color: #fff;
  font-weight: 600;
}

.widget-18 .new-message-time {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
}

.widget-18 .actions a i {
  background: transparent;
  color: #fff;
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.widget-18 .actions a i.reply:hover {
  background: #fff;
  color: #5d5386;
}

.widget-18 .list-group-item {
  border: 0 none;
  padding-right: 0;
  padding-left: 0;
}

.widget-18 .other-message {
  background: #fff;
  padding: 1.07rem;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.15);
}

.widget-18 .other-message-sender {
  color: #2c304d;
  font-weight: 600;
}

.widget-18 .other-message-time {
  color: rgba(52, 40, 104, 0.4);
  font-size: 0.9rem;
}

.widget-18 .actions a i {
  background: transparent;
  color: #5d5386;
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.widget-18 .actions a i.reply:hover {
  background: #5d5386;
  color: #fff;
}
/*
 * 19
 */
.widget-19 .list-group-item {
  border: 0 none;
  border-radius: 0;
}

.widget-19 .list-group-item {
  background: #f2f3f8;
  padding: 0.65rem 1.8rem;
  z-index: 0;
}

.widget-19 .people-name {
  color: #2c304d;
  font-size: 0.9rem;
  font-weight: 600;
}
/*
 * 20
 */
.widget-20 .card-image {
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  margin: 0 1.07rem;
}

.widget-20 .card-image > img {
  display: block;
  margin-bottom: 0;
  transition: all .25s ease-in-out;
}

.widget-20 .card-image:hover > img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.widget-20 .card-overlay {
  content: "";
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.widget-20 .card-overlay-01 {
  background: linear-gradient(to bottom, rgba(46, 52, 81, 0.5) 0%,rgba(106, 203, 224, 0.95) 100%);
  z-index: 2;
}

.widget-20 .card-overlay-02 {
  background: linear-gradient(to bottom, rgba(46, 52, 81, 0.4) 0%,rgba(205, 95, 109, 0.95) 100%);
  z-index: 2;
}

.widget-20 .card-overlay-content {
  position: absolute;
  bottom: 0;
  padding: 1.07rem;
  z-index: 3;
}

.widget-20 .category a {
  margin: 0;
  color: #fff;
  font-size: 0.85rem;
}

.widget-20 .card-title {
  color: #fff;
  display: inline-block;
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.widget-20 .card-title:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.widget-20 .owl-dots {
  float: left;
  display: block;
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.widget-20 .owl-dots .owl-dot {
  background: rgba(52, 40, 104, 0.2);
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin: 0 0.30rem;
  width: 10px;
  transition: all 0.3s ease 0s;
}

.widget-20 .owl-dots .owl-dot:hover {
  background: #5d5386;
}

.widget-20 .owl-dots .owl-dot.active {
  background: #5d5386;
}

.widget-20 .media {
  border: 0.07rem solid #eee;
  border-radius: 4px;
  padding: 1.07rem 0.65rem;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08);
}

.widget-20 .media i {
  color: #2c304d;
  font-size: 2.5rem;
}

.widget-20 .files-title {
  color: #2c304d;
  font-size: 1rem;
}

.widget-20 .files-number {
  font-size: 0.85rem;
}
/*
 * 21
 */
.widget-21 .widget-body {
  position: relative;
  padding: 4rem 0;
  overflow: hidden;
}

.widget-21 .hit-rate {
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
}

.widget-21 .hit-rate canvas {
  max-width: 100%;
  max-height: 100%;
}

.widget-21 .hit-rate .percent {
  color: #2c304d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.widget-21 .hit-rate .percent i {
  font-style: normal;
  font-size: 2rem;
  font-weight: normal;
}

.widget-21 .hit-rate:before {
  content: "";
  height: 265px;
  width: 265px;
  border-radius: 100%;
  border: 2px dashed rgba(46, 52, 81, 0.2);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.widget-21 .hit-rate:after {
  content: "";
  height: 400px;
  width: 400px;
  border-radius: 100%;
  border: 2px dashed rgba(46, 52, 81, 0.15);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.widget-21 .section-title {
  position: absolute;
  top: 20px;
  left: 20px;
  text-shadow: 2px 2px 0 #fff;
}

.widget-21 .value-progress {
  position: absolute;
  top: 20px;
  right: 20px;
}
/*
 * 22
 */
.widget-22 .widget-body {
  position: relative;
  padding: 4rem 0;
  overflow: hidden;
}

.widget-22 .happy-customers {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
}

.widget-22 .happy-customers canvas {
  max-width: 100%;
  max-height: 100%;
}

.widget-22 .happy-customers .percent {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.widget-22 .happy-customers .percent i {
  font-style: normal;
  font-size: 2rem;
  font-weight: normal;
}

.widget-22 .happy-customers:before {
  content: "";
  height: 265px;
  width: 265px;
  border-radius: 100%;
  border: 2px dashed rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.widget-22 .happy-customers:after {
  content: "";
  height: 400px;
  width: 400px;
  border-radius: 100%;
  border: 2px dashed rgba(255, 255, 255, 0.15);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.widget-22 .section-title {
  position: absolute;
  top: 20px;
  left: 20px;
}

.widget-22 .section-title h3 {
  color: #fff;
}

.widget-22 .value-progress {
  color: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
}
/*
 * 23
 */
.widget-23 i {
  color: rgba(255, 255, 255, 0.4);
  font-size: 6rem;
}

.widget-23 .title {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 0.65rem;
}

.widget-23 .number {
  font-size: 1rem;
}
/*
 * 24
 */
.widget-24 {
  position: relative;
}

.widget-24.bg-image {
  background: url("../../../../assets/img/background/08.jpg");
  display: block;
  background-position: 50% 0%;
  background-size: cover;
}

.widget-24 .overlay {
  background: linear-gradient(135deg, rgba(104,89,234,0.9) 0%,rgba(106,203,224,0.9) 100%);
  content: "";
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.widget-24 .content {
  position: relative;
  z-index: 2;
}

.widget-24 .weather-infos {
  line-height: 1.2;
}

.widget-24 .weather-infos .temp {
  color: rgba(0, 0, 0, 0.4);
  font-size: 4rem;
}

.widget-24 .weather-infos i {
  color: #fff;
  font-size: 2rem;
  vertical-align: middle;
}

.widget-24 .weather-icon {
  padding: 1.07rem 0;
}

.widget-24 .weather-icon i {
  padding-top: 1.07rem;
  color: rgba(0, 0, 0, 0.4);
  font-size: 6rem;
}

.widget-24 .week-prev {
  background: rgba(0, 0, 0, 0.1);
  padding: 1.07rem;
}

.widget-24 .weather-mini-icon i {
  color: #fff;
  font-size: 2rem;
}

.widget-24 .day {
  color: #fff;
  font-size: 1rem;
}

.widget-24 .weather-temp {
  color: #fff;
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
}

.widget-24 .city {
  padding-bottom: 2rem;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
}
/*
 * 25
 */
.widget-25 .weather-report {
  color: #2c304d;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.widget-25 .current-weather i {
  color: #aea9c3;
  font-size: 4rem;
}

.widget-25 .current-weather .temperature {
  color: #5d5386;
  font-size: 4rem;
  font-weight: 600;
}

.widget-25 .current-weather .condition {
  color: #aea9c3;
}

.widget-25 .weather-next-day .day {
  color: #2c304d;
  margin-bottom: 0;
}

.widget-25 .weather-next-day i {
  color: #aea9c3;
  font-size: 2rem;
}

.widget-25 .weather-next-day .temp {
  color: #5d5386;
  font-size: 1rem;
}

@media (max-width: 1200px) {
  .widget-25 .weather-report {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .widget-25 .current-weather .temperature {
    font-size: 2rem;
  }

  .widget-25 .current-weather i {
    font-size: 2rem;
  }

  .widget-25 .weather-next-day i {
    font-size: 1.4rem;
  }
}

@media (max-width: 991px) {
  .widget-25 .weather-report {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .widget-25 .current-weather .temperature {
    font-size: 2rem;
  }

  .widget-25 .current-weather i {
    font-size: 2rem;
  }

  .widget-25 .weather-next-day i {
    font-size: 1.4rem;
  }
}

@media (max-width: 576px) {
  .widget-25 .weather-report {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .widget-25 .current-weather .temperature {
    font-size: 2rem;
  }

  .widget-25 .current-weather i {
    font-size: 2rem;
  }

  .widget-25 .weather-next-day i {
    font-size: 1.4rem;
  }
}
/*
 * 26 (Toggle Sidebar)
 */
.widget-26.widget {
  position: relative;
  overflow: hidden;
}

.widget-26 .quick-stats {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.widget-26 .quick-act {
  width: 100%;
  z-index: 2;
}

.widget-26 .q-settings {
  padding: 1.07rem 0;
}

.widget-26 .q-settings i {
  color: #e76c90;
  font-size: 2.4rem;
}

.widget-26 .t-title {
  color: #2c304d;
}
/*
 * 27
 */
.widget-27 .widget-body {
  position: relative;
}

.widget-27 .thermostat .temperature {
  color: #5d5386;
  font-size: 6rem;
  font-weight: 600;
  text-align: center;
}

.widget-27 .thermostat .temperature span::selection {
  background: transparent;
}

.widget-27 .thermostat .control.up {
  font-size: 2rem;
  color: rgba(254,189,128,1);
}

.widget-27 .thermostat .control.down {
  font-size: 2rem;
  color: rgba(75,195,222,1);
}

.widget-27 .thermostat .control i:hover {
  cursor: pointer;
}

.widget-27 .humidity i {
  color: #5d5386;
  display: block;
  font-size: 1.6rem;
}

.widget-27 .humidity span {
  color: #2c304d;
  font-size: 1.2rem;
}

.widget-27 .humidity .title {
  color: #aea9c3;
}

.widget-27 .thermostat-options i {
  color: #aea9c3;
  font-size: 2rem;
}

@media (max-width: 991px) {
  .widget-27 .thermostat .temperature {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .widget-27 .thermostat .temperature {
    font-size: 3rem;
  }
}
/*
 * 28
 */
.widget-28 .widget-body {
  position: relative;
}

.widget-28 .camera-active .title {
  color: #2c304d;
  font-size: 1.2rem;
  font-weight: 500;
}

.widget-28 .camera-active {
  background-color: #fff;
  width: 80%;
  padding: 1.6rem;
  position: absolute;
  top: -35px;
  border-radius: 4px;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.widget-28 .list-group-item {
  display: block;
  margin: 0;
  padding: 0.75rem 0;
  border: 0 none;
  background: transparent;
}

.widget-28 .list-group-item:first-child {
  border-top: 0;
  border-radius: 0 !important;
}

.widget-28 .list-group-item:last-child {
  border-bottom: 0;
  border-radius: 0 !important;
}

.widget-28 .list-group-item i {
  color: #aea9c3;
  padding: 0 0.65rem;
  font-size: 1.8rem;
}

.widget-28 .list-group-item .act-title {
  color: #2c304d;
}
/*
 * 29
 */
.widget-29 .widget-body {
  padding: 0;
}

.widget-29 .owl-item .item {
  margin: 0 0.5rem;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.widget-29 .devices-item {
  background: linear-gradient(to bottom, rgba(44,48,77,0) 0%,rgba(93,83,134,1) 80%);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.widget-29 .devices-item i {
  color: #fff;
  font-size: 1.8rem;
  padding-right: 0.3rem;
  vertical-align: middle;
  display: inline-block;
}

.widget-29 .devices-item .room {
  color: #fff;
  display: inline-block;
  font-weight: 500;
}

.widget-29 .devices-item .nb-devices {
  color: #aea9c3;
  margin-bottom: 1.07rem;
}

.widget-29 .owl-dots {
  float: left;
  display: block;
  margin-top: 1.8rem;
  text-align: center;
  width: 100%;
}

.widget-29 .owl-dots .owl-dot {
  border: 2px solid #98a8b4;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  margin: 0 0.30rem;
  width: 12px;
  transition: all 0.3s ease 0s;
}

.widget-29 .owl-dots .owl-dot:hover {
  border-color: #5d5386;
}

.widget-29 .owl-dots .owl-dot.active {
  border: 2px solid #5d5386;
}

.widget-29 .owl-carousel .owl-nav {
  text-align: center !important;
  margin-top: 1.4rem;
}

.widget-29 .owl-carousel .owl-nav .owl-prev,
.widget-29 .owl-carousel .owl-nav .owl-next {
  display: inline;
  margin: 0 8px;
  font-size: 1.4rem;
}

.widget-29 .owl-prev,
.widget-29 .owl-next {
  color: #aea9c3 !important;
  transition: all 0.4s ease;
}

.widget-29 .owl-prev:hover,
.widget-29 .owl-next:hover {
  color: #5d5386 !important;
}
/*
 * 30
 */
.widget-30 {
  position: relative;
  line-height: 1.2;
}

.widget-30.bg-image {
  background: url("../../../../assets/img/smarthome/06.jpg");
  display: block;
  background-position: 50% 0%;
  background-size: cover;
}

.widget-30 .overlay {
  background: linear-gradient(135deg, rgba(44,48,77,0.5) 0%,rgba(93,83,134,0.8) 100%);
  content: "";
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.widget-30 .widget-body {
  background: #fff;
  position: relative;
  z-index: 2;
}

.widget-30 .content {
  padding: 3rem 0;
  position: relative;
  z-index: 2;
}

.widget-30 #events-date {
  color: rgba(255, 255, 255, 0.5);
  font-size: 8rem;
  font-weight: 600;
}

.widget-30 #events-day {
  color: #fff;
  font-size: 1.2rem;
}

.widget-30 #events-year {
  color: #fff;
  font-size: 1rem;
}

.widget-30 .real-time {
  padding: 1.6rem 0;
  z-index: 2;
  position: relative;
}

.widget-30 #events-time {
  color: #fff;
  font-size: 1.2rem;
}

.widget-30 .house-members {
  padding: 0.4rem 0;
}

.widget-30 .house-members a {
  margin: 0 -1.6rem 0 0;
  transition: all 0.4s ease;
  position: relative;
}

.widget-30 .house-members img {
  width: 50px;
  border: 0.25rem solid #fff;
}

.widget-30 .house-members a.here {
  z-index: 2;
}

.widget-30 .house-members a.away {
  opacity: 0.4;
}
/*
* 31
*/
.widget-31 .conso {
  position: relative;
  z-index: 2;
  line-height: 1.2;
}

.widget-31 .icon-big {
  color: #2c304d;
  font-size: 10rem;
  position: absolute;
  vertical-align: middle;
  bottom: -40px;
  left: -15px;
  opacity: 0.085;
  z-index: 2;
}

.widget-31 {
  width: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.widget-31 canvas {
  max-width: 100%;
  max-height: 100%;
}

.widget-31 .percent {
  color: #5d5386;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
}

.widget-31 .percent i {
  color: #aea9c3;
  display: block;
  font-style: normal;
  font-size: 1rem;
  font-weight: normal;
}

.widget-31 .conso-title .title {
  color: #5d5386;
  font-size: 1.6rem;
  position: relative;
  z-index: 1;
  margin-left: 2rem;
}

@media (max-width: 1200px) {
  .widget-31 .conso-title .title {
    text-align: center;
    margin-left: 0;
    margin-bottom: 1.07rem;
  }
}

@media (max-width: 991px) {
  .widget-31 .conso-title .title {
    text-align: center;
    margin-left: 0;
    margin-bottom: 1.07rem;
  }
}

@media (max-width: 576px) {
  .widget-31 .conso-title .title {
    text-align: center;
    margin-left: 0;
    margin-bottom: 1.07rem;
  }
}
/*
 * 32
 */
.widget-32 {
  position: relative;
  text-align: center;
  line-height: 1.2;
}

.widget-32.bg-image {
  background: url("../../../../assets/img/background/06.jpg");
  display: block;
  background-position: 50% 0%;
  background-size: cover;
}

.widget-32 .overlay {
  background: linear-gradient(135deg, rgba(44,48,77,0.8) 0%,rgba(93,83,134,0.8) 100%);
  content: "";
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.widget-32 .content {
  padding: 4rem 0;
  position: relative;
  z-index: 2;
}

.widget-32 #events-date {
  color: #fff;
  font-size: 8rem;
  font-weight: 600;
}

.widget-32 #events-day {
  color: #e76c90;
  font-size: 1.2rem;
}

.widget-32 #events-year {
  color: #aea9c3;
  font-size: 1rem;
}

.widget-32 .real-time {
  padding: 1.6rem 0;
  z-index: 2;
  position: relative;
}

.widget-32 #events-time {
  color: #fff;
  font-size: 1.2rem;
}
/*
 * 33
 */
.widget-33 #music {
  width: 100%;
  overflow: hidden;
}

.widget-33 #music img {
  width: 100%;
}

.widget-33 .song-title {
  color: #2c304d;
  text-align: center;
  font-size: 1.07rem;
  padding: 1.07rem 0;
}

.widget-33 #pause {
  display: none;
}

.widget-33 progress {
  border: none;
  width: 100%;
  height: 6px;
  background: #eee;
}

.widget-33 progress {
  color: #e76c90;
}

.widget-33 progress::-webkit-progress-value {
  background: #e76c90;
}

.widget-33 progress::-moz-progress-bar {
  background: #e76c90;
}

.widget-33 progress::-webkit-progress-value {
  background: #e76c90;
}

.widget-33 progress::-webkit-progress-bar {
  background: #e76c90;
}

.widget-33 .actions {
  padding: 15px 20px;
  overflow: hidden;
}

.widget-33 .actions i {
  font-size: 1.8rem;
  color: #aea9c3;
  cursor: pointer;
  vertical-align: middle;
}

.widget-33 .actions i:hover {
  opacity: 0.8;
}

.widget-33 .prev {
  display: inline-block;
}

.widget-33 .play {
  display: inline-block;
}

.widget-33 .next {
  display: inline-block;
}

.widget-33 #mute {
  display: none;
}

.widget-33 #playmusic {
  font-size: 2.8rem;
  color: #e76c90;
}

.widget-33 #pause {
  font-size: 2.8rem;
  color: #5d5386;
}
/*
 * 34
 */
.widget-34 .r-title {
  font-size: 5rem;
  font-weight: 600;
  color: #2c304d;
  display: inline-block;
  margin-right: 1.07rem;
}

.widget-34 .star-rating {
  display: inline-block;
}

.widget-34 .star-rating ul li {
  font-size: 2rem;
  display: inline-block;
}

.widget-34 .star-rating .rate {
  color: #ffe234;
}

.widget-34 .chart {
  margin-top: -2rem;
}

@media (max-width: 576px) {
  .widget-34 .r-title {
    font-size: 2.8rem;
  }

  .widget-34 .star-rating ul li {
    font-size: 1.4rem;
  }

  .widget-34 .chart {
    margin-top: 0;
  }
}
/*
 * 35
 */
.widget-35.widget {
  background: linear-gradient(135deg, #3b5998 40%,#1b3c89 100%) !important;
}

.widget-35 .widget-body {
  position: relative;
  overflow: hidden;
}

.widget-35 .user-avatar {
  display: inline-block;
}

.widget-35 .user-avatar img {
  width: 50px;
  height: 50px;
}

.widget-35 .user-n {
  display: inline-block;
  color: #fff;
  margin-left: 1.07rem;
}

.widget-35 .account-name {
  color: #aea9c3;
}

.widget-35 i {
  color: #fff;
  font-size: 3rem;
  margin-right: 0.65rem;
}

.widget-35 .w-text {
  position: absolute;
  bottom: 30px;
}

.widget-35 p {
  width: 85%;
  color: #fff;
  line-height: 1.8;
}

.widget-35 a {
  color: #aea9c3;
}

@media (max-width: 991px) {
  .widget-35 .w-text {
    position: relative;
  }
}

@media (max-width: 576px) {
  .widget-35 .w-text {
    position: relative;
  }
}
/*
 * 36
 */
.widget-36 .widget-body {
  position: relative;
}

.widget-36 .nb-visitors {
  color: #2c304d;
  font-size: 1.2rem;
}

.widget-36 .visitors-nb {
  color: #2c304d;
  font-size: 6rem;
  font-weight: 700;
  margin-top: -0.8rem;
}
/*
 * 38
 */
.widget-38 .leaflet-marker-icon {
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.15);
}

.widget-38 .leaflet-popup-content-wrapper {
  border-radius: 4px;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.15);
}
/*
 * 39
 */
.widget-39.widget {
  position: relative;
  overflow: hidden;
}

.widget-39 .widget-effect i {
  color: rgba(255, 255, 255, 0.035);
  font-size: 20rem;
  z-index: 1;
  position: absolute;
  bottom: -5%;
  right: -10%;
}

.widget-39 .widget-body {
  z-index: 2;
}

.widget-39 .widget-body i {
  color: #fff;
  font-size: 6rem;
}

.widget-39 .congrats-name {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
}

.widget-39 p {
  color: #fff;
  font-size: 1.1rem;
}

@media (max-width: 576px) {
  .widget-39 .widget-effect i {
    font-size: 10rem;
  }

  .widget-39 .widget-body i {
    font-size: 4rem;
  }

  .widget-39 .congrats-name {
    font-size: 1.6rem;
  }
}
/*
 * 06. FOOTER
 */
footer.main-footer {
  background: #fff;
  padding: 15px 30px;
  border-top: 0.07rem solid #eee;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08);
}

footer.main-footer.fixed-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  margin-left: 240px;
}

.content-inner.active footer.main-footer.fixed-footer {
  margin-left: 90px;
}

footer.main-footer a {
  color: inherit;
}

footer.main-footer a:hover {
  color: #5d5386;
}

footer.main-footer p {
  color: #98a8b4;
  margin: 0;
  font-size: 0.85rem;
  font-weight: 500;
}

footer.main-footer .nav-link {
  padding: 0 1rem;
  font-size: 0.85rem;
}

footer.main-footer a.nav-link {
  color: #98a8b4;
}

footer.main-footer a:hover.nav-link {
  color: #5d5386;
}

footer.second-footer {
  padding: 15px 30px;
}

footer.second-footer a {
  color: inherit;
}

footer.second-footer a:hover {
  color: #5d5386;
}

footer.second-footer p {
  color: #2c304d;
  margin: 0;
  font-size: 0.85rem;
  font-weight: 500;
}

footer.second-footer .nav-link {
  padding: 0 1rem;
  font-size: 0.85rem;
}

footer.second-footer a.nav-link {
  color: #5d5386;
}

footer.second-footer a:hover.nav-link {
  color: #e76c90;
}