/* ========================================= */
/*     05) PAGES                             */
/* ========================================= */
/*
 * 01. AUTHENTICATION
 */
/*
 * Login / Register
 */
.authentication-col-content{
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  padding: 0 50px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.authentication-col-content h1 {
  margin-top: 30px;
  margin-bottom: 0;
  color: #fff;
  font-size: 3.2rem;
  font-weight: 700;
}

.authentication-col-content .description {
  color: #fff;
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: 500;
}

.authentication-form {
  font-size: 0.9rem;
  width: 70%;
  display: block;
}

.authentication-form h3 {
  color: #2c304d;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: left;
}

.authentication-form .group {
  position: relative;
  margin-bottom: 30px;
}

.authentication-form .sign-btn {
  margin: 25px 0 0 0;
}

.register {
  color: #40545a;
  text-align: center;
  margin-top: 30px;
}

@media (max-width: 991px) {
  .authentication-form {
    padding: 3rem;
  }
}

@media (max-width: 572px) {
  .authentication-form {
    width: 100%;
    padding: 3rem;
  }
}
/*
 * Login / Register 02
 */
.authentication-col-content-2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  padding: 0 50px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.authentication-col-content-2 h1 {
  margin-top: 30px;
  margin-bottom: 0;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
}

.authentication-col-content-2 .description {
  color: #fff;
  margin-top: 15px;
  font-size: 1rem;
  font-weight: 500;
}

.authentication-form-2 {
  width: 50%;
  display: block;
}

.authentication-form-2 h3 {
  color: #2c304d;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: left;
}

.authentication-form-2 .group {
  position: relative;
  margin-bottom: 30px;
}

.authentication-form-2 .sign-btn {
  margin: 25px 0 0 0;
}

.login-nav {
  font-weight: 500;
}

.login-nav.nav-tabs {
  border: 0 none;
}

.login-nav.nav-tabs > li > a::after {
  display: none;
}

.login-nav * {
  transition: all 0.35s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.login-nav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 0.5rem;
  padding: 0;
}

.login-nav li:first-child {
  margin-left: 0;
}

.login-nav li:last-child {
  margin-right: 0;
}

.login-nav a {
  padding: 0.65rem 0;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.login-nav a.active {
  background: #fff;
  padding: 0.65rem 1.07rem;
  color: #e76c90;
  text-decoration: none;
  display: inline-block;
  border-radius: 35px;
}

.login-nav a.active:hover {
  color: #2c304d !important;
}

.login-nav a:hover {
  background: #fff !important;
  padding: 0.65rem 1.07rem;
  text-decoration: none;
  display: inline-block;
  border-radius: 35px;
}

.login-nav.nav-tabs > li > a:hover {
  color: #2c304d !important;
}

.login-nav a:before {
  bottom: 0;
  left: 0;
}

@media (max-width: 572px) {
  .authentication-form-2 {
    width: 100%;
    padding: 2rem;
  }
}
/*
 * Lock Screen
 */
.lock-form {
  background: #fff;
  font-size: 0.9rem;
  padding: 3.8rem 3rem;
  display: block;
  width: 400px;
  max-width: 400px;
  border-radius: 4px;
  box-shadow: 0 8px 10px -5px rgba(0,0,0,.2),0 15px 25px 2px rgba(0,0,0,.14),0 5px 30px 5px rgba(0,0,0,.12);
  z-index: 2;
}

.lock-form h3 {
  color: #2c304d;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
}

.lock-form .group {
  position: relative;
  margin-bottom: 30px;
}

.lock-form .button {
  margin: 25px 0 0 0;
}

.lock-form .back {
  color: #40545a;
  text-align: center;
  margin-top: 30px;
}

@media (max-width: 572px) {
  .lock-form {
    width: 100%;
    margin: 1rem;
  }
}
/*
 * Forgot Password
 */
.password-form {
  background: #fff;
  font-size: 0.9rem;
  padding: 3.8rem 3rem;
  display: block;
  width: 400px;
  max-width: 400px;
  border-radius: 4px;
  box-shadow: 0 8px 10px -5px rgba(0,0,0,.2),0 15px 25px 2px rgba(0,0,0,.14),0 5px 30px 5px rgba(0,0,0,.12);
  z-index: 2;
}

.password-form h3 {
  color: #2c304d;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
}

.password-form .group {
  position: relative;
  margin-bottom: 30px;
}

.password-form .button {
  margin: 25px 0 0 0;
}

.password-form .back {
  color: #40545a;
  text-align: center;
  margin-top: 30px;
}

@media (max-width: 572px) {
  .password-form {
    width: 100%;
    margin: 1rem;
  }
}
/*
 * Mail Confirmation
 */
.mail-confirm {
  background: #fff;
  font-size: 0.9rem;
  padding: 3.8rem 3rem;
  display: block;
  width: 400px;
  max-width: 400px;
  border-radius: 4px;
  box-shadow: 0 8px 10px -5px rgba(0,0,0,.2),0 15px 25px 2px rgba(0,0,0,.14),0 5px 30px 5px rgba(0,0,0,.12);
  z-index: 2;
}

.mail-confirm h3 {
  color: #2c304d;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
}

.mail-confirm p {
  font-size: 1rem;
  text-align: center;
}

.mail-confirm .button {
  margin: 30px 0 0 0;
}

@media (max-width: 572px) {
  .mail-confirm {
    width: 100%;
    margin: 1rem;
  }
}
/*
 * 02. COMING SOON
 */
.coming-soon {
  background: #fff;
  font-size: 0.9rem;
  padding: 3.8rem 3rem;
  width: 600px;
  max-width: 600px;
  text-align: center;
  display: block;
  border-radius: 4px;
  box-shadow: 0 8px 10px -5px rgba(0,0,0,.2),0 15px 25px 2px rgba(0,0,0,.14),0 5px 30px 5px rgba(0,0,0,.12);
  z-index: 2;
}

.coming-soon h1 {
  font-family: "Montserrat", sans-serif;
  color: #2c304d;
  font-size: 3rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

.coming-soon h1 span {
  font-weight: 500;
}

.coming-soon .sub-heading {
  color: #2c304d;
  font-size: 2rem;
}

.coming-soon .group {
  position: relative;
  margin-bottom: 1.4rem;
}

.coming-soon .button {
  margin: 1.2rem 0 0 0;
}

.coming-soon #countdown {
  margin: 1rem 0;
}

.coming-soon #countdown .counter {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  margin-top: 15px;
  padding-right: 3rem;
}

.coming-soon #countdown .counter:last-child {
  padding-right: 0;
}

.coming-soon #countdown span {
  font-family: 'Montserrat', serif;
  font-size: 2.6rem;
  font-weight: 600;
  margin: 0;
  color: #e76c90;
}

.coming-soon #countdown p {
  font-size: 1.2rem;
  color: #98a8b4;
}

.coming-soon .notify-form {
  margin: 10px 0;
}

.coming-soon .notify-form .heading {
  color: #2c304d;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.follow-link {
  margin: 1.07rem 0 0;
}

@media (max-width: 1200px) {
  .coming-soon {
    width: 100%;
    padding: 2rem;
  }

  .coming-soon .sub-heading {
    font-size: 1.2rem;
  }

  .coming-soon #countdown {
    margin: 10px 0;
  }

  .coming-soon #countdown .counter {
    padding-right: 1rem;
  }
}

@media (max-width: 572px) {
  .coming-soon {
    width: 100%;
    padding: 2rem;
    margin-bottom: 1rem;
  }

  .coming-soon .sub-heading {
    font-size: 1.2rem;
  }

  .coming-soon #countdown {
    margin: 10px 0;
  }

  .coming-soon #countdown span {
    font-size: 1.6rem;
  }

  .coming-soon #countdown p {
    font-size: 1rem;
  }

  .coming-soon #countdown .counter {
    padding-right: 1rem;
  }
}
/*
 * 03. ERRORS
 */
.bg-error-01 {
  background: #675e8e url('../../../../assets/img/clouds.png') no-repeat bottom center;
}

.error-01 .error-container {
  display: block;
}

.error-01 h1 {
  font-size: 14rem;
  color: #fff;
  -webkit-transform: skewY(-15deg);
  -ms-transform: skewY(-15deg);
  transform: skewY(-15deg);
  text-shadow:
          1px  1px 1px #675e8e, 2px  2px 1px #675e8e, 3px  3px 1px #675e8e, 4px  4px 1px #675e8e, 5px  5px 1px #675e8e, 6px  6px 1px #675e8e, 7px  7px 1px #675e8e, 8px  8px 1px #675e8e, 9px  9px 1px #675e8e, 10px 10px 1px #483d77,
          11px 11px 1px #483d77, 12px 12px 1px #483d77, 13px 13px 1px #483d77, 14px 14px 1px #483d77, 15px 15px 1px #483d77, 16px 16px 1px #483d77, 17px 17px 1px #483d77, 18px 18px 1px #483d77, 19px 19px 1px #483d77, 20px 20px 1px #483d77,
          21px 21px 1px #483d77, 22px 22px 1px #483d77, 23px 23px 1px #483d77, 24px 24px 1px #483d77, 25px 25px 1px #483d77, 26px 26px 1px #483d77, 27px 27px 1px #483d77, 28px 28px 1px #483d77, 29px 29px 1px #483d77, 30px 30px 1px #483d77;
  -webkit-backface-visibility: hidden;
}

.error-01 h2 {
  font-size: 3rem;
  color: #fff;
  margin-top: 3rem;
}

.error-01 p {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.error-01 .btn {
  margin-top: 1rem;
}

.bg-error-02 {
  background: url('../../../../assets/img/background/07.jpg') no-repeat center center;
  background-size: cover;
}

.error-02 {
  width: 90%;
  display: block;
}

.error-02 h1 {
  font-size: 10rem;
  color: #fff;
  -webkit-backface-visibility: hidden;
}

.error-02 h2 {
  font-size: 2rem;
  color: rgba(52, 40, 104, 0.8);
  margin-top: 1rem;
}

.error-02 p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.error-02 .btn {
  margin-top: 1rem;
}

@media (max-width: 572px) {
  .error-01 h1 {
    font-size: 8rem !important;
  }

  .error-01 h2 {
    font-size: 1.8rem;
  }

  .error-01 p {
    font-size: 1rem;
  }

  .error-02 {
    width: 100%;
    padding: 3rem;
  }

  .error-02 h1 {
    font-size: 10rem !important;
  }
}
/*
 * 04. PRICING TABLES
 */
.pricing-tables-fixed {
  width: 70%;
  margin: 0 auto;
}

.pricing-tables-01.pricing-wrapper {
  position: relative;
  cursor: pointer;
  text-align: center;
  transition: all 0.4s ease;
}

.pricing-tables-01.pricing-wrapper {
  border-right: 0.07rem solid #e4e8f0;
}

.pricing-tables-01.pricing-wrapper.last {
  border-right: 0 none;
}

.pricing-tables-01.pricing-wrapper .pricing-image {
  margin: 2.1rem 0;
}

.pricing-tables-01.pricing-wrapper .pricing-image img {
  width: 120px;
  margin: 0 auto;
}

.pricing-tables-01.pricing-wrapper .title {
  color: #5d5386;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0;
}

.pricing-tables-01.pricing-wrapper .container-text {
  text-align: center;
  color: #cdd6e0;
  font-size: 1.6rem;
  font-weight: 500;
}

.pricing-tables-01.pricing-wrapper .main-number {
  color: #5d5386;
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
  margin: 20px 0;
}

.pricing-tables-01.pricing-wrapper .main-number::before {
  content: "$";
  font-size: 4rem;
}

.pricing-tables-01.pricing-wrapper .pricing-list {
  margin-bottom: 2.5rem;
}

.pricing-tables-01.pricing-wrapper .pricing-list p {
  color: #2c304d;
  font-size: 1rem;
  line-height: 2rem;
  padding: 0 2rem;
}

.pricing-tables-01.pricing-wrapper a {
  margin-bottom: 2.5rem;
}

.pricing-tables-02.pricing-wrapper {
  position: relative;
  cursor: pointer;
  text-align: center;
  padding: 2rem 0;
  transition: all 0.4s ease;
  border-radius: 4px;
  z-index: 1;
  box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.1);
}

.pricing-tables-02.pricing-wrapper .pricing-image {
  margin: 2.1rem 0;
}

.pricing-tables-02 {
  background: #fff;
}

.pricing-tables-02.purple {
  background: #5d5386;
}

.pricing-tables-02.dark {
  background: #2c304d;
}

.pricing-tables-02.purple {
  margin: -1rem -1rem 0 -1rem;
  z-index: 2;
}

.pricing-tables-02.pricing-wrapper .pricing-image img {
  width: 120px;
  margin: 0 auto;
}

.pricing-tables-02.pricing-wrapper .title {
  color: #5d5386;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
}

.pricing-tables-02.purple.pricing-wrapper .title {
  color: #fff;
}

.pricing-tables-02.dark.pricing-wrapper .title {
  color: #fff;
}

.pricing-tables-02.pricing-wrapper .main-number {
  color: #5d5386;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 2rem 0;
  position: relative;
}

.pricing-tables-02.purple.pricing-wrapper .main-number {
  color: #fff;
}

.pricing-tables-02.dark.pricing-wrapper .main-number {
  color: #fff;
}

.pricing-tables-02.pricing-wrapper .main-number::before {
  content: "$20";
  font-size: 5rem;
  position: absolute;
  top: -28px;
  left: 0;
  right: 0;
  color: rgba(46, 52, 81, 0.1);
  z-index: -1;
}

.pricing-tables-02.purple.pricing-wrapper .main-number::before {
  content: "$95";
  font-size: 5rem;
  position: absolute;
  top: -28px;
  left: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.15);
  z-index: -1;
}

.pricing-tables-02.dark.pricing-wrapper .main-number::before {
  content: "$65";
  font-size: 5rem;
  position: absolute;
  top: -28px;
  left: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.1);
  z-index: -1;
}

.pricing-tables-02.pricing-wrapper .pricing-list {
  margin-bottom: 2.5rem;
}

.pricing-tables-02.pricing-wrapper .pricing-list li {
  color: #5d5386;
  font-size: 1rem;
  line-height: 2.5rem;
  padding: 0 2rem;
}

.pricing-tables-02.purple.pricing-wrapper .pricing-list li {
  color: #fff;
}

.pricing-tables-02.dark.pricing-wrapper .pricing-list li {
  color: #fff;
}

.pricing-tables-02.pricing-wrapper .pricing-list p {
  color: #5d5386;
  font-size: 1rem;
  line-height: 2rem;
  padding: 0 2rem;
}

.pricing-tables-02.pricing-wrapper a {
  margin-bottom: 1.4rem;
}

@media (max-width: 1200px) {
  .pricing-tables-fixed {
    width: 85%;
  }
}

@media (max-width: 576px) {
  .pricing-tables-01.pricing-wrapper {
    border: 0 none;
  }

  .pricing-tables-02.pricing-wrapper {
    margin: 0 0 30px 0;
  }
}
/*
 * 05. INVOICE
 */
.invoice {
  background: #fff;
  margin-bottom: 30px;
}

.invoice-container {
  width: 80%;
  margin: 0 auto;
}

.invoice hr {
  border-color: rgba(52, 40, 104, 0.15);
  padding: 2rem 0;
}

.invoice .invoice-top {
  width: 100%;
  padding: 3rem 2rem 2rem 2rem;
}

.invoice .invoice-top h1 {
  color: #2c304d;
  font-size: 3rem;
  text-transform: uppercase;
  margin-right: 10px;
  margin-bottom: 0;
}

.invoice .invoice-top span {
  display: block;
  font-weight: 600;
  font-style: italic;
}

.invoice .invoice-header {
  width: 100%;
  padding: 3rem 2rem;
  font-size: 1.1rem;
}

.invoice .invoice-header .invoice-logo {
  display: block;
}

.invoice .invoice-header .invoice-logo img {
  width: 150px;
}

.invoice .invoice-header .details .company-name {
  color: #2c304d;
  font-weight: 600;
  font-size: 1.6rem;
}

.invoice .invoice-header .client-details .title {
  color: #2c304d;
  font-size: 1.6rem;
  font-weight: 600;
}

.invoice-date {
  padding: 0 2rem;
}

.invoice-date span {
  font-size: 1.4rem;
  font-weight: 600;
  color: #2c304d;
  margin: 50px 0;
}

.invoice .desc-tables {
  padding: 0 2rem;
}

.invoice .table thead {
  background: none;
  border-radius: 0;
  border-bottom: 0.07rem solid rgba(52, 40, 104, 0.15);
}

.invoice .table thead th {
  vertical-align: middle;
  border: 0 none;
  padding: 1rem 0.85rem;
  color: #e76c90;
  font-weight: 600;
  text-transform: uppercase;
}

.invoice .table td {
  border-bottom: 0 none;
  padding: 1.2rem;
  vertical-align: middle;
  color: #5d5386;
  font-weight: 600;
}

.invoice .table td .description {
  color: #98a8b4;
  font-size: 0.9rem;
  font-weight: 500;
}

.invoice .invoice-footer {
  background: #2c304d;
  padding: 4rem 2rem;
  margin-top: 6rem;
}

.invoice .bank .title {
  color: #aea9c3;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.invoice .total {
  text-align: center;
  line-height: 2.2rem;
}

.invoice .total .title {
  color: #aea9c3;
  font-size: 1.4rem;
  font-weight: 600;
}

.invoice .total .number {
  color: #e76c90;
  font-size: 2.4rem;
  font-weight: 700;
}

.invoice .total .taxe {
  color: #aea9c3;
}

.invoice .footer-bottom {
  margin-top: 4rem;
  text-align: center;
}

.invoice .thx i {
  color: #e76c90;
  font-size: 3rem;
  margin-bottom: -15px;
}

.invoice .thx span {
  display: block;
  color: #aea9c3;
  font-size: 1.6rem;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .invoice-container {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 576px) {
  .invoice-container {
    width: 100%;
    margin: 0;
  }
}
/*
 * 06. SEARCH
 */
.search-results .input-group input {
  border: 0 none;
  border-bottom: 1px solid #eee;
  padding-left: 15px !important;
}

.search-results .input-group input::placeholder {
  color: #2a2c3d;
}

.search-results .input-group-addon {
  border: 0 none !important;
}

.search-results .input-group-addon {
  background: none;
}

.search-results .input-group-addon .btn {
  background: #fff;
  color: #e76c90;
  padding: 0 10px;
  border-radius: 0;
  border: 0;
}

.search-results .search-items {
  margin-bottom: 30px;
}

.search-results .search-items h4 {
  margin-bottom: 0.2rem;
  font-weight: 600;
}

.search-results .search-items p {
  margin-top: 0.5rem;
  font-weight: 400;
}

@media (max-width: 576px) {
  .search-results .input-group-addon .btn {
    padding: 0 5px;
  }
}
/*
 * 07. FAQ
 */
.faq .jumbotron {
  margin: 0;
  background: #f2f3f8;
  height: 235px;
  position: relative;
}

.faq .jumbotron h2 {
  color: #5d5386;
  font-size: 3rem;
  margin-bottom: 1.4rem;
}

.faq .searchbox {
  width: 40%;
  margin: 0 auto;
  position: relative;
}

.faq .searchbox input {
  width: 80%;
  box-sizing: border-box;
  border: 2px solid #aea9c3;
  border-radius: 50px;
  font-size: 1rem;
  color: #2c304d;
  background-color: transparent;
  padding: 0.85rem 1.4rem;
  transition: width 0.5s ease-out;
}

.faq .searchbox input::placeholder {
  color: #aea9c3;
  font-weight: 500;
}

.faq .searchbox input:focus {
  width: 90%;
}

.faq .accordion .card-header {
  padding: 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0 none;
}

.faq .accordion .card-header:before {
  font-family: 'lineAwesome';
  content: "\f113";
  display: inline-block;
  font-size: 1.4rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.faq .accordion .card-header.collapsed:before {
  content: "\f110";
}

.faq .accordion .card-title {
  margin-bottom: 0;
  display: inline-block;
}

.faq .accordion .card-body {
  border-bottom: 0.07rem solid #eee;
}

@media (max-width: 576px) {
  .faq .searchbox {
    width: 100%;
    margin: 0;
  }
}
/*
 * 08. NEWSFFED
 */
.newsfeed .pop-groups i {
  cursor: pointer;
}

.hover-img {
  position: relative;
  overflow: hidden;
}

.hover-img .overlay .button {
  background: rgba(93, 83, 134, 0.9);
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: #fff;
  font-size: 2.4rem;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
}

.hover-img .overlay .button-mini {
  background: rgba(93, 83, 134, 0.9);
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
}

.hover-img .overlay .button:hover,
.hover-img .overlay .button-mini:hover {
  background: rgba(93, 83, 134, 0.85);
  color: #fff;
}

.newsfeed .post-video p {
  font-size: 0.95rem;
}

.newsfeed .post-video .source i {
  color: #aea9c3;
  font-size: 2.8rem;
  vertical-align: middle;
}

.newsfeed .friends-mini img {
  width: 50px;
}

.newsfeed .friends-mini a {
  display: block;
  margin-bottom: 1.4rem;
}

.newsfeed .friends-mini i {
  color: #aea9c3;
  font-size: 2.6rem;
}

.newsfeed .sticky.is-sticky {
  position: fixed;
  top: 90px;
}

@media (max-width: 576px) {
  .newsfeed .sticky.is-sticky {
    position: relative;
    top: auto;
  }
}
/*
 * 09. FRIENDS
 */
.contact-card-2 {
  margin-top: 0;
  position: relative;
}

.contact-card-2 .cover-bg {
  display: block;
}
.contact-card-2 .cover-bg > img {
  display: block;
  margin-bottom: 0;
  transition: all .25s ease-in-out;
}

.contact-card-2 .cover-image {
  display: block;
  position: absolute;
  width: 100px;
  top: -50px;
  left: 0;
  right: 0;
}
.contact-card-2 .cover-image > img {
  display: block;
  width: 100px;
  border: 6px solid #fff;
  transition: all .25s ease-in-out;
}

.contact-card-2 .widget-body {
  position: relative;
}

.contact-card-2 .name {
  color: #5d5386;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0;
  margin-top: 3rem;
  margin-bottom: 0;
  text-decoration: none;
  text-align: center;
}

.contact-card-2 .job {
  color: #aea9c3;
  font-size: 1rem;
  text-align: center;
}

.contact-card-2 .stats {
  margin-top: 1.4rem;
}

.contact-card-2 .stats .counter {
  display: block;
  color: #5d5386;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}

.contact-card-2 .stats .text {
  color: #aea9c3;
  display: block;
  text-align: center;
}

.contact-card-2 .btn-group {
  padding: 2rem 0 1.4rem;
}

.contact-card-2 .quick-about {
  text-align: center;
  margin-top: 1.4rem;
}

.contact-card-2 .quick-about h4 {
  color: #2c304d;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.contact-card-2 .quick-about p {
  font-size: 0.9rem;
  margin: 0;
}

.contact-card-2 .owl-dots {
  float: left;
  margin-top: 1.4rem;
  text-align: center;
  width: 100%;
}

.contact-card-2 .owl-dots .owl-dot {
  border: 2px solid #aea9c3;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  margin: 0 0.30rem;
  width: 12px;
  transition: all 0.3s ease 0s;
}

.contact-card-2 .owl-dots .owl-dot:hover {
  border-color: #e76c90;
}

.contact-card-2 .owl-dots .owl-dot.active {
  border: 2px solid #e76c90;
}
/*
 * 10. GROUPS
 */
.group-card {
  margin-top: 0;
  position: relative;
}

.group-card .cover-image {
  display: block;
  width: 120px;;
}
.group-card .cover-image > img {
  display: block;
  width: 120px;
  border: 6px solid #f2f3f8;
  transition: all .25s ease-in-out;
}

.group-card .widget-body {
  position: relative;
}

.group-card .name {
  color: #5d5386;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0;
  margin-top: 2rem;
  margin-bottom: 0;
  text-decoration: none;
  text-align: center;
}

.group-card .category {
  color: #aea9c3;
  font-size: 1rem;
  text-align: center;
}

.group-card .stats {
  margin-top: 1.4rem;
}

.group-card .stats i {
  color: #aea9c3;
  font-size: 2rem;
}

.group-card .stats .counter {
  display: block;
  color: #5d5386;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}

.group-card .stats .text {
  color: #aea9c3;
  display: block;
  text-align: center;
}

.group-card .group-members {
  padding: 0.4rem 0;
}

.group-card .group-members a {
  margin: 0 -1.6rem 0 0;
  transition: all 0.4s ease;
}

.group-card .group-members img {
  width: 50px;
  border: 0.25rem solid #fff;
}
/*
 * 11. ABOUT
 */
.about .about-infos {
  margin-bottom: 1.4rem;
}

.about .about-title {
  color: #5d5386;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.about .about-infos .date {
  font-size: 0.85rem;
  margin-bottom: 0.4rem;
}

.about .about-infos i {
  font-size: 1.4rem;
  color: #fec42d;
}

.about .hobbies {
  text-align: center;
  display: inline-block;
  margin-right: 3.5rem;
}

.about .hobbies:last-child {
  margin-right: 0;
}

.about .hobbies i {
  color: #aea9c3;
  font-size: 3rem;
}
