/* ========================================= */
/*     06) RESPONSIVE                        */
/* ========================================= */
@media (max-width: 1200px) {
  .default-sidebar > .side-navbar,
  .compact-sidebar > .side-navbar,
  .compact-light-sidebar > .side-navbar {
    margin-left: -90px;
    min-width: 90px;
    max-width: 90px;
    text-align: center;
  }

  .default-sidebar > .side-navbar span.heading,
  .compact-sidebar > .side-navbar span.heading,
  .compact-light-sidebar > .side-navbar span.heading {
    margin: 0;
  }

  .default-sidebar > .side-navbar ul a,
  .compact-sidebar > .side-navbar ul a,
  .compact-light-sidebar > .side-navbar ul a {
    padding: 10px 5px;
    border: none;
    font-size: 0.85rem;
  }

  .default-sidebar > .side-navbar ul a[data-toggle="collapse"]::before,
  .compact-sidebar > .side-navbar ul a[data-toggle="collapse"]::before,
  .compact-light-sidebar > .side-navbar ul a[data-toggle="collapse"]::before {
    content: '\f123';
    transform: translateX(50%);
    position: absolute;
    top: auto;
    right: 50%;
    bottom: 0;
    left: auto;
  }

  .default-sidebar > .side-navbar ul a[data-toggle="collapse"][aria-expanded="true"]::before,
  .compact-sidebar > .side-navbar ul a[data-toggle="collapse"][aria-expanded="true"]::before,
  .compact-light-sidebar > .side-navbar ul a[data-toggle="collapse"][aria-expanded="true"]::before {
    content: '\f126';
  }

  .default-sidebar > .side-navbar ul a:hover,
  .compact-sidebar > .side-navbar ul a:hover,
  .compact-light-sidebar > .side-navbar ul a:hover {
    border: none;
  }

  .default-sidebar > .side-navbar ul a i,
  .compact-sidebar > .side-navbar ul a i,
  .compact-light-sidebar > .side-navbar ul a i {
    margin-right: 0;
    margin-bottom: 5px;
    display: block;
    font-size: 1.6rem;
    transition: color 0.3s;
  }

  .default-sidebar > .side-navbar .sidebar-header .title,
  .compact-sidebar > .side-navbar .sidebar-header .title,
  .compact-light-sidebar > .side-navbar .sidebar-header .title {
    display: none;
  }

  .default-sidebar > .side-navbar.shrinked,
  .compact-sidebar > .side-navbar.shrinked,
  .compact-light-sidebar > .side-navbar.shrinked {
    margin-left: 0;
  }

  .content-inner,
  .content-inner.compact {
    width: 100%!important;
    margin-left: 0;
  }

  .content-inner.active {
    width: calc(100% - 90px);
  }

  nav.navbar .navbar-brand .brand-big {
    display: none;
  }

  nav.navbar .navbar-brand .brand-small {
    display: block !important;
  }

  nav.navbar .menu-btn {
    margin-right: 20px;
    font-size: 1.2rem;
    transition: all 0.7s;
  }

  nav.navbar .menu-btn span:first-of-type {
    transform: translateY(16px);
  }

  nav.navbar .menu-btn span:nth-of-type(2) {
    transform: none;
  }

  nav.navbar .menu-btn span:nth-of-type(2)::before, nav.navbar .menu-btn span:nth-of-type(2)::after {
    transform: rotate(45deg);
  }

  nav.navbar .menu-btn span:nth-of-type(2)::after {
    transform: rotate(145deg);
    position: absolute;
    top: -2px;
    left: 0;
  }

  nav.navbar .menu-btn span:last-of-type {
    transform: translateY(-16px);
  }

  nav.navbar .menu-btn.active span:first-of-type {
    transform: none;
  }

  nav.navbar .menu-btn.active span:nth-of-type(2) {
    transform: rotateY(180deg);
  }

  nav.navbar .menu-btn.active span:last-of-type {
    transform: none;
  }

  footer.main-footer.fixed-footer {
    margin-left: 0;
  }

  .content-inner.active footer.main-footer.fixed-footer {
    margin-left: 90px;
  }

  .widget-01 .other-stats {
    padding-top: 1rem;
  }

  .widget-03.blog-image {
    height: 385px !important;
  }
}

@media (max-width: 991px) {
  section.dashboard-header div[class*='col-'] {
    margin-bottom: 20px;
  }

  .project .right-col {
    margin-top: 20px;
    margin-left: 65px;
  }

  .project .project-progress {
    width: 150px;
  }

  section.charts h2 {
    font-size: 1rem;
  }

  .d-scroll {
    max-height: 640px;
  }
}

@media (max-width: 576px) {
  h1, .h1 {
    font-size: 2rem !important;
    font-weight: 700;
  }

  .horizontal-menu {
    padding: 0 15px;
  }

  .db-modern nav.navbar {
    padding: 0;
  }

  .navbar-brand {
    margin-right: 0.3rem;
  }

  nav.navbar {
    font-size: 1rem;
  }

  nav.navbar .navbar-brand .brand-big {
    display: none;
  }

  nav.navbar .badge {
    width: 19px;
    height: 19px;
  }

  nav.navbar .nav-item > a {
    width: 40px;
  }

  nav.navbar .nav-item a > span {
    height: 10px;
    width: 10px;
  }

  nav.navbar .dropdown-menu {
    right: auto;
    left: -50%;
    transform: translateX(-50%);
  }

  nav.navbar a#user {
    margin: 0;
  }

  nav.navbar .avatar {
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }

  footer.main-footer {
    position: relative !important;
  }

  footer.main-footer.fixed-footer {
    margin-left: 0;
  }

  footer.main-footer div[class*='col'] {
    text-align: center !important;
  }

  footer.main-footer .btn {
    margin-bottom: 1.07rem;
  }

  .d-scroll {
    max-height: 500px;
  }

  .off-sidebar-container {
    width: 100%;
  }

  .off-sidebar-header {
    width: 100%;
  }

  .off-sidebar-header h2 {
    padding-left: 20px;
  }

  .messenger-image.messenger-image-default {
    width: 50px;
    height: 50px;
  }

  .widget-01 .today-sales .text {
    margin: 0 0 20px;
  }

  .widget-04 .message-body span {
    float: none;
  }

  .widget-07 li {
    display: block;
    padding-top: 1.4rem;
  }
}